<template>
  <div>
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo top25">
          <img id="logo" src="/images/logo.png" alt="archi.png"/>
        </div>
        <form @submit.prevent="validateBeforeSubmit">
          <div :class="['input-group mb-3', {'is-invalid': $v.loginData.email.$error}]">
            <input
                :class="[{ 'is-invalid': $v.loginData.email.$error }]"
                v-model.trim="loginData.email"
                class="form-control"
                v-bind:placeholder="$t('page.login.placeholder.email')"
                type="email"
                @input="$v.loginData.email.$touch()">
            <span v-if="!$v.loginData.email.required" class="invalid-feedback">
              {{ $t('page.login.error.email.required') }}
            </span>
            <span v-if="!$v.loginData.email.email" class="invalid-feedback">
              {{ $t('page.login.error.email.format') }}
            </span>
          </div>
          <div :class="['input-group mb-3', {'is-invalid': $v.loginData.password.$error}]">
            <input
                :class="{ 'is-invalid': $v.loginData.password.$error }"
                v-model.trim="loginData.password"
                class="form-control"
                v-bind:placeholder="$t('page.login.placeholder.password')"
                type="password"
                @input="$v.loginData.password.$touch()">
            <span v-if="!$v.loginData.password.required" class="invalid-feedback">
                {{ $t('page.login.error.password.required') }}
            </span>
            <span v-if="!$v.loginData.password.minLength" class="invalid-feedback">
                {{ $t('page.login.error.password.length') }}
            </span>
          </div>
          <div class="input-group">
            <input type="submit" class="btn btn-primary form-control"
                   v-bind:value="$t('page.login.button')">
          </div>
        </form>
      </div>
    </div>

  </div>
</template>

<script type="text/babel">
import {required, minLength, email} from 'vuelidate/lib/validators'
import Auth from '../../services/auth'

export default {
  data () {
    return {
      loginData: {
        email: '',
        password: '',
        remember: ''
      }
    }
  },
  validations: {
    loginData: {
      password: {
        required,
        minLength: minLength(6)
      },
      email: {
        required,
        email
      }
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$v.$touch();

      if (!this.$v.$error) {
        Auth.login(this.loginData).then((res) => {
          if (res) {
            const path = '/admin/dashboard/basic';
            if (this.$route.path !== path) {
                this.$router.push(path);
            }
          }
        })
      }
    }
  }
}
</script>
<style scoped lang="scss">
  @import "../../../../../../public/css/auth.css";
</style>
