<template>
  <div>
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo top25">
          <img id="logo" src="/images/logo.png" alt="archi.png"/>
        </div>
        <p class="login-box-msg">{{ $t('register.title') }}</p>
        <form @submit.prevent="validateBeforeSubmit">
          <div :class="['input-group mb-3', {'is-invalid': $v.registerData.email.$error}]">
            <input
                    :class="[{ 'is-invalid': $v.registerData.email.$error }]"
                    v-model.trim="registerData.email"
                    class="form-control"
                    v-bind:placeholder="$t('placeholder.login.email')"
                    type="email"
                    @input="$v.registerData.email.$touch()">
            <span v-if="!$v.registerData.email.required" class="invalid-feedback">
              {{ $t('error.email_required') }}
            </span>
            <span v-if="!$v.registerData.email.email" class="invalid-feedback">
              {{ $t('error.email_email') }}
            </span>
          </div>
          <div :class="['input-group mb-3', {'is-invalid': $v.registerData.password.$error}]">
            <input
                    :class="{ 'is-invalid': $v.registerData.password.$error }"
                    v-model.trim="registerData.password"
                    class="form-control"
                    v-bind:placeholder="$t('placeholder.login.password')"
                    type="password"
                    @input="$v.registerData.password.$touch()">
            <span v-if="!$v.registerData.password.required" class="invalid-feedback">
                {{ $t('error.password_required') }}
            </span>
            <span v-if="!$v.registerData.password.minLength" class="invalid-feedback">
                {{ $t('error.password_format') }} {{ $v.registerData.password.$params.minLength.min }} {{ $t('error.password_character') }}.
            </span>
          </div>
          <div :class="['input-group mb-3', {'is-invalid': $v.registerData.confirm_password.$error}]">
            <input
                    :class="{ 'is-invalid': $v.registerData.confirm_password.$error }"
                    v-model.trim="registerData.confirm_password"
                    class="form-control"
                    v-bind:placeholder="$t('placeholder.login.confirm_password')"
                    type="password"
                    @input="$v.registerData.confirm_password.$touch()">
            <small v-if="!$v.registerData.confirm_password.sameAsPassword" class="invalid-feedback">
              {{ $t('error.same_as') }}
            </small>
          </div>
          <div class="input-group">
            <input type="submit" class="btn btn-primary form-control"
                   :disabled="isSignUp"
                   v-bind:value="$t('register.button')">
          </div>
        </form>
      </div>
    </div>

  </div>
</template>

<script type="text/babel">
    import {required, minLength, email, sameAs} from 'vuelidate/lib/validators'
    import Auth from '../../services/auth'

    export default {
        data () {
            return {
                isSignUp: false,
                registerData: {
                    email: '',
                    password: '',
                    confirm_password: ''
                }
            }
        },
        validations: {
            registerData: {
                confirm_password: {
                    required,
                    sameAsPassword: sameAs('password'),
                },
                password: {
                    required,
                    minLength: minLength(6)
                },
                email: {
                    required,
                    email
                }
            }
        },
        methods: {
            validateBeforeSubmit () {
                this.$v.$touch();

                if (!this.$v.$error) {
                    this.isSignUp = true;
                      Auth.register(this.registerData).then((res) => {
                      if (res) {
                          swal.fire({
                              icon: 'success',
                              text: 'Thank you for registration a new account in our system. Please open '+res+' to verify information and get guidance from us.',
                              showConfirmButton: false,
                              timer: 20000
                          }).then(function () {
                              window.location.href = window.location.origin + "/admin/authenticate/login";
                          });
                      }
                    })
                }
            }
        }
    }
</script>
<style scoped lang="scss">
  @import "../../../../../../public/css/auth.css";
</style>
