<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('breadcrumb.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.dashboard_detail.label') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div>
                <input id="panel-1-ctrl"
                       class="panel-radios" type="radio" name="tab-radios" checked>
                <input id="panel-2-ctrl"
                       class="panel-radios" type="radio" name="tab-radios">
                <input id="panel-3-ctrl"
                       class="panel-radios" type="radio" name="tab-radios">
                <input id="panel-4-ctrl"
                       class="panel-radios" type="radio" name="tab-radios">
                <input id="panel-5-ctrl"
                       class="panel-radios" type="radio" name="tab-radios">
                <ul id="tabs-list">
                    <li id="li-for-panel-1">
                        <label class="panel-label"
                               for="panel-1-ctrl">{{ $t('breadcrumb.dashboard_detail.module.role') }}</label>
                    </li>
                    <li id="li-for-panel-2">
                        <label class="panel-label"
                               for="panel-2-ctrl">{{ $t('breadcrumb.dashboard_detail.module.permission') }}</label>
                    </li>
                    <li id="li-for-panel-3">
                        <label class="panel-label"
                               for="panel-3-ctrl">{{ $t('breadcrumb.dashboard_detail.module.permissionToRole') }}</label>
                    </li>
                    <li id="li-for-panel-4">
                        <label class="panel-label"
                               for="panel-4-ctrl">{{ $t('breadcrumb.dashboard_detail.module.roleToUser') }}</label>
                    </li>
                    <li id="li-for-panel-5" class="last">
                        <label class="panel-label"
                               for="panel-5-ctrl">{{ $t('breadcrumb.dashboard_detail.module.permissionToUser') }}</label>
                    </li>
                </ul>

                <article id="panels">
                    <div class="fullcontent">
                        <section id="panel-1">
                            <main>
                                <component :is="loadRoleTable"></component>
                            </main>
                        </section>
                        <section id="panel-2">
                            <main>
                                <component :is="loadPermissionTable"></component>
                            </main>
                        </section>
                        <section id="panel-3">
                            <main>
                                <component :is="loadRoleAssignToPermission"></component>
                            </main>
                        </section>
                        <section id="panel-4">
                            <main>
                                <component :is="loadModelHasRole"></component>
                            </main>
                        </section>
                        <section id="panel-5">
                            <main>
                                <component :is="loadModelHasPermission"></component>
                            </main>
                        </section>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
import Role from "../../../components/Role";
import Permission from "../../../components/Permission";
import RoleAssignToPermission from "../../../components/RoleAssignToPermission";
import ModelAssignToRole from "../../../components/ModelAssignToRole.vue";
import ModelAssignToPermission from "../../../components/ModelAssignToPermission.vue";
export default {
    data() {
        return {
        }
    },
    computed: {
        loadRoleTable() {
            return Role
        },
        loadPermissionTable() {
            return Permission;
        },
        loadRoleAssignToPermission() {
            return RoleAssignToPermission;
        },
        loadModelHasRole() {
            return ModelAssignToRole;
        },
        loadModelHasPermission() {
            return ModelAssignToPermission;
        }
    }
}
</script>

<style scoped>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);
    ul#tabs-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    label.panel-label {
        display: block;
        width: 100%;
        font-weight: 400;
        cursor: pointer;
        background-color: transparent;
    }
    label.panel-label:hover {
        color: #1d2124;
    }
    #panels .fullcontent {
        margin: 0 auto;
        width: 100%;
    }
    #panels section header label.panel-label {
        padding: 12px 24px;
        box-sizing: border-box;
    }
    #panels section main {
        box-sizing: border-box;
        max-height: 0;
        opacity: 0;
        transition: opacity 600ms;
        overflow-y: hidden;
    }
    #panel-1-ctrl:checked ~ #panels #panel-1 main {
        max-height: initial;
        opacity: 1;
    }
    #panel-2-ctrl:checked ~ #panels #panel-2 main {
        max-height: initial;
        opacity: 1;
    }
    #panel-3-ctrl:checked ~ #panels #panel-3 main {
        max-height: initial;
        opacity: 1;
    }
    #panel-4-ctrl:checked ~ #panels #panel-4 main {
        max-height: initial;
        opacity: 1;
    }
    #panel-5-ctrl:checked ~ #panels #panel-5 main {
        max-height: initial;
        opacity: 1;
    }
    @media all and (max-width: 767px) {
        #nav-ctrl:checked ~ #tabs-list #li-for-panel-1 {
            max-height: 46px;
            opacity: 1;
        }
        #nav-ctrl:checked ~ #tabs-list #li-for-panel-2 {
            max-height: 46px;
            opacity: 1;
        }
        #nav-ctrl:checked ~ #tabs-list #li-for-panel-3 {
            max-height: 46px;
            opacity: 1;
        }
        #nav-ctrl:checked ~ #tabs-list #li-for-panel-4 {
            max-height: 46px;
            opacity: 1;
        }
        #nav-ctrl:checked ~ #tabs-list #li-for-panel-5 {
            max-height: 46px;
            opacity: 1;
        }
        #tabs-list {
            position: relative;
        }
        #tabs-list label.panel-label {
            padding: 12px 0;
        }
        #tabs-list #li-for-panel-1 {
            max-height: 0;
            overflow-y: hidden;
            transition: max-height 200ms;
        }
        #tabs-list #li-for-panel-2 {
            max-height: 0;
            overflow-y: hidden;
            transition: max-height 200ms;
        }
        #tabs-list #li-for-panel-3 {
            max-height: 0;
            overflow-y: hidden;
            transition: max-height 200ms;
        }
        #tabs-list #li-for-panel-4 {
            max-height: 0;
            overflow-y: hidden;
            transition: max-height 200ms;
        }
        #tabs-list #li-for-panel-5 {
            max-height: 0;
            overflow-y: hidden;
            transition: max-height 200ms;
        }
        #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
            max-height: 46px;
            opacity: 1;
        }
        #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
            max-height: 46px;
            opacity: 1;
        }
        #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
            max-height: 46px;
            opacity: 1;
        }
        #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
            max-height: 46px;
            opacity: 1;
        }
        #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 {
            max-height: 46px;
            opacity: 1;
        }
        #panels .fullcontent {
            width: 100%;
        }
        #panels section header {
            display: block;
        }
    }
    @media all and (min-width: 768px) {
        #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
            pointer-events: none;
            cursor: default;
            box-shadow: none;
            border-right: none;
        }
        #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
            background-color: #7ab6fc;
            color: #ffffff;
            font-weight: 600;
        }
        #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after {
            height: 1px;
        }
        #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
            pointer-events: none;
            cursor: default;
            box-shadow: none;
            border-right: none;
        }
        #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
            background-color: #7ab6fc;
            color: #ffffff;
            font-weight: 600;
        }
        #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after {
            height: 1px;
        }
        #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
            pointer-events: none;
            cursor: default;
            box-shadow: none;
            border-right: none;
        }
        #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
            background-color: #7ab6fc;
            color: #ffffff;
            font-weight: 600;
        }
        #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after {
            height: 1px;
        }
        #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
            pointer-events: none;
            cursor: default;
            box-shadow: none;
            border-right: none;
        }
        #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
            background-color: #7ab6fc;
            color: #ffffff;
            font-weight: 600;
        }
        #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label::after {
            height: 1px;
        }
        #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 {
            pointer-events: none;
            cursor: default;
            box-shadow: none;
            border-right: none;
        }
        #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label {
            background-color: #7ab6fc;
            color: #ffffff;
            font-weight: 600;
        }
        #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label::after {
            height: 1px;
        }
        ul#tabs-list {
            text-align: center;
            display: flex;
            margin: 10px 2px;
        }
        ul#tabs-list li {
            display: inline-block;
            text-align: center;
            width: 20%;
        }
        ul#tabs-list li:hover {
            transition: none;
            border-right: none;
        }
        ul#tabs-list li label.panel-label {
            position: relative;
            padding: 6px 0;
            font-size: 14px;
        }
        ul#tabs-list li label.panel-label::after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 100%;
            height: 0;
            transition-property: height;
            transition-duration: 200ms;
        }
    }
    main {
        width: 100%;
        margin: 0 auto;
    }
    .panel-radios {
        display: none;
        width: 20px;
        opacity: 0.5;
        z-index: 99;
    }
</style>
