<template>
    <div class="template-container">
        <site-header/>
        <div id="wrapper">
            <section class="page_404">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="col-sm-12 col-sm-offset-1  text-center">
                                <div class="four_zero_four_bg">
                                    <h1 class="text-center ">404</h1>
                                </div>

                                <div class="contant_box_404">
                                    <h3 class="h2">
                                        {{ $t('404.title') }}
                                    </h3>
                                    <p>{{ $t('404.message') }}</p>
                                    <router-link to="/home" class="link_404">{{ $t('404.navigation') }}</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script type="text/babel">
    import SiteHeader from './../../layouts/partials/front-office/Header'

    export default {
        components: {
            SiteHeader
        },
        mounted () {
            this.$utils.setLayout('default')
        },
        methods: {

        }
    }
</script>
<style scoped>
    body {
        overflow-y: hidden;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        padding: 20px 0;
        width: 100%;
        background: #fff;
        -webkit-transform: translate3d(0,0,0);
    }
    .page_404 {
        padding:40px 0;
        background:#fff;
        font-family: 'Arvo', serif;
    }

    .page_404  img {
        width:100%;
    }

    .four_zero_four_bg {
        height: 450px;
        background: url('../../../../../../../public/images/dribbble_1.gif') center;
    }

    .four_zero_four_bg h1 {
        font-size:80px;
    }

    .four_zero_four_bg h3 {
        font-size:80px;
    }

    .link_404 {
        color: #fff!important;
        padding: 10px 20px;
        background: black;
        margin: 20px 0;
        display: inline-block;
    }

    .contant_box_404 {
        margin-top:-50px;
    }
</style>
