<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.post.post') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('breadcrumb.management.table.all') }} {{ $t('breadcrumb.post.post') }}{{ $t('noun.form_1') }}</h3>

                                <div class="card-tools date">
                                    <select @change="onChange($event)" class="form-control">
                                        <option value="desc">{{ $t('filter.sort.newest') }}</option>
                                        <option value="asc">{{ $t('filter.sort.oldest') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools status">
                                    <select @change="onChange($event)" class="form-control">
                                        <option value="1">{{ $t('filter.status.view') }}</option>
                                        <option value='0'>{{ $t('filter.status.hide') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools blogs">
                                    <input v-model="searchData" type="text" v-bind:placeholder="$t('filter.search.post')" class="form-control">
                                </div>
                                <div class="card-tools">
                                    <router-link class="btn btn-success active" to="/admin/xblog/create">
                                        {{ $t('button.new') }}
                                    </router-link>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="hidden">{{ $t('breadcrumb.post.table.id') }}</th>
                                        <th class="width15">{{ $t('breadcrumb.post.table.name') }}</th>
                                        <th class="width10">{{ $t('breadcrumb.post.table.thumbnail') }}</th>
                                        <th class="width5 text-center">{{ $t('breadcrumb.post.table.language') }}</th>
                                        <th class="width5 align-center">{{ $t('breadcrumb.post.table.is_editable') }}</th>
                                        <th class="width5 align-center">{{ $t('breadcrumb.post.table.status') }}</th>
                                        <th class="width10">{{ $t('breadcrumb.post.table.date') }}</th>
                                        <th class="width10 align-center">{{ $t('breadcrumb.post.table.manipulation') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="blog in blogs.data" :key="blog.id">
                                        <td class="hidden">{{ blog.id }}</td>
                                        <td v-if="locale === 'vi'">{{ blog.title_vi }}</td>
                                        <td v-else-if="locale === 'en'">{{ blog.title_en }}</td>
                                        <td v-for="thumbnail in blog.thumbnail" :key="thumbnail.id" v-if="((208 === thumbnail.width) || (258 === thumbnail.height))">
                                            <img v-show="(208 === thumbnail.width) || (258 === thumbnail.height)" alt="Thumbnail" class="table-avatar img_thumbnail" v-lazy="thumbnail.thumbnail">
                                        </td>
                                        <td class="text-center">
                                            <img v-if="blog.title_vi !== ''" src="/images/vi.jpeg"/>
                                            <img class="space2" v-if="blog.title_en !== ''" src="/images/en.jpeg"/>
                                        </td>
                                        <td class="align-center">
                                            <div class="top5 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input" :id="'editableSwitch' + blog.id" v-model="blog.is_editable" :checked="blog.is_editable">
                                                <label class="custom-control-label" :for="'editableSwitch' + blog.id"></label>
                                            </div>
                                        </td>
                                        <td class="align-center">
                                            <div class="top5 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input" :id="'statusSwitch' + blog.id" v-model="blog.status" :checked="blog.status" @change="onToogleStatus(blog.id, blog.status)">
                                                <label class="custom-control-label" :for="'statusSwitch' + blog.id"></label>
                                            </div>
                                        </td>
                                        <td>{{ blog.date | fullDate }}</td>
                                        <td class="text-center">
                                            <router-link :to="'/admin/blog/image/' + blog.id">
                                                <i class="btn btn-success fa fa-image blue"></i>
                                            </router-link>
                                            <span class="space2"></span>
                                            <router-link :to="'/admin/blogs/' + blog.id">
                                                <i class="btn btn-primary fa fa-edit blue"></i>
                                            </router-link>
                                            <span class="space2"></span>
                                            <a href="" @click.prevent="deleteBlog(blog.id)">
                                                <i class="btn btn-danger fa fa-trash red"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="pagination justify-content-center m-0 float-right">
                                    <pagination :data="blogs" @pagination-change-page="getBlogs"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {bus} from "../../../helpers/bus";
    import Constant from "../../../helpers/constants";

    export default {
        data() {
            return {
                blogs : {},
                backups: {},
                searchData: '',
                sortDate: 'desc',
                statusData: 1,
                keyupTimer: 0,
                locale : localStorage.getItem('locale')
            }
        },
        mounted() {
            this.getBlogs();
        },
        watch: {
            'searchData'(newVal) {
                if (newVal.length > 0) {
                    clearTimeout(this.keyupTimer);
                    this.keyupTimer = setTimeout(() => {
                        this.filterBlog();
                    }, 300);
                }
            }
        },
        methods: {
            onChange(event) {
                if(isNaN(event.target.value)) {
                    this.sortDate = event.target.value;
                } else {
                    this.statusData = event.target.value;
                }
                this.filterBlog();
            },
            filterBlog() {
                const formData = new FormData();
                formData.append("keyword", this.searchData);
                formData.append("status", this.statusData);
                formData.append("date", this.sortDate);
                formData.append("type", 'blog');
                axios.post('/api/search', formData)
                    .then(response => {
                        if (response.data.data.length >= 0) {
                            this.blogs = response.data;
                            this.blogs.data.forEach(function(blog) {
                                blog.status = ("0" !== blog.status);
                                blog.is_editable = ("0" !== blog.is_editable);
                                let check = false;
                                for (let i = 0; i < blog.thumbnail.length; i++) {
                                    if ((208 === blog.thumbnail[i].width) || (258 === blog.thumbnail[i].height)) {
                                        check = true;
                                        break;
                                    }
                                }
                                if (!check) {
                                    blog.thumbnail.push({"width": "208", "height": "258", "thumbnail": window.location.origin+"/images/thumbnail.png"});
                                    return false;
                                }
                            });
                        }
                    });
            },
            getBlogs(page = 1) {
                axios.get('/api/blog?page=' + page)
                    .then(response => {
                        this.blogs = response.data;
                        this.backups = this.blogs;
                        this.blogs.data.forEach(function(blog) {
                            blog.status = ("0" !== blog.status);
                            blog.is_editable = ("0" !== blog.is_editable);
                            let check = false;
                            for (let i = 0; i < blog.thumbnail.length; i++) {
                                if ((208 === blog.thumbnail[i].width) || (258 === blog.thumbnail[i].height)) {
                                    check = true;
                                    break;
                                }
                            }
                            if (!check) {
                                blog.thumbnail.push({"width": "208", "height": "258", "thumbnail": window.location.origin+"/images/thumbnail.png"});
                                return false;
                            }
                        });
                    });
            },
            deleteBlog(id) {
                swal.fire({
                    title: this.$t("dialog.label.title"),
                    text: this.$t("dialog.label.text"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.button.cancel"),
                    confirmButtonText: this.$t("dialog.button.delete")
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/blog/'+id)
                            .then(() => {
                                bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                                Fire.$emit('reload');
                            }).catch(() => {
                                bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                        });
                    }
                })
            },
            async onToogleStatus(id, status) {
                this.$Progress.start();
                await axios.post('/api/blog', {
                    'id': id,
                    'status': status
                }, {
                    headers: {
                        'blog_id': id
                    }
                })
                    .then(() => {
                        bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                        Fire.$emit('reload');
                        this.$Progress.finish();
                    }).catch(() => {
                        this.$Progress.fail();
                    });
            }
        },
        created() {
            Fire.$on('reload', () => {
                this.getBlogs();
            });
        }
    }
</script>

<style scoped>
    div.blogs {
        width: 20rem;
        right: 8rem;
    }
    div.status {
        width: 8rem;
        right: 28.5rem;
    }
    div.date {
        width: 8rem;
        right: 37rem;
    }
    .hidden {
        display: none;
    }
    .img_thumbnail {
        width: 100px;
        height: auto;
    }
</style>
