<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item"><router-link to="/admin/blog">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.post.post') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('button.new') }} {{ $t('breadcrumb.post.post') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="col-12 removePadding">
                <form @submit.prevent="createBlog()" @keydown="form.onKeydown($event)">
                    <div>
                        <div class="form-group">
                            <label>{{ $t('breadcrumb.post.table.name') }}</label>
                            <input v-model="form.title" type="text" name="title" id="title" class="form-control" @input="changeTitle"
                                   v-bind:placeholder="$t('breadcrumb.post.placeholder.name')"
                                   :class="{ 'is-invalid': form.errors.has('title') }">
                            <has-error :form="form" field="title"></has-error>
                        </div>
                        <label>{{ $t('breadcrumb.post.table.category') }}</label>
                        <div class="form-group">
                            <div @mouseover="allowCategory = false">
                                <treeselect
                                    :multiple="false"
                                    :limit="1"
                                    :disabled="allowCategory"
                                    :options="categories"
                                    v-bind:placeholder="$t('filter.search.category')"
                                    v-model="value"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ $t('breadcrumb.post.table.slug') }}</label>
                            <input v-model="form.slug" type="text" name="slug" id="slug" class="form-control"
                                   :class="{ 'is-invalid': form.errors.has('slug') }">
                            <has-error :form="form" field="slug"></has-error>
                        </div>
                        <label>{{ $t('breadcrumb.post.table.date') }}</label>
                        <datepicker v-model="form.date"
                                    :format="dateFormat"
                                    :full-month-name="true"
                                    :language="es"
                                    :monday-first="true"
                                    :bootstrap-styling="true"
                                    :calendar-button="false">
                        </datepicker>
                        <div class="form-group top15">
                            <label for="_description">{{ $t('breadcrumb.post.table.description') }}</label>
                            <textarea v-model="form.description" class="form-control" id="_description" name="description"
                                      :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                            <has-error :form="form" field="description"></has-error>
                        </div>
                        <label class="top5">{{ $t('breadcrumb.post.table.content') }}</label>
                        <div class="form-group">
                            <div id="app">
                                <vue-editor id="content" @text-change="autosave" :class="{ 'is-invalid': form.errors.has('content') }"
                                            useCustomImageHandler @image-added="handleImageAdded"
                                            v-model="form.content"></vue-editor>
                                <has-error :form="form" field="content"></has-error>
                            </div>
                            <input class="hidden" id="grammarCheck" v-model="valueCheck" contenteditable="true"/>
                        </div>
                        <div class="form-group">
                            <label>{{ $t('breadcrumb.post.table.status') }}</label>
                            <div class="top5 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3" v-model="form.status" :checked="form.status">
                                <label class="custom-control-label" for="customSwitch3"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ $t('breadcrumb.post.table.is_editable') }}</label>
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input id="is_editable" type="checkbox" class="custom-control-input" v-model="form.is_editable" :checked="form.is_editable">
                                <label class="custom-control-label" for="is_editable"></label>
                            </div>
                        </div>
                        <div class="form-group row removePadding mg-center">
                            <label class="col-2 removePadding mg-center">{{ $t('breadcrumb.post.table.tag') }}</label>
                            <div class="col-10 removePadding p_right_0">
                                <multiselect v-show="'vi' == this.locale" v-model="form.tags" v-bind:tag-placeholder="$t('breadcrumb.post.placeholder.tag')" v-bind:placeholder="$t('breadcrumb.post.placeholder.tag')" label="name_vi" track-by="name_vi" :options="options" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
                                <multiselect v-show="'en' == this.locale" v-model="form.tags" v-bind:tag-placeholder="$t('breadcrumb.post.placeholder.tag')" v-bind:placeholder="$t('breadcrumb.post.placeholder.tag')" label="name_en" track-by="name_en" :options="options" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
                            </div>
                        </div>
                        <div class="top20"></div>
                        <div class="form-group row removePadding mg-center">
                            <label class="col-2 removePadding mg-center">{{ $t('breadcrumb.post.table.multiple_languages') }}</label>
                            <select name="locale" v-model="form.lang" id="lang" class="col-10 form-control">
                                <option value="vi">{{ $t('common.lang_vi') }}</option>
                                <option value="en">{{ $t('common.lang_en') }}</option>
                            </select>
                        </div>
                        <div class="form-group top20">
                            <button type="submit" class="form-control btn btn-primary">{{ $t('button.new') }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import Datepicker from 'vuejs-datepicker'
import {vi, en} from 'vuejs-datepicker/dist/locale'
import Multiselect from 'vue-multiselect'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import {bus} from "../../../helpers/bus";
import Constant from "../../../helpers/constants";
export default {
    components: {
        VueEditor,
        Datepicker,
        Multiselect,
        Treeselect
    },
    data() {
        return {
            options: [],
            category_id: 0,
            dialog: true,
            allowCategory: false,
            valueCheck: '',
            suggest: '',
            errors : {
                title: '',
                description : '',
                content : ''
            },
            value: null,
            categories: [],
            form: new Form({
                title : '',
                slug : '',
                description: '',
                content: '',
                status : 1,
                category_id: "",
                is_editable: 1,
                tags: [],
                lang : localStorage.getItem('locale'),
                date: new Date()
            }),
            locale : localStorage.getItem('locale'),
            dateFormat: localStorage.getItem('locale') === "vi" ? 'dd MMMM yyyy' : 'MMMM dd yyyy',
            es: localStorage.getItem('locale') === "vi" ? vi : en,
        };
    },
    watch: {
        'valueCheck'(newVal) {
            if (newVal != null && newVal.length > 0) {
                this.suggest = newVal;
            }
        },
        'value'(newVal) {
            this.allowCategory = null !== newVal;
            this.form.category_id = newVal;
            this.category_id = newVal;
        }
    },
    mounted() {
        this.getAllCategory();
        new Promise(() => {
            let delayTimer = 0;
            document.addEventListener("selectionchange",event=> {
                let selection = document.getSelection ? document.getSelection().toString() :  document.selection.createRange().toString() ;
                if (0 !== selection.length) {
                    clearTimeout(delayTimer);
                    delayTimer = setTimeout(function() {
                        let el = document.getElementById("grammarCheck");
                        if (selection != null) {
                            el.value = selection;
                        }
                        el.dispatchEvent(new Event('input'));
                    }, 500);
                }
            })

            const stickyContainer = $('#app').find('.ql-toolbar');
            const stickyMobile = stickyContainer.offset().top;
            const stickyDesktop = stickyContainer.offset().top;
            const stickyNav = () => {
                if ($(window).outerWidth() <= 1024) {
                    if ($(window).scrollTop() > stickyMobile) {
                        stickyContainer.addClass('isSticky');
                    } else {
                        stickyContainer.removeClass('isSticky');
                    }
                }
                if ($(window).outerWidth() > 1025) {
                    if ($(window).scrollTop() >= stickyDesktop) {
                        stickyContainer.addClass('isSticky');
                    } else {
                        stickyContainer.removeClass('isSticky');
                    }
                }
            };
            stickyNav();
            $(window).scroll(function () {
                stickyNav();
            });
        })
    },
    created() {
        this.getAllTag();
    },
    methods: {
        autosave() {
            /** Analyze grammar and suggest how to write formal article */
        },
        addTag(newTag) {
            const tag = {
                id: 0,
                name_vi: newTag,
                name_en: newTag
            };
            this.options.push(tag);
            this.form.tags.push(tag);
        },
        getAllCategory() {
            axios.get('/api/category', {
                headers: {
                    'type': 'all'
                }
            })
                .then(data => {
                    this.categories = data.data;
                }).catch(() => {
                    this.$Progress.fail();
                });
        },
        getAllTag() {
            axios.get('/api/tag', {
                headers: {
                    'blog_id': -1
                }
            })
                .then(data => {
                    this.options = data.data;
                }).catch(() => {
                    this.$Progress.fail();
                });
        },
        changeTitle() {
            this.form.slug = global.slug(this.form.title);
        },
        handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
            const formData = new FormData();
            formData.append("file", file);
            axios.post('/api/ximage', formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        'Authorization': 'Bearer ' + window.localStorage.getItem('auth.token')
                    }
                })
                .then(result => {
                    let url = result.data;
                    Editor.insertEmbed(cursorLocation, "image", url);
                    resetUploader();
                })
                .catch(err => {
                    console.log(err);
                });
        },
        async createBlog() {
            this.$Progress.start();
            await this.form.post('/api/blog')
                .then(() => {
                    bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                    this.$Progress.finish();
                    this.$router.push('/admin/blog');
                }).catch(() => {
                    bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                    this.$Progress.fail();
                });
        }
    }
};
</script>
<style src="../../../../../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
 #_description {
    min-height: 240px;
 }
 #content{
     height: auto;
 }
 .category_change {
     width: 28px;
     height: auto;
     border: 1px solid #e8e8e8;
     padding: 5px 6px;
 }
 div.input-group > input.form-control {
     cursor: pointer;
 }
 div.p_right_0 {
     padding-right: 0 !important;
 }
</style>
