<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.category.category') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('breadcrumb.management.table.all') }} {{ $t('breadcrumb.category.category') }}{{ $t('noun.form_1') }}</h3>

                                <div class="card-tools date">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="desc">{{ $t('filter.sort.newest') }}</option>
                                        <option value="asc">{{ $t('filter.sort.oldest') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools status">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="1">{{ $t('filter.status.view') }}</option>
                                        <option value='0'>{{ $t('filter.status.hide') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools categories">
                                    <input v-model="searchData" type="text" v-bind:placeholder="$t('filter.search.category')" class="form-control">
                                </div>
                                <div class="card-tools">
                                    <button class="btn btn-success" @click="newModal">
                                        {{ $t('button.new') }}
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="hidden">{{ $t('breadcrumb.category.table.id') }}</th>
                                        <th>{{ $t('breadcrumb.category.table.name') }}</th>
                                        <th class="width40">{{ $t('breadcrumb.category.table.description') }}</th>
                                        <th class="text-center">{{ $t('breadcrumb.category.table.language') }}</th>
                                        <th class="width15">{{ $t('breadcrumb.category.table.date') }}</th>
                                        <th class="width20 align-center">{{ $t('breadcrumb.category.table.manipulation') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="category in categories.data" :key="category.id">
                                        <td class="hidden">{{ category.id }}</td>
                                        <td v-if="locale === 'en'">{{ category.name_en }}</td>
                                        <td v-else-if="locale === 'vi'">{{ category.name_vi }}</td>
                                        <td v-if="locale === 'en'">{{ category.description_en | ellipseShortText }}</td>
                                        <td v-else-if="locale === 'vi'">{{ category.description_vi | ellipseShortText }}</td>
                                        <td class="text-center">
                                            <img v-if="category.name_vi !== ''" src="/images/vi.jpeg"/>
                                            <img class="space2" v-if="category.name_en !== ''" src="/images/en.jpeg"/>
                                        </td>
                                        <td>{{ category.created_at | fullDate }}</td>
                                        <td class="width20">
                                            <router-link :to="'/admin/category/image/' + category.id">
                                                <i class="btn btn-success fa fa-image blue"></i>
                                            </router-link>
                                            <span class="space2"></span>
                                            <a href="" @click.prevent="editModal(category)">
                                                <i class="btn btn-primary fa fa-edit blue"></i>
                                            </a>
                                            <span class="space2"></span>
                                            <a href="" @click.prevent="deleteCategory(category.id)">
                                                <i class="btn btn-danger fa fa-trash red"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="pagination justify-content-center m-0 float-right">
                                    <pagination :data="categories" @pagination-change-page="getCategories"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" v-show="!mode">{{ $t('button.new') }} {{ $t('breadcrumb.category.category') }}</h5>
                                <h5 class="modal-title" v-show="mode">{{ $t('button.update') }} {{ $t('breadcrumb.category.category') }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form @submit.prevent="mode ? updateCategory() : createCategory()" @keydown="form.onKeydown($event)">
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-sm-2 mg-center">{{ $t('breadcrumb.category.table.name') }}</label>
                                        <input v-model="form.name" type="text" class="form-control col-sm-10" @input="changeTitle"
                                               v-bind:placeholder="$t('breadcrumb.category.table.name')"
                                               :class="{ 'is-invalid': form.errors.has('name') }">
                                        <span class="col-sm-2"></span>
                                        <has-error :form="form" field="name" class="col-sm-10"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 mg-center">{{ $t('breadcrumb.category.table.slug') }}</label>
                                        <input v-model="form.slug" type="text" class="form-control col-sm-9" :disabled="true"
                                               :class="{ 'is-invalid': form.errors.has('slug') }">
                                        <span class="col-sm-2"></span>
                                        <has-error :form="form" field="slug" class="col-sm-10"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 mg-center">{{ $t('breadcrumb.category.table.description') }}</label>
                                        <textarea v-model="form.description" class="form-control col-sm-10"
                                                  :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                                        <span class="col-sm-2"></span>
                                        <has-error :form="form" field="description" class="col-sm-10"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 mg-center">{{ $t('breadcrumb.category.table.status') }}</label>
                                        <div class="col-sm-10 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input id="status" type="checkbox" class="custom-control-input" v-model="form.status" :checked="form.status">
                                            <label class="custom-control-label" for="status"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('breadcrumb.category.table.is_editable') }}</label>
                                        <div class="col-sm-10 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input id="is_editable" type="checkbox" class="custom-control-input" v-model="form.is_editable" :checked="form.is_editable">
                                            <label class="custom-control-label" for="is_editable"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 mg-center">{{ $t('breadcrumb.category.table.level') }}</label>
                                        <select @change="onChange($event)" name="level" v-model="form.level" id="level" class="form-control col-sm-9" :class="{ 'is-invalid': form.errors.has('level') }">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                        <span class="col-sm-2"></span>
                                        <div class="col-sm-10 top10" id="parent_cat">
                                            <div class="custom-control custom-radio top10" v-for="category in parent_categories">
                                                <input class="custom-control-input" type="radio" v-bind:id="'customRadio'+category.id" v-bind:value="category.id" v-model="form.parent_id">
                                                <label v-if="locale === 'en'" v-bind:for="'customRadio'+category.id" class="custom-control-label">{{ category.name_en }}</label>
                                                <label v-else-if="locale === 'vi'" v-bind:for="'customRadio'+category.id" class="custom-control-label">{{ category.name_vi }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 mg-center">{{ $t('breadcrumb.category.table.multiple_languages') }}</label>
                                        <select name="locale" v-model="form.lang" id="role" class="form-control col-sm-9" :class="{ 'is-invalid': form.errors.has('lang') }">
                                            <option value="vi">{{ $t('common.lang_vi') }}</option>
                                            <option value="en">{{ $t('common.lang_en') }}</option>
                                        </select>
                                        <has-error :form="form" field="lang" class="col-sm-6"></has-error>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('button.close') }}</button>
                                    <button v-show="!mode" type="submit" class="btn btn-primary">{{ $t('button.new') }}</button>
                                    <button v-show="mode" type="submit" class="btn btn-primary">{{ $t('button.update') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {bus} from "../../../helpers/bus";
    import Constant from "../../../helpers/constants";
    export default {
        data() {
            return {
                mode : true,
                categories : {},
                parent_categories : {},

                backups: {},
                searchData: '',
                keyupTimer: 0,

                sortDate: 'desc',
                statusData: 1,

                locale : localStorage.getItem('locale'),
                form: new Form({
                    id: '',
                    name : '',
                    slug: '',
                    description : '',
                    status: 1,
                    level: 1,
                    is_editable: 1,
                    parent_id: null,
                    lang : localStorage.getItem('locale')
                })
            }
        },
        watch: {
            'searchData'(newVal) {
                if (newVal.length > 0) {
                    clearTimeout(this.keyupTimer);
                    this.keyupTimer = setTimeout(() => {
                        this.filterCategory();
                    }, 300);
                }
            }
        },
        mounted() {
            this.getCategories();
        },
        methods: {
            onCChange(event) {
                if(isNaN(event.target.value)) {
                    this.sortDate = event.target.value;
                } else {
                    this.statusData = event.target.value;
                }
                this.filterCategory();
            },
            onChange(event) {
                if (event.target.value > 1) {
                    this.getParentCategory(event.target.value);
                } else {
                    this.parent_categories = null;
                }
            },
            filterCategory() {
                const formData = new FormData();
                formData.append("keyword", this.searchData);
                formData.append("status", this.statusData);
                formData.append("date", this.sortDate);
                formData.append("type", 'category');
                axios.post('/api/search', formData)
                    .then(response => {
                        if (response.data.data.length >= 0) {
                            this.categories = response.data;
                        }
                    });
            },
            async getParentCategory(level) {
                await axios.get('/api/category/' + level)
                    .then(data => {
                        this.parent_categories = data.data;
                    }).catch(() => {
                    this.$Progress.fail();
                });
            },
            changeTitle() {
                this.form.slug = global.slug(this.form.name);
            },
            async getCategories(page = 1) {
                await axios.get('/api/category?page=' + page)
                    .then(response => {
                        this.categories = response.data;
                        this.backups = this.categories;
                    });
            },
            newModal() {
                this.mode = false;
                this.form.reset();
                this.form.clear();

                this.parent_categories = null;
                $('#addNew').modal('show');
            },
            editModal(category) {
                this.mode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(category);
                this.form.lang = this.locale;
                this.form.status = ("0" != category.status);
                this.form.is_editable = ("0" != category.is_editable);
                if ("vi" === this.locale) {
                    this.form.name = category.name_vi;
                    this.form.description = category.description_vi;
                    this.form.slug = category.slug_vi;
                } else {
                    this.form.name = category.name_en;
                    this.form.description = category.description_en;
                    this.form.slug = category.slug_en;
                }
                this.getParentCategory(category.level);
            },
            async updateCategory() {
                this.$Progress.start();
                await this.form.put('/api/category/' + this.form.id)
                    .then(() => {
                        $("#addNew").modal('hide');
                        bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                        this.$Progress.finish();
                        Fire.$emit('reload');
                    }).catch(() => {
                        bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                        this.$Progress.fail();
                });
            },
            async createCategory() {
                this.$Progress.start();
                await this.form.post('/api/category')
                    .then(() => {
                        $("#addNew").modal('hide');
                        this.$Progress.finish();
                        bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                        Fire.$emit('reload');
                    }).catch(() => {
                        bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                        this.$Progress.fail();
                });
            },
            deleteCategory(id) {
                swal.fire({
                    title: this.$t("dialog.label.title"),
                    text: this.$t("dialog.label.text"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.button.cancel"),
                    confirmButtonText: this.$t("dialog.button.delete")
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/category/'+id)
                            .then(() => {
                                bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                                this.$Progress.finish();
                                Fire.$emit('reload');
                            }).catch(() => {
                                bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                                this.$Progress.error();
                        });
                    }
                })
            }
        },
        created() {
            Fire.$on('reload', () => {
                this.getCategories();
            });
        }
    }
</script>

<style scoped>
    .hidden {
        display: none;
    }
    .modal-content {
        padding-right: 20px;
    }
    .custom-radio {
        padding-left: 8px;
    }
    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: normal;
    }
    div.table-responsive > table > tbody > tr > td:last-child {
        display: flex;
    }
    div.categories {
        width: 20rem;
        right: 8rem;
    }
    div.status {
        width: 8rem;
        right: 28.5rem;
    }
    div.date {
        width: 8rem;
        right: 37rem;
    }
    td.force-center {
        text-align: center;
        margin: auto;
        display: block !important;
    }
</style>
