<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                                <li class="breadcrumb-item"><router-link to="/admin/yblog/category">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.category.category') }}</router-link></li>
                                <li class="breadcrumb-item active">{{ $t('button.new') }} {{ $t('breadcrumb.category.image') }}</li>
                            </ol>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.category.table.thumbnail') }}{{ $t('noun.form_1') }}</h3>
                                <div class="card-tools">
                                    <div class="btn-group">
                                        <file-upload
                                                class="btn btn-primary dropdown-toggle"
                                                :post-action="postAction"
                                                :extensions="extensions"
                                                :accept="accept"
                                                :multiple="multiple"
                                                :directory="directory"
                                                :size="size || 0"
                                                :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                                                :headers="headers"
                                                :data="data"
                                                :drop="drop"
                                                :drop-directory="dropDirectory"
                                                :add-index="addIndex"
                                                v-model="files"
                                                @input-filter="inputFilter"
                                                @input-file="inputFile"
                                                ref="upload">
                                            <i class="fa fa-plus"></i>
                                            {{ $t('file.add') }}
                                        </file-upload>
                                        <div class="dropdown-menu">
                                            <label class="dropdown-item" :for="name">{{ $t('file.type.image') }}</label>
                                            <a class="dropdown-item" href="#" @click="onAddFolder">{{ $t('file.type.folder') }}</a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success" v-if="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true">
                                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                        {{ $t('file.upload') }}
                                    </button>
                                    <button type="button" class="btn btn-danger"  v-else @click.prevent="$refs.upload.active = false">
                                        <i class="fa fa-stop" aria-hidden="true"></i>
                                        {{ $t('file.dialog.stop') }}
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <div class="upload" v-show="!isOption">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>{{ $t('breadcrumb.thumbnail.table.id') }}</th>
                                                <th>{{ $t('breadcrumb.thumbnail.table.thumbnail') }}</th>
                                                <th>{{ $t('breadcrumb.thumbnail.table.name') }}</th>
                                                <th>{{ $t('breadcrumb.thumbnail.table.size') }}</th>
                                                <th>{{ $t('breadcrumb.thumbnail.table.status') }}</th>
                                                <th class="width10">{{ $t('breadcrumb.thumbnail.table.manipulation') }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-if="!files.length">
                                                <td colspan="7">
                                                    <div class="text-center p-5">
                                                        <h4>{{ $t('file.label.drop_upload_file') }}<br/>{{ $t('file.label.or') }}</h4>
                                                        <label :for="name" class="btn btn-lg btn-primary">{{ $t('file.label.choose_file') }}</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr v-for="(file, index) in files" :key="file.id">
                                                <td>{{index+1}}</td>
                                                <td>
                                                    <img v-if="file.thumb" :src="file.thumb" width="240" height="auto" />
                                                    <span v-else>No Image</span>
                                                </td>
                                                <td>
                                                    <div class="filename">
                                                        {{file.name}}
                                                    </div>
                                                    <div class="progress" v-if="file.active || file.progress !== '0.00'">
                                                        <div :class="{'progress-bar': true, 'progress-bar-striped': true, 'bg-danger': file.error, 'progress-bar-animated': file.active}" role="progressbar" :style="{width: file.progress + '%'}">{{file.progress}}%</div>
                                                    </div>
                                                </td>
                                                <td>{{file.size | formatSize}}</td>

                                                <td v-if="file.error">{{file.error}}</td>
                                                <td v-else-if="file.success">success</td>
                                                <td v-else-if="file.active">active</td>
                                                <td v-else></td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button">
                                                            {{ $t('file.dialog.action') }}
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a :class="{'dropdown-item': true, disabled: !file.active}" href="#" @click.prevent="file.active ? $refs.upload.update(file, {error: 'cancel'}) : false">{{ $t('file.dialog.remove') }}</a>

                                                            <a class="dropdown-item" href="#" v-if="file.active" @click.prevent="$refs.upload.update(file, {active: false})">{{ $t('dialog.abort') }}</a>
                                                            <a class="dropdown-item" href="#" v-else-if="file.error && file.error !== 'compressing' && $refs.upload.features.html5" @click.prevent="$refs.upload.update(file, {active: true, error: '', progress: '0.00'})">{{ $t('file.dialog.upload') }}</a>
                                                            <a :class="{'dropdown-item': true, disabled: file.success || file.error === 'compressing'}" href="#" v-else @click.prevent="file.success || file.error === 'compressing' ? false : $refs.upload.update(file, {active: true})">{{ $t('file.dialog.upload') }}</a>

                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#" @click.prevent="$refs.upload.remove(file)">{{ $t('file.dialog.remove') }}</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="example-footer">
                                        <div class="footer-status float-left">
                                            <span v-show="caseSlider">{{ $t('file.size.920_770') }}: <span class="red text-bold">920px x 770px</span>;</span>
                                            {{ $t('file.size.1304_868') }}: <span class="red text-bold">1304px x 868px</span>;
                                            <span v-show="caseThumbnailSmall">{{ $t('file.size.362_167') }}: <span class="red text-bold">362px x 167px</span>;</span>
                                            <span v-show="caseBanner">{{ $t('file.size.1920_326') }}: <span class="red text-bold">1920px x 326px</span></span>
                                        </div>
                                        <div class="footer-status float-right">
                                            Drop: {{$refs.upload ? $refs.upload.drop : false}},
                                            Active: {{$refs.upload ? $refs.upload.active : false}},
                                            Uploaded: {{$refs.upload ? $refs.upload.uploaded : true}},
                                            Drop active: {{$refs.upload ? $refs.upload.dropActive : false}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="hidden">ID</th>
                                        <th>{{ $t('breadcrumb.thumbnail.table.thumbnail') }}</th>
                                        <th>{{ $t('breadcrumb.thumbnail.table.ratio') }}</th>
                                        <th>{{ $t('breadcrumb.thumbnail.table.design') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="thumbnail in thumbnails.data" :key="thumbnail.id">
                                        <td class="hidden">{{ thumbnails.id }}</td>
                                        <td @click="deleteImage(thumbnail.id)">
                                            <img alt="Thumbnail" class="table-avatar img_thumbnail" v-lazy="thumbnail.thumbnail">
                                        </td>
                                        <td>{{ thumbnail.width }} x {{ thumbnail.height }}</td>
                                        <td class="text-right" v-show="thumbnail.type == '1'">{{ $t('image.slider') }}</td>
                                        <td class="text-right" v-show="thumbnail.type == '2'">{{ $t('image.thumbnail') }}</td>
                                        <td class="text-right" v-show="thumbnail.type == '3'">{{ $t('image.thumbnail_small') }}</td>
                                        <td class="text-right" v-show="thumbnail.type == '4'">{{ $t('image.banner') }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="pagination justify-content-center m-0 float-right">
                                    <pagination :data="thumbnails" @pagination-change-page="getPictures"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .btn-group .dropdown-menu {
        display: block;
        visibility: hidden;
        transition: all .2s;
    }
    .btn-group:hover > .dropdown-menu {
        visibility: visible;
    }
    .example-footer {
        padding: .75rem 1.25rem;
    }
    .table-responsive {
        overflow: hidden;
    }
    .hidden {
        display: none;
    }
    .img_thumbnail {
        width: 200px;
        height: auto;
    }
</style>

<script>
    import Cropper from 'cropperjs'
    import ImageCompressor from '@xkeshi/image-compressor'
    import FileUpload from 'vue-upload-component'
    import {bus} from "../../../helpers/bus"
    import Constant from "../../../helpers/constants"
    const csrf = $('meta[name="csrf-token"]');
    export default {
        components: {
            FileUpload,
        },
        data() {
            return {
                thumbnails : {},
                _type : '',

                files: [],
                accept: 'image/png,image/gif,image/jpeg,image/webp',
                extensions: 'gif,jpg,jpeg,png,webp',
                minSize: 1024,
                size: 1024 * 1024 * 10,
                multiple: true,
                directory: false,
                drop: true,
                dropDirectory: true,
                addIndex: false,
                thread: 3,
                name: 'file',
                postAction: '/api/category-image',
                headers: {
                    'X-Csrf-Token': csrf.attr('content'),
                    'Authorization': 'Bearer '+window.localStorage.getItem('auth.token')
                },
                data: {
                    '_csrf_token': csrf.attr('content'),
                    'category_id' : this.$route.params.id,
                },
                autoCompress: 1024 * 1024,
                uploadAuto: false,
                isOption: false,
                addData: {
                    show: false,
                    name: '',
                    type: '',
                    content: '',
                },
                editFile: {
                    show: false,
                    name: '',
                },
                caseSlider : true,
                caseThumbnailSmall: true,
                caseBanner: true
            }
        },
        watch: {
            'editFile.show'(newValue, oldValue) {
                if (!newValue && oldValue) {
                    this.$refs.upload.update(this.editFile.id, { error: this.editFile.error || '' })
                }
                if (newValue) {
                    this.$nextTick(function () {
                        if (!this.$refs.editImage) {
                            return
                        }
                        let cropper = new Cropper(this.$refs.editImage, {
                            autoCrop: false,
                        });
                        this.editFile = {
                            ...this.editFile,
                            cropper
                        }
                    })
                }
            },
            'addData.show'(show) {
                if (show) {
                    this.addData.name = '';
                    this.addData.type = '';
                    this.addData.content = '';
                }
            },
        },
        mounted() {
            this.getPictures();
        },
        methods: {
            async getPictures(page = 1) {
                this.caseSlider = true;
                this.caseThumbnailSmall = true;
                this.caseBanner = true;
                await axios.get('/api/category-image?page=' + page, {
                    headers: {
                        'category_id': this.$route.params.id
                    }
                })
                    .then(response => {
                        this.thumbnails = response.data;
                        let scope = this;
                        this.thumbnails.data.forEach(function(thumbnail) {
                            if (thumbnail.width === 920 && thumbnail.height === 770) {
                                scope.caseSlider = false;
                            }
                            if (thumbnail.width === 362 && thumbnail.height === 167) {
                                scope.caseThumbnailSmall = false;
                            }
                            if (thumbnail.width === 1920 && thumbnail.height === 326) {
                                scope.caseBanner = false;
                            }
                        });
                    });
            },
            deleteImage(id) {
                swal.fire({
                    title: this.$t("dialog.label.title"),
                    text: this.$t("dialog.label.text"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.button.cancel"),
                    confirmButtonText: this.$t("dialog.button.delete")
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/category-image/'+id)
                            .then(() => {
                                this.$Progress.finish();
                                bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                                Fire.$emit('reload');
                            }).catch(() => {
                                this.$Progress.error();
                                bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                        });
                    }
                })
            },
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                        return prevent()
                    }
                    if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                        return prevent()
                    }
                    if (newFile.file && newFile.type.substr(0, 6) === 'image/' && this.autoCompress > 0 && this.autoCompress < newFile.size) {
                        newFile.error = 'compressing';
                        const imageCompressor = new ImageCompressor(null, {
                            convertSize: Infinity,
                            maxWidth: 512,
                            maxHeight: 512,
                        });
                        imageCompressor.compress(newFile.file)
                            .then((file) => {
                                this.$refs.upload.update(newFile, { error: '', file, size: file.size, type: file.type })
                            })
                            .catch((err) => {
                                this.$refs.upload.update(newFile, { error: err.message || 'compress' })
                            })
                    }
                }
                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    newFile.blob = '';
                    let URL = window.URL || window.webkitURL;
                    if (URL && URL.createObjectURL) {
                        newFile.blob = URL.createObjectURL(newFile.file)
                    }
                    newFile.thumb = '';
                    if (newFile.blob && newFile.type.substr(0, 6) === 'image/') {
                        newFile.thumb = newFile.blob
                    }
                }
            },
            inputFile(newFile, oldFile) {
                if (newFile && oldFile) {
                    if (newFile.active && !oldFile.active) {
                        if (newFile.size >= 0 && this.minSize > 0 && newFile.size < this.minSize) {
                            this.$refs.upload.update(newFile, { error: 'size' })
                        }
                    }
                    if (newFile.progress !== oldFile.progress) {
                    }
                    if (newFile.error && !oldFile.error) {
                    }
                    if (newFile.success && !oldFile.success) {
                        this.$Progress.finish();
                        bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                        Fire.$emit('reload');
                    }
                }
                if (!newFile && oldFile) {
                    if (oldFile.success && oldFile.response.id) {
                    }
                }
                if (Boolean(newFile) !== Boolean(oldFile) || oldFile.error !== newFile.error) {
                    if (this.uploadAuto && !this.$refs.upload.active) {
                        this.$refs.upload.active = true
                    }
                }
            },
            alert(message) {
                bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
            },
            onAddFolder() {
                if (!this.$refs.upload.features.directory) {
                    bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                    return
                }
                let input = this.$refs.upload.$el.querySelector('input');
                input.directory = true;
                input.webkitdirectory = true;
                this.directory = true;
                input.onclick = null;
                input.click();
                input.onclick = (e) => {
                    console.log(e);
                    this.directory = false;
                    input.directory = false;
                    input.webkitdirectory = false
                }
            }
        },
        created() {
            Fire.$on('reload', () => {
                this.getPictures();
            });
        }
    }
</script>
