<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('nav.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('common.list') }} {{ $t('nav.series') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('common.list') }} {{ $t('nav.series') }}</h3>
                            </div>
                            <div class="full-content">
                                <data-table
                                        :columns="columns"
                                        :filters="filters"
                                        :data="data"
                                        class="videotable"
                                        ref="seriesTable"
                                        :classes="classes"
                                        :per-page="perPage"
                                        :translate="options"
                                        @loading="isLoading = true"
                                        @finishedLoading="isLoading = false"
                                        @on-table-props-changed="refreshTable">
                                    <div slot="filters" slot-scope="{ tableFilters, perPage }">
                                        <div class="row mb-2 control-paragraph">
                                            <div class="col-md-4">
                                                <select class="form-control" v-model="tableFilters.length">
                                                    <option :key="page" v-for="page in perPage">{{ page }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <select
                                                        v-model="tableFilters.filters.status"
                                                        class="form-control">
                                                    <option value>All</option>
                                                    <option value='1'>{{ $t('common.visible') }}</option>
                                                    <option value='0'>{{ $t('common.invisible') }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <input
                                                        name="name"
                                                        type="text"
                                                        class="form-control"
                                                        v-model="tableFilters.search"
                                                        v-bind:placeholder="$t('common.search_table')">
                                            </div>
                                            <div class="col-md-2">
                                                <input
                                                        type="button"
                                                        name="new"
                                                        data-toggle="modal"
                                                        data-target="#newSeriesModal"
                                                        v-bind:value="$t('common.add_new')"
                                                        class="btn btn-primary form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align: center">
                                        <loading
                                                :is-full-page="true"
                                                :active.sync="isLoading">
                                        </loading>
                                    </div>
                                </data-table>
                                <new-modal></new-modal>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <component :form="form" :is="childComponentUpdate"></component>
    </div>
</template>

<script>
    import NewModal from "../../../back/datatable/series/NewModal.vue";
    import UpdateModal from "../../../back/datatable/series/UpdateModal.vue";
    import Manipulation from "../../../back/datatable/series/Manipulation.vue";
    import Thumbnail from "../../../back/datatable/series/Thumbnail.vue";
    import DetailPosts from "../../../back/datatable/series/DetailPosts.vue";
    import TailwindDatatable from "../../../datatable/tailwind.js";
    import Ls from "../../../services/ls";
    import moment from "moment";
    export default {
        computed: {
            childComponentUpdate() {
                return UpdateModal
            }
        },
        components: {
            NewModal, Manipulation
        },
        data() {
            return {
                url: '/api/series',
                perPage: ['20', '50', '100'],
                data: {},
                isLoading: true,
                tableProps: {
                    search: '',
                    length: 20,
                    column: 'id',
                    dir: 'desc'
                },
                options:  {
                    nextButton: this.$t('common.next'),
                    previousButton: this.$t('common.previous'),
                    placeholderSearch: this.$t('common.search_table')
                },
                columns: [
                    {
                        label: this.$t('table.series_name'),
                        name: 'vi' ===  Ls.get('locale') ? 'title_vi' : 'title_en',
                        orderable: true,
                    },
                    {
                        label: this.$t('table.thumbnail'),
                        name: 'thumbnail',
                        orderable: true,
                        component: Thumbnail,
                    },
                    {
                        label: this.$t('table.description'),
                        name: 'vi' ===  Ls.get('locale') ? 'description_vi' : 'description_en',
                        orderable: false,
                        component: DetailPosts,
                    },
                    {
                        label: this.$t('table.published'),
                        name: 'created_at',
                        orderable: true,
                        transform: ({data, name}) => moment(`${data[name]}`).lang(localStorage.getItem('locale')).format('DD MMMM YYYY'),
                    },
                    {
                        label: this.$t('table.manipulation'),
                        name: 'Image',
                        orderable: false,
                        classes: {
                            'btn': true,
                            'btn-primary': true,
                            'btn-sm': true,
                        },
                        event: "click",
                        handler: this.updateImageForSeries,
                        component: Manipulation,
                    }
                ],
                filters: {
                    status: '',
                },
                form : new Form({
                    title: '',
                    description: '',
                    slug: '',
                    blogs: [],
                    blog_id: '',
                    series_id: '',
                    file: null,
                    status: 1,
                    is_editable: 1,
                    lang: localStorage.getItem('locale')
                }),
                errors : {
                    title: '',
                    description: '',
                    slug: '',
                    blog_id: ''
                },
            }
        },
        mixins: [
            TailwindDatatable
        ],
        mounted() {
            this.getSeries(this.url);
        },
        methods: {
            fetchBlogs() {
                if (this.form.blog_id.length > 0) {
                    axios.get('/api/blog/' + this.form.blog_id, {
                        headers: {
                            'type': 'video',
                            'keyword': this.form.blog_id,
                            'lang': this.locale
                        }
                    })
                        .then(data => {
                            if (data.data.length > 0) {
                                this.blogs = data.data;
                            }
                        }).catch(() => {
                            this.$Progress.fail();
                    });
                }
            },
            getSeries(url = this.url, options = this.tableProps) {
                axios.get(url, {
                    params: options
                })
                    .then(response => {
                        this.data = response.data;
                    })
                    .catch(() => {})
            },
            refreshTable(tableProps) {
                this.getSeries(this.url, tableProps);
            },
            updateImageForSeries(data) {
                if (Number.isInteger(data)) {
                    // Update with modal dialog
                    if (this.data.data.length > 0) {
                        this.form.title = 'vi' == Ls.get('locale') ? this.data.data[0].title_vi : this.data.data[0].title_en;
                        this.form.description = 'vi' == Ls.get('locale') ? this.data.data[0].description_vi : this.data.data[0].description_en;
                        this.form.thumbnail = this.data.data[0].thumbnail;
                        this.form.status = 1 == this.data.data[0].status;
                        this.form.blogs = this.data.data[0].blogs;
                        this.form.is_editable = 1 == this.data.data[0].is_editable;
                        this.form.lang = Ls.get('locale');
                        this.form.series_id = this.data.data[0].id;
                    }
                } else {
                    // Other manipulation
                    this.$router.push({
                        name: 'series image',
                        params: { id: data.id }
                    });
                }
            }
        },
        created() {
            Fire.$on('reloadSeries', () => {
                this.getSeries(this.url);
                this.$refs.seriesTable.getData();
            });
        }
    };
</script>

<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);
    div.videotable > div.table-responsive > table > thead > tr > th:last-child {
        text-align: center;
    }
    div.videotable > div.table-responsive > table > tbody > tr > td:last-child {
        text-align: right;
    }

    div.videotable > div.table-responsive > table > tbody > tr > td:nth-child(4) {
        text-align: center;
    }

    div.videotable > div.table-responsive > table > tbody > tr > td:nth-child(3) {
        text-align: center;
    }
    div.videotable > div.table-responsive > table > tbody > tr > td:last-child {
        display: inline;
    }
</style>
