T<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.tag.tag') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('breadcrumb.management.table.all') }} {{ $t('breadcrumb.tag.tag') }}{{ $t('noun.form_1') }}</h3>

                                <div class="card-tools date">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="desc">{{ $t('filter.sort.newest') }}</option>
                                        <option value="asc">{{ $t('filter.sort.oldest') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools status">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="1">{{ $t('filter.status.view') }}</option>
                                        <option value='0'>{{ $t('filter.status.hide') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools tags">
                                    <input v-model="searchData" type="text" v-bind:placeholder="$t('filter.search.tag')" class="form-control">
                                </div>
                                <div class="card-tools">
                                    <button class="btn btn-success" @click="newModal">
                                        {{ $t('button.new') }}
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="hidden">{{ $t('breadcrumb.tag.table.id') }}</th>
                                        <th>{{ $t('breadcrumb.tag.table.name') }}</th>
                                        <th class="width45">{{ $t('breadcrumb.tag.table.description') }}</th>
                                        <th class="text-center width10">{{ $t('breadcrumb.tag.table.language') }}</th>
                                        <th class="text-center width15">{{ $t('breadcrumb.tag.table.date') }}</th>
                                        <th class="text-center width15">{{ $t('breadcrumb.tag.table.manipulation') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="tag in tags.data" :key="tag.id">
                                        <td class="hidden">{{ tag.id }}</td>
                                        <td v-if="locale == 'en'">{{ tag.name_en }}</td>
                                        <td v-else-if="locale == 'vi'">{{ tag.name_vi }}</td>
                                        <td v-if="locale == 'en'">{{ tag.description_en }}</td>
                                        <td v-else-if="locale == 'vi'">{{ tag.description_vi }}</td>
                                        <td class="text-center">
                                            <img v-show="tag.name_vi !== null && tag.name_vi !== ''" src="/images/vi.jpeg"/>
                                            <img class="space2" v-show="tag.name_en !== null && tag.name_en !== ''" src="/images/en.jpeg"/>
                                        </td>
                                        <td class="text-center">{{ tag.created_at | fullDate }}</td>
                                        <td class="text-center width15">
                                            <a href="" @click.prevent="editModal(tag)">
                                                <i class="btn btn-primary fa fa-edit blue"></i>
                                            </a>
                                            <span class="space2"></span>
                                            <a href="" @click.prevent="deleteTag(tag.id)">
                                                <i class="btn btn-danger fa fa-trash red"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="pagination justify-content-center m-0 float-right">
                                    <pagination :data="tags" @pagination-change-page="getTags"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" v-show="!mode">{{ $t('button.new') }} {{ $t('breadcrumb.tag.tag') }}</h5>
                                <h5 class="modal-title" v-show="mode">{{ $t('button.update') }} {{ $t('breadcrumb.tag.tag') }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form @submit.prevent="mode ? updateTag() : createTag()" @keydown="form.onKeydown($event)">
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-sm-2 mg-center">{{ $t('breadcrumb.tag.table.name') }}</label>
                                        <input v-model="form.name" type="text" class="form-control col-sm-10" @input="changeTitle"
                                               :class="{ 'is-invalid': form.errors.has('name') }">
                                        <span class="col-sm-2"></span>
                                        <has-error :form="form" field="name" class="col-sm-10"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 mg-center">{{ $t('breadcrumb.tag.table.slug') }}</label>
                                        <input v-model="form.slug" type="text" class="form-control col-sm-9" :disabled="true"
                                               :class="{ 'is-invalid': form.errors.has('slug') }">
                                        <span class="col-sm-2"></span>
                                        <has-error :form="form" field="slug" class="col-sm-10"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 mg-center">{{ $t('breadcrumb.tag.table.description') }}</label>
                                        <textarea v-model="form.description" class="form-control col-sm-10"
                                                  :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                                        <span class="col-sm-2"></span>
                                        <has-error :form="form" field="description" class="col-sm-10"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('breadcrumb.tag.table.status') }}</label>
                                        <div class="col-sm-10 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input id="status" type="checkbox" class="custom-control-input" v-model="form.status" :checked="form.status">
                                            <label class="custom-control-label" for="status"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('breadcrumb.tag.table.is_editable') }}</label>
                                        <div class="col-sm-10 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input id="is_editable" type="checkbox" class="custom-control-input" v-model="form.is_editable" :checked="form.is_editable">
                                            <label class="custom-control-label" for="is_editable"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 mg-center">{{ $t('breadcrumb.tag.table.multiple_languages') }}</label>
                                        <select name="locale" v-model="form.lang" id="role" class="form-control col-sm-8" :class="{ 'is-invalid': form.errors.has('lang') }">
                                            <option value="vi">{{ $t('common.lang_vi') }}</option>
                                            <option value="en">{{ $t('common.lang_en') }}</option>
                                        </select>
                                        <has-error :form="form" field="lang" class="col-sm-6"></has-error>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('button.close') }}</button>
                                    <button v-show="!mode" type="submit" class="btn btn-primary">{{ $t('button.new') }}</button>
                                    <button v-show="mode" type="submit" class="btn btn-primary">{{ $t('button.update') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {bus} from "../../../helpers/bus";
    import Constant from "../../../helpers/constants";
    export default {
        data() {
            return {
                mode : true,
                tags : {},
                locale : localStorage.getItem('locale'),

                backups: {},
                searchData: '',
                keyupTimer: 0,

                sortDate: 'desc',
                statusData: 1,

                form: new Form({
                    id: '',
                    name : '',
                    slug: '',
                    description : '',
                    status: 1,
                    is_editable: 1,
                    lang : localStorage.getItem('locale')
                })
            }
        },
        watch: {
            'searchData'(newVal) {
                if (newVal.length > 0) {
                    clearTimeout(this.keyupTimer);
                    this.keyupTimer = setTimeout(() => {
                        this.filterTag();
                    }, 300);
                }
            }
        },
        mounted() {
            this.getTags();
        },
        methods: {
            onCChange(event) {
                if(isNaN(event.target.value)) {
                    this.sortDate = event.target.value;
                } else {
                    this.statusData = event.target.value;
                }
                this.filterTag();
            },
            filterTag() {
                const formData = new FormData();
                formData.append("keyword", this.searchData);
                formData.append("status", this.statusData);
                formData.append("date", this.sortDate);
                formData.append("type", 'tag');
                axios.post('/api/search', formData)
                    .then(response => {
                        if (response.data.data.length >= 0) {
                            this.tags = response.data;
                        }
                    });
            },
            changeTitle() {
                this.form.slug = global.slug(this.form.name);
            },
            async getTags(page = 1) {
                await axios.get('/api/tag?page=' + page)
                    .then(response => {
                        this.tags = response.data;
                        this.backups = this.tags;
                    });
            },
            newModal() {
                this.mode = false;
                this.form.reset();
                this.form.clear();
                this.parent_categories = null;
                $('#addNew').modal('show');
            },
            editModal(tag) {
                this.mode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(tag);
                this.form.lang = this.locale;
                if ("vi" === this.locale) {
                    this.form.name = tag.name_vi;
                    this.form.description = tag.description_vi;
                    this.form.slug = tag.slug_vi;
                } else {
                    this.form.name = tag.name_en;
                    this.form.description = tag.description_en;
                    this.form.slug = tag.slug_en;
                }
            },
            async updateTag() {
                this.$Progress.start();
                await this.form.put('/api/tag/' + this.form.id)
                    .then(() => {
                        $("#addNew").modal('hide');
                        this.$Progress.finish();
                        bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                        Fire.$emit('reload');
                    }).catch(() => {
                        bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                        this.$Progress.fail();
                    });
            },
            async createTag() {
                this.$Progress.start();
                if (this.form.slug == null) {
                    this.form.slug = global.slug(this.form.name);
                }
                await this.form.post('/api/tag')
                    .then(() => {
                        $("#addNew").modal('hide');
                        this.$Progress.finish();
                        bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                        Fire.$emit('reload');
                    }).catch(() => {
                        this.$Progress.fail();
                        bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                    });
            },
            deleteTag(id) {
                swal.fire({
                    title: this.$t("dialog.label.title"),
                    text: this.$t("dialog.label.text"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.button.cancel"),
                    confirmButtonText: this.$t("dialog.button.delete")
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/tag/'+id)
                            .then(() => {
                                this.$Progress.finish();
                                bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                                Fire.$emit('reload');
                            }).catch(() => {
                                bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                                this.$Progress.error();
                        });
                    }
                })
            }
        },
        created() {
            Fire.$on('reload', () => {
                this.getTags();
            });
        }
    }
</script>

<style scoped>
    .hidden {
        display: none;
    }
    .invalid-feedback {
        margin-left: 0;
        padding-left: 0;
    }
    .modal-content {
        padding-right: 20px;
    }
    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: normal;
    }
    div.tags {
        width: 20rem;
        right: 8rem;
    }
    div.status {
        width: 8rem;
        right: 28.5rem;
    }
    div.date {
        width: 8rem;
        right: 37rem;
    }
    td.force-center {
        text-align: center;
        margin: auto;
        display: block !important;
    }
</style>
