<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.profile.contact') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('breadcrumb.management.table.all') }} {{ $t('breadcrumb.contact.contact') }}{{ $t('noun.form_1') }}</h3>
                            </div>
                            <div class="full-content">
                                <data-table
                                    :columns="columns"
                                    :filters="filters"
                                    :data="data"
                                    :classes="classes"
                                    :per-page="perPage"
                                    :translate="options"
                                    ref="contactTable"
                                    @loading="isLoading = true"
                                    @finishedLoading="isLoading = false"
                                    @on-table-props-changed="refreshTable">
                                    <div slot="filters" slot-scope="{ tableFilters, perPage }">
                                    </div>
                                    <div style="text-align: center">
                                        <loading
                                            :is-full-page="true"
                                            :active.sync="isLoading">
                                        </loading>
                                    </div>
                                </data-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Manipulation from "../../../datatable/contact/Manipulation.vue";
import TailwindDatatable from "../../../datatable/tailwind.js";
export default {
    components: {
        Manipulation
    },
    data() {
        return {
            url: '/api/contact',
            perPage: ['20', '50', '100'],
            data: {},
            isLoading: true,
            tableProps: {
                search: '',
                length: 20,
                column: 'id',
                dir: 'desc'
            },
            options:  {
                nextButton: this.$t('control.next'),
                previousButton: this.$t('control.previous'),
                placeholderSearch: this.$t('filter.search.contact')
            },
            columns: [
                {
                    label: this.$t('breadcrumb.contact.table.name'),
                    name: 'name',
                    orderable: false,
                },
                {
                    label: this.$t('breadcrumb.contact.table.email'),
                    name: 'email',
                    orderable: false,
                },
                {
                    label: this.$t('breadcrumb.contact.table.messasge'),
                    name: 'message',
                    orderable: false,
                },
                {
                    label: this.$t('breadcrumb.contact.table.manipulation'),
                    name: 'Delete',
                    orderable: false,
                    classes: {
                        'btn': true,
                        'btn-primary': true,
                        'btn-sm': true,
                    },
                    event: "click",
                    handler: this.updateContact,
                    component: Manipulation,
                }
            ],
            filters: {}
        }
    },
    mixins: [
        TailwindDatatable
    ],
    mounted() {
        this.getContacts(this.url);
    },
    methods: {
        getContacts(url = this.url, options = this.tableProps) {
            axios.get(url, {
                params: options
            })
                .then(response => {
                    this.data = response.data;
                })
                .catch(() => {})
        },
        refreshTable(tableProps) {
            this.getContacts(this.url, tableProps);
        },
        updateContact(data) {
            // TODO
        }
    },
    created() {
        Fire.$on('reloadContact', () => {
            this.getContacts(this.url);
            this.$refs.contactTable.getData();
        });
    }
};
</script>

<style>
div.table-responsive > table > thead > tr > th:last-child {
    text-align: center !important;
}
div.table-responsive > table > tbody > tr > td:last-child {
    text-align: center !important;
}
div.full-content > div > div > table > thead > tr > th:first-child {
    text-align: center !important;
    width: 12%;
}
div.full-content > div > div > table > thead > tr > th:last-child {
    text-align: center !important;
    width: 12%;
}
div.full-content > div > div > table > tbody > tr > td:first-child {
    text-align: center !important;
    width: 12%;
}
div.full-content > div > div > table > tbody > tr > td:last-child {
    text-align: center !important;
    width: 12%;
}
main {
    overflow-x: hidden;
}
div.table-responsive > table > tbody > tr > td:last-child {
    text-align: center;
}
</style>
