<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.profile.information') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-primary">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="img_resize_fit_div size_default"
                                         v-bind:src="thumbnail"
                                         @click="$refs.thumbnail.click()"
                                         alt="User profile picture">
                                    <input multiple ref="thumbnail" type="file" @change="onThumnailChange($event)" class="hidden">
                                    <a href="#" v-on:click.prevent="uploadThumbnail" class="btn btn-primary btn-block top20"><b>{{ $t('button.update') }} {{ $t('breadcrumb.profile.field.avatar') }}</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active  tab-pane" id="settings">
                                        <form @submit.prevent="updateProfile()" class="form-horizontal" @keydown="form.onKeydown($event)">
                                            <div class="form-group row">
                                                <label for="name" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.name') }}</label>
                                                <div class="col-sm-9">
                                                    <input v-model="form.name" type="text" class="form-control" id="name" name="name" :class="{ 'is-invalid': form.errors.has('name') }">
                                                    <has-error :form="form" field="name"></has-error>
                                                </div>
                                            </div>
                                            <div class="form-group row hidden">
                                                <label for="id" class="col-sm-3 col-form-label">ID</label>
                                                <div class="col-sm-9">
                                                    <input v-model="form.id" type="text" class="form-control hidden" id="id" name="id"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="phone_number" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.phone_number') }}</label>
                                                <div class="col-sm-9">
                                                    <input v-model="form.phone_number" type="number" class="form-control" id="phone_number" name="phone_number" :class="{ 'is-invalid': form.errors.has('phone_number') }">
                                                    <has-error :form="form" field="phone_number"></has-error>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="job" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.position') }}</label>
                                                <div class="col-sm-9">
                                                    <input v-model="form.job" type="text" class="form-control" id="job" name="job" :class="{ 'is-invalid': form.errors.has('job') }">
                                                    <has-error :form="form" field="job"></has-error>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="job" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.date_of_birth') }}</label>
                                                <div class="col-sm-9">
                                                    <datepicker v-model="form.date_of_birth"
                                                                :format="dateFormat"
                                                                :full-month-name="true"
                                                                :language="es"
                                                                :monday-first="true"
                                                                :bootstrap-styling="true"
                                                                :calendar-button="false"
                                                                :clear-button="false">
                                                    </datepicker>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="job" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.gender') }}</label>
                                                <div class="col-sm-9">
                                                    <input type="radio" id="male" value="1" v-model="form.gender">
                                                    <span>{{ $t('breadcrumb.profile.field.male') }}</span>
                                                    <input type="radio" id="female" value="0" v-model="form.gender">
                                                    <span>{{ $t('breadcrumb.profile.field.female') }}</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="address" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.address') }}</label>
                                                <div class="col-sm-9">
                                                    <textarea v-model="form.address" class="form-control" id="address" name="address" :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                                                    <has-error :form="form" field="address"></has-error>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="description" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.description') }}</label>
                                                <div class="col-sm-9">
                                                    <textarea v-model="form.description" class="form-control" id="description" name="description" :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                                                    <has-error :form="form" field="description"></has-error>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="username" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.username') }}</label>
                                                <div class="col-sm-9">
                                                    <input v-model="form.username" type="text" class="form-control" id="username" name="username" :class="{ 'is-invalid': form.errors.has('username') }">
                                                    <has-error :form="form" field="username"></has-error>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.email') }}</label>
                                                <div class="col-sm-9">
                                                    <input v-model="form.email" type="text" class="form-control" id="email" name="email" :class="{ 'is-invalid': form.errors.has('email') }" disabled>
                                                    <has-error :form="form" field="email"></has-error>
                                                </div>
                                            </div>
                                            <div class="form-group row top15">
                                                <label for="address" class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.status') }}</label>
                                                <div class="col-sm-9">
                                                    <div class="form-group">
                                                        <div class="top5 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                            <input type="checkbox" class="custom-control-input" id="status" v-model="form.status" :checked="form.status">
                                                            <label class="custom-control-label" for="status"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row top15">
                                                <label class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.is_editable') }}</label>
                                                <div class="col-sm-9">
                                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                        <input id="is_editable" type="checkbox" class="custom-control-input" v-model="form.is_editable" :checked="form.is_editable">
                                                        <label class="custom-control-label" for="is_editable"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row top15">
                                                <label class="col-sm-3 col-form-label">{{ $t('breadcrumb.profile.field.multiple_languages') }}</label>
                                                <div class="col-sm-9">
                                                    <select v-model="form.lang" class="form-control">
                                                        <option value="vi">{{ $t('common.lang_vi') }}</option>
                                                        <option value="en">{{ $t('common.lang_en') }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-3 col-sm-9">
                                                    <button type="submit" class="form-control btn btn-primary">{{ $t('button.update') }}</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker'
    import {vi, en} from 'vuejs-datepicker/dist/locale'
    import {bus} from "../../../helpers/bus";
    import Constant from "../../../helpers/constants";
    export default {
        components: {
            Datepicker
        },
        data() {
            return {
                thumbnail : '/img/profile.png',
                name: '',
                job : '',
                phone : '',
                form: new Form({
                    id : '',
                    name : '',
                    username : '',
                    email: '',
                    job : '',
                    status : 1,
                    is_editable: 1,
                    phone_number : '',
                    gender: '',
                    address : '',
                    description : '',
                    lang : localStorage.getItem('locale'),
                    date_of_birth: new Date()
                }),
                locale : localStorage.getItem('locale'),
                dateFormat: localStorage.getItem('locale') === "vi" ? 'dd MMMM yyyy' : 'MMMM dd yyyy',
                es: localStorage.getItem('locale') === "vi" ? vi : en,
            }
        },
        methods: {
            loadProfile() {
                axios.get('/api/profile').then(({ data }) => {
                    this.thumbnail = data.profile.avatar;
                    this.form.fill(data.profile);
                    this.form.lang = this.locale;
                    if ("vi" === this.locale) {
                        this.name = data.profile.name_vi;
                        this.job = data.profile.job_vi;

                        this.form.name = data.profile.name_vi;
                        this.form.job = data.profile.job_vi;
                        this.form.address = data.profile.address_vi;
                        this.form.description = data.profile.description_vi;
                    } else {
                        this.name = data.profile.name_en;
                        this.job = data.profile.job_en;

                        this.form.name = data.profile.name_en;
                        this.form.job = data.profile.job_en;
                        this.form.address = data.profile.address_en;
                        this.form.description = data.profile.description_en;
                    }
                    this.form.email = data.profile.user.email;
                    this.form.username = data.profile.user.username;
                });
            },
            onThumnailChange(event) {
                this.$Progress.start();
                let files = event.target.files || event.dataTransfer.files;
                if (!files.length)
                    return;
                this.createThumbnailImage(files[0]);
            },
            createThumbnailImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.thumbnail = e.target.result;
                };
                reader.readAsDataURL(file);
                this.$Progress.finish();
            },
            uploadThumbnail() {
                let formData = new FormData();
                let uploadFiles = $('input[type=file]');
                if (uploadFiles[0].files.length !== 0) {
                    formData.append('avatar', uploadFiles[0].files[0]);
                    formData.append('id', this.form.id);
                    axios.post('/api/avatar', formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then(data => {
                            if(data.data.result) {
                                bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                                this.thumbnail = data.data.avatar;
                            }
                            this.$Progress.finish();
                        })
                        .catch(() => {
                            this.$Progress.fail();
                        });
                } else {
                    bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                }
            },
            updateProfile() {
                this.form.post('/api/profile')
                    .then(data => {
                        if(data.data.result) {
                            bus.$emit(Constant.DIALOG_SIGNAL_SUCCESS, true);
                            this.$Progress.finish();
                        } else {
                            bus.$emit(Constant.DIALOG_SIGNAL_ERROR, true);
                            this.$Progress.fail();
                        }
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });
            },
            check(e) {

            }
        },
        created() {
            this.loadProfile();
        }
    }
</script>

<style scoped>
    .hidden {
        display: none;
    }
    .size_default {
        width: 200px;
        height: 200px;

    }
    .card-body {
        border: 1px solid #d3d8de;
    }
</style>
