<template>
    <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="full-content">
                                <data-table
                                        :columns="columns"
                                        :filters="filters"
                                        :data="data"
                                        class="collocationtable"
                                        :classes="classes"
                                        :per-page="perPage"
                                        :translate="options"
                                        ref="collocationtable"
                                        @loading="isLoading = true"
                                        @finishedLoading="isLoading = false"
                                        @on-table-props-changed="refreshTable">
                                    <div slot="filters" slot-scope="{ tableFilters, perPage }">
                                        <div class="row mb-2 control-paragraph">
                                            <div class="col-md-4">
                                                <select class="form-control" v-model="tableFilters.length">
                                                    <option :key="page" v-for="page in perPage">{{ page }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <select
                                                        v-model="tableFilters.filters.status"
                                                        class="form-control">
                                                    <option value>All</option>
                                                    <option value='1'>{{ $t('common.visible') }}</option>
                                                    <option value='0'>{{ $t('common.invisible') }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <input
                                                        name="name"
                                                        type="text"
                                                        class="form-control"
                                                        v-model="tableFilters.search"
                                                        v-bind:placeholder="$t('common.search_table')">
                                            </div>
                                            <div class="col-md-2">
                                                <input
                                                        type="button"
                                                        name="new"
                                                        data-toggle="modal"
                                                        data-target="#newCollocationModal"
                                                        v-bind:value="$t('common.add_new')"
                                                        class="btn btn-primary form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align: center">
                                        <loading
                                                :is-full-page="true"
                                                :active.sync="isLoading">
                                        </loading>
                                    </div>
                                </data-table>
                                <update-modal
                                        :form="form"
                                        :errors="errors">
                                </update-modal>
                                <audio-modal
                                    :collocations="collocations"
                                    :collocation_audios="collocation_audios"
                                    :collocation_id="collocation_id">
                                </audio-modal>
                                <new-modal
                                        :form="form"
                                        :errors="errors">
                                </new-modal>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import UpdateModal from "../../../back/datatable/collocation/UpdateModal.vue";
    import AudioModal from "../../../back/datatable/collocation/AudioModal.vue";
    import NewModal from "../../../back/datatable/collocation/NewModal.vue";
    import Manipulation from "../../../back/datatable/collocation/Manipulation.vue";

    import HeadwordTooltip from "../../../back/datatable/collocation/HeadwordTooltip.vue";
    import CollocationTooltip from "../../../back/datatable/collocation/CollocationTooltip.vue";

    import TailwindDatatable from "../../../datatable/tailwind.js";
    import Ls from "../../../services/ls";
    export default {
        components: {
            UpdateModal, NewModal, AudioModal, Manipulation
        },
        data() {
            return {
                url: '/api/collocation',
                perPage: ['200', '500', '1000'],
                data: {},
                isLoading: true,
                tableProps: {
                    search: '',
                    length: 200,
                    column: 'id',
                    dir: 'desc'
                },
                options:  {
                    nextButton: this.$t('common.next'),
                    previousButton: this.$t('common.previous'),
                    placeholderSearch: this.$t('common.search_table')
                },
                columns: [
                    {
                        label: this.$t('table.headword'),
                        name: 'vi' ===  Ls.get('locale') ? 'headword_vi' : 'headword_en',
                        orderable: true,
                        component: HeadwordTooltip
                    },
                    {
                        label: this.$t('table.collocations'),
                        name: 'vi' ===  Ls.get('locale') ? 'collocation_vi' : 'collocation_en',
                        orderable: true,
                        component: CollocationTooltip
                    },
                    {
                        label: this.$t('table.manipulation'),
                        name: 'Edit,Delete',
                        orderable: false,
                        classes: {
                            'btn': true,
                            'btn-primary': true,
                            'btn-sm': true,
                        },
                        event: "click",
                        handler: this.updateCollocation,
                        component: Manipulation,
                    }
                ],
                filters: {
                    status: '',
                },
                collocations: '',
                collocation_id: '',
                collocation_audios: '',
                form: new Form({
                    id: 0,
                    headword_vi: '',
                    headword_en: '',
                    collocation_vi: '',
                    collocation_en: '',
                    is_editable : 1,
                    status: 1,
                    lang: Ls.get('locale')
                }),
                errors : {
                    headword_vi: '',
                    headword_en: '',
                    collocation_vi: '',
                    collocation_en: ''
                }
            }
        },
        mixins: [
            TailwindDatatable
        ],
        mounted() {
            this.getCollocations(this.url);
        },
        methods: {
            fetchBlogs() {
                if (this.form.blog_id.length > 0) {
                    axios.get('/api/blog/' + this.form.blog_id, {
                        headers: {
                            'type': 'video',
                            'keyword': this.form.blog_id,
                            'lang': this.locale
                        }
                    })
                        .then(data => {
                            if (data.data.length > 0) {
                                this.blogs = data.data;
                            }
                        }).catch(() => {
                        this.$Progress.fail();
                    });
                }
            },
            getCollocations(url = this.url, options = this.tableProps) {
                axios.get(url, {
                    params: options
                })
                    .then(response => {
                        this.data = response.data;
                    })
                    .catch(() => {})
            },
            refreshTable(tableProps) {
                this.getCollocations(this.url, tableProps);
            },
            updateCollocation(data, id) {
                if (0 === id) {
                    this.form.id = data.id;
                    this.form.status = data.status === 1;
                    this.form.is_editable = data.is_editable === 1;
                    this.form.lang = Ls.get('locale');
                    this.form.headword_vi = data.headword_vi;
                    this.form.headword_en = data.headword_en;
                    this.form.collocation_vi = data.collocation_vi;
                    this.form.collocation_en = data.collocation_en;
                } else {
                    if (',' === data.collocation_en.charAt(data.collocation_en.length - 1)) {
                        data.collocation_en = data.collocation_en.substr(0, data.collocation_en.length-1);
                    }
                    if (data.collocation_en.includes(',')) {
                        this.collocations = data.collocation_en.split(',');
                    }
                    this.collocation_id = data.id;
                    this.getCollocation(data.id);
                }
            },
            getCollocation(collocation_id) {
                axios.get('/api/collocation/' + collocation_id)
                    .then(response => {
                        this.collocation_audios = response.data;
                    }).catch(() => {
                        this.$Progress.fail();
                });
            }
        },
        created() {
            Fire.$on('reloadCollocation', () => {
                this.getCollocations(this.url);
            });
        }
    };
</script>

<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);
    div.collocationtable > div.table-responsive > table > thead > tr > th:last-child {
        text-align: center;
    }
    div.collocationtable > div.table-responsive > table > tbody > tr > td:last-child {
        text-align: right;
    }
    div.collocationtable > div.table-responsive > table > tbody > tr > td:nth-child(4) {
        text-align: center;
    }
    div.collocationtable > div.table-responsive > table > thead {
        display: none;
    }
    div.collocationtable > div.table-responsive > table {
        cursor: pointer;
    }
    div.collocationtable > div.table-responsive > table > tbody > tr > td:last-child > div {
        display: inline-flex;
    }
</style>
