<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('nav.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('common.list') }} {{ $t('nav.downloads') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('common.list') }} {{ $t('nav.downloads') }}</h3>

                                <div class="card-tools date">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="desc">{{ $t('common.newest') }}</option>
                                        <option value="asc">{{ $t('common.oldest') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools status">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="1">{{ $t('common.visible') }}</option>
                                        <option value='0'>{{ $t('common.invisible') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools _download">
                                    <input v-model="searchData" type="text" v-bind:placeholder="$t('common.search_table')" class="form-control">
                                </div>
                                <div class="card-tools">
                                    <button class="btn btn-success" @click="newModal">
                                        {{ $t('common.add_new') }}
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="hidden">ID</th>
                                        <th class="width10">{{ $t('table.category_name') }}</th>
                                        <th class="width20">{{ $t('table.description') }}</th>
                                        <th>{{ $t('table.href') }}</th>
                                        <th class="width10 text-center">{{ $t('common.languages') }}</th>
                                        <th class="text-center width10">{{ $t('table.status') }}</th>
                                        <th class="text-center width10">{{ $t('table.manipulation') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="download in downloads.data" :key="download.id">
                                        <td class="hidden">{{ download.id }}</td>
                                        <td>{{ download.name_en + download.name_vi }}</td>
                                        <td>{{ download.description_en + download.description_vi }}</td>
                                        <td>{{ download.href }}</td>
                                        <td class="text-center">
                                            <img v-show="download.name_vi !== null && download.name_vi !== ''" src="/images/vi.jpeg"/>
                                            <img class="space2" v-show="download.name_en !== null && download.name_en !== ''" src="/images/en.jpeg"/>
                                        </td>
                                        <td class="align-center">
                                            <div class="top5 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch3" v-model="download.status" :checked="download.status">
                                                <label class="custom-control-label" for="customSwitch3"></label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" @click="deleteDownload(download.id)">
                                                <i class="btn btn-danger fa fa-trash red"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="pagination justify-content-center m-0 float-right">
                                    <pagination :data="downloads" @pagination-change-page="getDownloadedFiles"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" ref="addNew" id="addNew" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ $t('common.add_new') }} {{ $t('nav.download') }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form @submit.prevent="createDownload()" @keydown="form.onKeydown($event)">
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('download.name') }}</label>
                                        <input v-model="form.name" type="text" class="form-control col-sm-10"
                                               :class="{ 'is-invalid': errors.name }">
                                        <span class="col-sm-2"></span>
                                        <div v-show="errors.name" class="help-block with-errors col-sm-10 reset-left">{{ errors.name }}</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('category.href') }}</label>
                                        <input v-model="form.href" type="text" class="form-control col-sm-10" :disabled="true"
                                               :class="{ 'is-invalid': form.errors.has('href') }">
                                        <span class="col-sm-2"></span>
                                        <has-error :form="form" field="href" class="col-sm-10"></has-error>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('category.description') }}</label>
                                        <textarea v-model="form.description" class="form-control col-sm-10"
                                                  :class="{ 'is-invalid': errors.description }"></textarea>
                                        <span class="col-sm-2"></span>
                                        <div v-show="errors.description" class="help-block with-errors col-sm-10 reset-left">{{ errors.description }}</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('category.status') }}</label>
                                        <div class="col-sm-10 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input id="status" type="checkbox" class="custom-control-input" v-model="form.status" :checked="form.status">
                                            <label class="custom-control-label" for="status"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('category.file') }}</label>
                                        <div class="col-sm-10 reset-left">
                                            <span class="text-muted">{{ $t('dialog_message.add_file_successfully') }}</span><br>
                                            <input multiple ref="file" type="file">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('download.blog') }}</label>
                                        <input type="text" class="form-control col-sm-10" v-model="form.blog_id"
                                               v-bind:placeholder="$t('placeholder.download.blog')"
                                               :class="{ 'is-invalid': form.errors.has('blog_id') }">
                                        <span class="col-sm-2"></span>
                                        <has-error :form="form" field="blog_id" class="col-sm-10"></has-error>
                                        <div class="top10" id="allblog">
                                            <div class="custom-control custom-radio top10" v-for="blog in blogs">
                                                <input class="custom-control-input" type="radio" v-bind:id="'customRadio'+blog.id" v-bind:value="blog.id" v-model="form.blog_id">
                                                <label v-show="locale === 'en'" v-bind:for="'customRadio'+blog.id" class="custom-control-label">{{ blog.title_en }}</label>
                                                <label v-show="locale === 'vi'" v-bind:for="'customRadio'+blog.id" class="custom-control-label">{{ blog.title_vi }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-6">{{ $t('category.multiple_languages') }}</label>
                                        <select name="locale" v-model="form.lang" id="role" class="form-control col-sm-6" :class="{ 'is-invalid': form.errors.has('lang') }">
                                            <option value="vi">{{ $t('common.lang_vi') }}</option>
                                            <option value="en">{{ $t('common.lang_en') }}</option>
                                        </select>
                                        <has-error :form="form" field="lang" class="col-sm-6"></has-error>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('common.close') }}</button>
                                    <button :disabled="avoidMultiple" type="submit" class="btn btn-primary">{{ $t('common.add_new') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                downloads : {},
                blogs : {},
                file: '',
                avoidMultiple: false,
                errors : {
                    name: '',
                    description: ''
                },
                locale : localStorage.getItem('locale'),
                form: new Form({
                    id: '',
                    name : '',
                    href: '',
                    description : '',
                    status: 1,
                    is_editable: 1,
                    blog_id: '',
                    thumbnail : '',
                    lang : localStorage.getItem('locale')
                }),

                backups: [],
                searchData: '',
                keyupTimer: 0,
                sortDate: 'desc',
                statusData: 1
            }
        },
        watch: {
            'form.blog_id'(newVal) {
                if (null != newVal && newVal.length > 0) {
                    this.search(newVal);
                }
            },
            'searchData'(newVal) {
                if (newVal.length > 0) {
                    clearTimeout(this.keyupTimer);
                    this.keyupTimer = setTimeout(() => {
                        this.filterDownload();
                    }, 300);
                }
            }
        },
        mounted() {
            $(this.$refs.addNew).on('shown.bs.modal', this.closeModal);
            this.getDownloadedFiles();
        },
        methods: {
            onCChange(event) {
                if(isNaN(event.target.value)) {
                    this.sortDate = event.target.value;
                } else {
                    this.statusData = event.target.value;
                }
                this.filterDownload();
            },
            filterDownload() {
                this.$Progress.start();
                const formData = new FormData();
                formData.append("keyword", this.searchData);
                formData.append("status", this.statusData);
                formData.append("date", this.sortDate);
                formData.append("type", 'download');
                axios.post('/api/search', formData)
                    .then(response => {
                        if (response.data.data.length >= 0) {
                            this.references = response.data;
                            this.$Progress.finish();
                        }
                    });
            },
            closeModal() {
                this.$refs.file.value=null;
                this.blogs = [];
            },
            newModal() {
                this.mode = false;
                this.form.reset();
                this.form.clear();
                $('#addNew').modal('show');
            },
            search(value) {
                if (value.length !== 0) {
                    this.getBlogs(value);
                } else {
                    this.blogs = null;
                }
            },
            async getBlogs(name) {
                await axios.get('/api/download/' + name)
                    .then(data => {
                        this.blogs = data.data;
                    }).catch(() => {
                        this.$Progress.fail();
                    });
            },
            async getDownloadedFiles(page = 1) {
                await axios.get('/api/download?page=' + page)
                    .then(response => {
                        this.downloads = response.data;
                        this.backups = this.downloads;
                    });
            },
            async createDownload() {
                this.$Progress.start();
                this.avoidMultiple = true;
                this.resetForm();
                if (!Number.isInteger(this.form.blog_id)) {
                    toastr['error'](this.$t('error.blog_required'), this.$t("common.error"));
                } else {
                    if (this.$refs.file.files.length !== 0) {
                        let formData =  new FormData();
                        formData.append('name', this.form.name);
                        formData.append('blog_id', this.form.blog_id);
                        formData.append('file', this.$refs.file.files[0]);
                        formData.append('description', this.form.description);
                        formData.append('status', this.form.status);
                        formData.append('lang', this.form.lang);
                        await axios.post('/api/download', formData, {
                            headers: {
                                'Authorization': 'Bearer '+window.localStorage.getItem('auth.token'),
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                            .then(data => {
                                this.avoidMultiple = false;
                                if (422 === data.data.error) {
                                    this.errors.name = data.data.message.name[0];
                                    this.errors.description = data.data.message.description[0];
                                    this.$Progress.fail();
                                } else {
                                    this.resetForm();
                                    $("#addNew").modal('hide');
                                    this.closeModal();
                                    toastr['success'](this.$t('dialog_message.new_tag_successfully'), this.$t("common.message"));
                                    this.$Progress.finish();
                                    Fire.$emit('reload');
                                }
                            }).catch(() => {
                                this.avoidMultiple = false;
                                this.$Progress.fail();
                            });
                    } else {
                        toastr['error'](this.$t('error.file_required'), this.$t("common.error"));
                    }
                }
            },
            deleteDownload(id) {
                swal.fire({
                    title: this.$t("dialog.confirm"),
                    text: this.$t("dialog.warning"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.cancel"),
                    confirmButtonText: this.$t("dialog.delete")
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/download/'+id)
                            .then(() => {
                                toastr['success'](this.$t("dialog_message.delete_file_successfully"), this.$t("common.message"));
                                Fire.$emit('reload');
                            }).catch(() => {
                            toastr['error'](this.$t("dialog_message.delete_file_failure"), this.$t("common.error"));
                        });
                    }
                })
            },
            resetForm() {
                this.errors.name = '';
                this.errors.description = '';
            }
        },
        created() {
            Fire.$on('reload', () => {
                this.getDownloadedFiles();
            });
        }
    }
</script>

<style scoped>
    .hidden {
        display: none;
    }
    .reset-left {
        margin-left: 0;
        padding-left: 0;
    }
    .with-errors {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #e3342f;
    }
    .modal-content {
        padding-right: 20px;
    }
    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: normal;
    }
    div._download {
        width: 20rem;
        right: 5rem;
    }
    div.status {
        width: 8rem;
        right: 25.5rem;
    }
    div.date {
        width: 8rem;
        right: 34rem;
    }
</style>
