<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('nav.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('common.list') }} {{ $t('nav.logger') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="list-wrapper">
                <!-- For category -->
                <div v-for="logger in loggers" class="list-item">
                    <h4 v-if="locale == 'vi'">{{ logger.category.name_vi }}</h4>
                    <h4 v-else-if="locale == 'en'">{{ logger.category.name_en }}</h4>
                    <span v-if="logger.type == 'category'" class="btn btn-sm btn-default logger"><i class="fas fa-angle-double-right"></i> Category</span>
                    <span v-if="logger.type == 'article'" class="btn btn-sm btn-default logger"><i class="fas fa-angle-double-right"></i> Article</span>
                    <span v-if="logger.type == 'category' && logger.logger_children == 0" class="m-left-10 btn btn-sm btn-default no_children_logger"><i class="fas fa-exclamation-triangle"></i> None of the existed posts that published in the category</span>
                    <span v-if="logger.type == 'category' && logger.logger_nested == 0" class="m-left-10 btn btn-sm btn-default no_nested_logger"><i class="fas fa-exclamation-triangle"></i> None of the related categories belong to the category</span>
                    <p class="clearfix"></p>
                    <span v-if="logger.category.name_vi.length == 0 || logger.category.description_vi.length == 0" class="btn btn-sm btn-default vi_logger"><i class="fas fa-exclamation"></i> Missing content for showing the webpage Vietnamese</span>
                    <span v-if="logger.category.name_en.length == 0 || logger.category.description_en.length == 0" class="btn btn-sm btn-default en_logger"><i class="fas fa-exclamation"></i> Missing content for showing the webpage English</span>
                    <p class="clearfix"></p>
                    <div class="detailed_error" v-html="logger.preview"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loggers:  {},
                locale : localStorage.getItem('locale'),
            }
        },
        mounted() {
            this.getLoggers();
        },
        methods: {
            async getLoggers() {
                await axios.get('/api/logger')
                    .then(response => {
                        this.loggers = response.data;
                    });
            }
        }
    }
</script>
<style scoped>
    .detailed_error {
        display: inline-grid;
        font-size: small;
        font-style: italic;
        line-height: 1.8em;
    }

    .detailed_error > span:nth-child(1) {
        background: #e65c5c;
        padding: 4px 10px;
        border-radius: 15px;
        margin-top: 10px;
        color: white;
    }

    .detailed_error > span:nth-child(1) {
        background: #e65c5c;
        padding: 4px 10px;
        border-radius: 15px;
        color: white;
    }

    .list-wrapper {
        overflow: hidden;
    }

    .list-item {
        border: 1px solid #EEE;
        background: #FFF;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 0 10px 0 #EEE;
    }

    .list-item h4 {
        color: #FF7182;
        font-size: 18px;
        margin: 0 0 5px;
    }

    .list-item p {
        margin: 0;
    }

    .logger {
        text-align: right;
        float: left;
        color: white;
        background: #ff8282;
    }
    .no_children_logger {
        background: #dbdbdb;
        color: #403c3c;
    }
    .no_nested_logger {
        background: #dbdbdb;
        color: #403c3c;
    }
    .vi_logger {
        background: #dbdbdb;
        color: #403c3c;
    }
    .en_logger {
        background: #dbdbdb;
        color: #403c3c;
    }
    .btn-sm {
        transform: scale(1, .9);
    }
</style>
