<template>
    <div>
        <fullscreen class="mindmap-full" :fullscreen.sync="fullscreen">
            <div class="mindmap-space">
                <svg class='mindmap-svg' ref='mountPoint'/>
            </div>
            <div id="container-floating">
                <div @click.prevent="viewDescription" class="nd6 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder">
                    <img v-if="!disabledCheck" class="reminder" src="/images/disabled.png"/>
                    <img v-else-if="disabledCheck" class="reminder" src="/images/enabled.png"/>
                </div>
                <div class="nd5 nds" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com">
                    <img class="reminder" data-toggle="modal"
                         data-target="#fieldMindMapModal" src="/images/topic.png"/>
                </div>
                <div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com">
                    <img class="reminder" data-toggle="modal"
                         data-target="#linkMindMapModal" src="/images/link.png"/>
                </div>
                <div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder">
                    <img class="reminder" data-toggle="modal"
                         data-target="#newMindMapModal" src="/images/network-node.png"/>
                </div>
                <div @click.prevent="toggle" class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="jorgel.tinoco@gmail.com">
                    <img v-if="fullscreen" class="reminder" src="/images/exit-full-screen.png"/>
                    <img v-else-if="!fullscreen" class="reminder" src="/images/full-screen.png"/>
                </div>
                <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
                    <p class="plus">
                        <img class="reminder" src="/images/mindmap.png"/>
                    </p>
                    <img class="edit" src="/images/mindmap.png">
                    <input class="hidden" id="detailedCheck" v-model="valueCollocation" contenteditable="true"/>
                </div>
                <component :suggest="suggestCollocation" :is="attachCollocation"></component>
            </div>
            <new-modal></new-modal>
            <link-modal></link-modal>
            <field-modal></field-modal>
            <field-menu></field-menu>
            <topic-slider></topic-slider>
        </fullscreen>
    </div>
</template>
<script>
    import NewModal from "../../../back/datatable/mindmap/NewModal.vue";
    import TopicSlider from "../../../back/datatable/mindmap/TopicSlider.vue";
    import FieldMenu from "../../../back/datatable/mindmap/FieldMenu.vue";
    import FieldModal from "../../../back/datatable/mindmap/FieldModal.vue";
    import LinkModal from "../../../back/datatable/mindmap/LinkModal.vue";
    import Collocation from "../../../back/components/Collocation";
    import nodeToHTML from '../../../helpers/utils/nodeToHTML'
    import subnodesToHTML from "../../../helpers/utils/subnodesToHTML";
    import {getDimensions, getViewBox} from "../../../helpers/utils/dimensions";
    import {d3Connections, d3Drag, d3Nodes, d3PanZoom, event, onTick} from "../../../helpers/utils/d3";
    import {
        forceCollide,
        forceLink,
        forceManyBody,
        forceSimulation,
        select,
        zoom,
        zoomIdentity
    } from 'd3'
    export default {
        data() {
            return {
                fullscreen: false,
                disabledCheck: true,
                simulation: null,
                valueCollocation: '',
                suggestCollocation: '',
                editable: true,
                nodes: [],
                connections: [],
            }
        },
        components: {
            NewModal, LinkModal, FieldModal, FieldMenu, TopicSlider
        },
        watch: {
            'valueCollocation'(newVal) {
                if (newVal != null && newVal.length > 0) {
                    if(!this.disabledCheck) {
                        this.suggestCollocation = newVal;
                    }
                }
            },
        },
        computed: {
            attachCollocation() {
                return Collocation
            }
        },
        mounted() {

        },
        created() {
            this.fetchNodes();
            this.initMindMap();
            Fire.$on('reloadNodes', () => {
                window.localStorage.setItem('zoomBox', 1);
                this.fetchNodes();
            });
            this.simulation = forceSimulation()
                .force('link', forceLink().id(node => node.text))
                .force('charge', forceManyBody())
                .force('collide', forceCollide().radius(100))
        },
        methods: {
            initMindMap() {
                window.localStorage.setItem('zoomBox', 0);
                window.localStorage.setItem('k', 0);
                window.localStorage.setItem('x', 0);
                window.localStorage.setItem('y', 0);
            },
            updated () {
                this.renderMap();
            },
            viewDescription() {
                this.disabledCheck = !this.disabledCheck;
            },
            toggle () {
                this.fullscreen = !this.fullscreen
            },
            fetchNodes() {
                axios.get('/api/node')
                    .then(response => {
                        this.nodes = response.data;
                        this.nodes.forEach(function(node) {
                            node.html = nodeToHTML(node);
                            node.nodesHTML = subnodesToHTML(node.nodes);

                            const dimensions = getDimensions(node.html, {}, 'mindmap-node')
                            node.width = dimensions.width
                            node.height = dimensions.height

                            const nodesDimensions = getDimensions(node.nodesHTML, {}, 'mindmap-subnodes-text')
                            node.nodesWidth = nodesDimensions.width
                            node.nodesHeight = nodesDimensions.height
                        });
                    }).finally(() => {
                        this.fetchConnections();
                });
            },
            fetchConnections() {
                axios.get('/api/connection')
                    .then(response => {
                        this.connections = response.data;
                        let scope = this;
                        this.connections.forEach(function(association) {
                            let sources = scope.nodes.filter(obj => {
                                return obj.text === association.source
                            });
                            if (sources.length > 0) {
                                association.source = sources[0]
                            }
                            let targets = scope.nodes.filter(obj => {
                                return obj.text === association.target
                            });
                            if (targets.length > 0) {
                                association.target = targets[0]
                            }
                        })
                    }).finally(() => {
                        this.updated();
                });
            },
            prepareNodes () {
                const render = (node) => {
                    node.html = nodeToHTML(node)
                    node.nodesHTML = subnodesToHTML(node.nodes)

                    const dimensions = getDimensions(node.html, {}, 'mindmap-node')
                    node.width = dimensions.width
                    node.height = dimensions.height

                    const nodesDimensions = getDimensions(node.nodesHTML, {}, 'mindmap-subnodes-text')
                    node.nodesWidth = nodesDimensions.width
                    node.nodesHeight = nodesDimensions.height
                }

                this.nodes.forEach(node => render(node))
            },
            /**
             * Add new class to nodes, attach drag behevior,
             * and start simulation.
             */
            prepareEditor (svg, conns, nodes, subnodes) {
                nodes
                    .attr('class', 'mindmap-node mindmap-node--editable')
                    .on('dbclick', (node) => {
                        node.fx = null
                        node.fy = null
                    })

                nodes.call(d3Drag(this.simulation, svg, nodes))

                // Tick the simulation 100 times
                for (let i = 0; i < 100; i += 1) {
                    this.simulation.tick()
                }

                setTimeout(() => {
                    this.simulation
                        .alphaTarget(0.5).on('tick', () => (
                        onTick(conns, nodes, subnodes)
                    ))
                }, 200)
            },
            /**
             * Render mind map unsing D3
             */
            renderMap () {
                const svg = select(this.$refs.mountPoint)

                // Clear the SVG in case there's stuff already there.
                svg.selectAll('*').remove()

                // Add subnode group
                svg.append('g').attr('id', 'mindmap-subnodes')

                // Bind data to SVG elements and set all the properties to render them
                const connections = d3Connections(svg, this.connections)
                const { nodes, subnodes } = d3Nodes(svg, this.nodes)

                nodes.append('title').text(node => node.note)

                // Bind nodes and connections to the simulation
                this.simulation
                    .nodes(this.nodes)
                    .force('link').links(this.connections)

                if (this.editable) {
                    this.prepareEditor(svg, connections, nodes, subnodes)
                }

                // Tick the simulation 100 times
                for (let i = 0; i < 100; i += 1) {
                    this.simulation.tick()
                }

                onTick(connections, nodes, subnodes)

                svg.attr('viewBox', getViewBox(nodes.data()))
                    .call(d3PanZoom(svg))
                    .on('dbClick.zoom', null)
            }
        }
    }
</script>
<style scoped>
    #floating-button {
        transform: scale(0.7);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #ED213A;
        background: -webkit-linear-gradient(to right, #93291E, #ED213A);
        background: linear-gradient(to right, #93291E, #ED213A);
        position: absolute;
        bottom: 0;
        right: 1px;
        cursor: pointer;
        box-shadow: 0 2px 5px #666;
    }

    .plus {
        color: white;
        position: absolute;
        top: 0;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 55px;
        font-size: 38px;
        font-family: 'Roboto',serif;
        font-weight: 300;
        animation: plus-out 0.3s;
        transition: all 0.3s;
    }

    #container-floating {
        position: absolute;
        width: 70px;
        height: 70px;
        bottom: 30px;
        right: 30px;
        z-index: 50;
    }

    #container-floating:hover {
        height: 400px;
        width: 90px;
        padding: 30px;
    }

    #container-floating:hover .plus {
        animation: plus-in 0.15s linear;
        animation-fill-mode: forwards;
    }

    .edit {
        position: absolute;
        top: 0;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        opacity: 0;
        margin: auto;
        line-height: 65px;
        transform: rotateZ(-70deg);
        transition: all 0.3s;
        animation: edit-out 0.3s;
    }

    #container-floating:hover .edit {
        animation: edit-in 0.2s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
    }

    @keyframes edit-in {
        from {opacity: 0; transform: rotateZ(-70deg);}
        to {opacity: 1; transform: rotateZ(0deg);}
    }

    @keyframes edit-out {
        from {opacity: 1; transform: rotateZ(0deg);}
        to {opacity: 0; transform: rotateZ(-70deg);}
    }

    @keyframes plus-in {
        from {opacity: 1; transform: rotateZ(0deg);}
        to {opacity: 0; transform: rotateZ(180deg);}
    }

    @keyframes plus-out {
        from {opacity: 0; transform: rotateZ(180deg);}
        to {opacity: 1; transform: rotateZ(0deg);}
    }

    .nds {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: absolute;
        z-index: 300;
        transform:  scale(0);
        cursor: pointer;
    }

    .nd1 {
        background: #11998e;
        background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
        background: linear-gradient(to right, #38ef7d, #11998e);
        right: 12px;
        bottom: 60px;
        animation-delay: 0.2s;
        animation: bounce-out-nds 0.3s linear;
        animation-fill-mode:  forwards;
    }

    .nd3 {
        background: #f12711;
        background: -webkit-linear-gradient(to right, #f5af19, #f12711);
        background: linear-gradient(to right, #f5af19, #f12711);
        right: 12px;
        bottom: 120px;
        animation-delay: 0.15s;
        animation: bounce-out-nds 0.15s linear;
        animation-fill-mode:  forwards;
    }

    .nd4 {
        background: #00B4DB;
        background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
        background: linear-gradient(to right, #0083B0, #00B4DB);
        right: 12px;
        bottom: 180px;
        animation-delay: 0.1s;
        animation: bounce-out-nds 0.1s linear;
        animation-fill-mode:  forwards;
    }

    .nd5 {
        background: #093028;
        background: -webkit-linear-gradient(to bottom, #237A57, #093028);
        background: linear-gradient(to bottom, #237A57, #093028);
        right: 12px;
        bottom: 240px;
        animation-delay: 0.1s;
        animation: bounce-out-nds 0.1s linear;
        animation-fill-mode:  forwards;
    }

    .nd6 {
        background: #CC0066 ;
        right: 12px;
        bottom: 300px;
        animation-delay: 0.1s;
        animation: bounce-out-nds 0.1s linear;
        animation-fill-mode:  forwards;
    }

    @keyframes bounce-nds {
        from {opacity: 0;}
        to {opacity: 1; transform: scale(1);}
    }

    @keyframes bounce-out-nds {
        from {opacity: 1; transform: scale(1);}
        to {opacity: 0; transform: scale(0);}
    }

    #container-floating:hover .nds {

        animation: bounce-nds 0.1s linear;
        animation-fill-mode:  forwards;
    }

    #container-floating:hover .nd3 {
        animation-delay: 0.08s;
    }

    #container-floating:hover .nd4 {
        animation-delay: 0.15s;
    }

    #container-floating:hover .nd5{
        animation-delay: 0.2s;
    }
    .reminder {
        filter: grayscale(100%);
        height: 50%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        line-height: 40px;
    }
    div.mindmap-space {
        margin-top: -14px;
        background: #012a5e !important;
        background: -webkit-linear-gradient(to right, #000711, #012a5e) !important;
        background: linear-gradient(to right, #000711, #012a5e) !important;
    }
    .mindmap-full {
        position: relative;
    }
    svg.mindmap-svg {
        height: calc(100vh - 160px) !important;
    }
    div.fullscreen > div.mindmap-space > svg.mindmap-svg {
        height: 100vh !important;
    }
</style>
