<template>
    <div class="content" style="overflow-y: hidden">
        <div class="tab_paragraph">
            <div class="row mb-2">
                <div class="express col-md-12">
                    <button v-show="'vi' == locale" v-for="express in expresses" type="button" class="btn btn-outline-primary btn-sm">
                        <span @click.prevent="expressMethod(express)">{{ express.title_vi }}</span>
                    </button>
                    <button v-show="'en' == locale" v-for="express in expresses" type="button" class="btn btn-outline-primary btn-sm">
                        <span @click.prevent="expressMethod(express)">{{ express.title_en }}</span>
                    </button>
                </div>
            </div>
            <div class="input-group">
                <input type="search" class="form-control" v-bind:placeholder="$t('common.search_table')">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-outline-secondary" type="button" data-toggle="modal"
                            data-target="#newParagraphModal">
                        <img src="/images/new.png"/>
                    </button>
                    <button class="btn btn-primary btn-outline-secondary" type="button" data-toggle="modal"
                            data-target="#editParagraphModal">
                        <img src="/images/edit.png"/>
                    </button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary btn-outline-secondary" type="button" data-toggle="modal"
                            data-target="#newTopicModal">
                        <img src="/images/expresses.png"/>
                    </button>
                </div>
            </div>
            <div class="pars">
                <div v-for="text in texts" id="paragraph" class="context paragraph card flow">
                    <span v-show="'vi' === locale"
                          v-for="(_text_vi , index) in text.text_vi.split('.')">
                        <span data-toggle="tooltip" data-placement="top" v-bind:title="text.text_en.split('.')[index]">{{ _text_vi }}<span v-if="index != text.text_vi.split('.').length - 1">. </span>
                        </span>
                    </span>
                    <span v-show="'en' === locale"
                          v-for="(_text_en , index) in text.text_en.split('.')">
                        <span data-toggle="tooltip" data-placement="top" v-bind:title="text.text_vi.split('.')[index]">{{ _text_en }}<span v-if="index != text.text_en.split('.').length - 1">. </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <new-modal :expresses = "expresses"></new-modal>
        <edit-modal :expresses = "expresses"></edit-modal>
        <new-topic :express="express"></new-topic>
        <div class="optionscroll">
            <button class="btn btn-primary" data-search="prev">&uarr;</button>
            <span class="badge bg-primary">0</span>
            <button class="btn btn-primary" data-search="next">&darr;</button>
        </div>
    </div>
</template>
<script>
    import AOS from 'aos'
    import 'aos/dist/aos.css'
    require('../../../extra/mark.js');
    /** https://markjs.io/ **/
    import NewModal from "../../../back/datatable/paragraph/NewModal.vue";
    import NewTopic from "../../../back/datatable/paragraph/NewTopic.vue";
    import EditModal from "../../../back/datatable/paragraph/EditModal.vue";
    export default {
        components: {
            NewTopic, NewModal, EditModal
        },
        data() {
            return {
                texts: [],
                search_text: "",
                express: {},
                expresses: [],
                locale : localStorage.getItem('locale')
            }
        },
        mounted() {
            this.getPars();
            new Promise(() => {
                $(document).ready(function () {
                    let $input = $("input[type='search']");
                    let $clearBtn = $("button[data-search='clear']");
                    let $prevBtn = $("button[data-search='prev']");
                    let $nextBtn = $("button[data-search='next']");
                    let $content = $(".content");
                    let $results;
                    let currentClass = "current";
                    let offsetTop = 50;
                    let currentIndex = 0;
                    let counter = 0;

                    function jumpTo() {
                        if ($results.length) {
                            let position,
                                $current = $results.eq(currentIndex);
                            $results.removeClass(currentClass);
                            if ($current.length) {
                                $current.addClass(currentClass);
                                position = $current.offset().top - offsetTop;
                                window.scrollTo(0, position);
                            }
                        }
                    }

                    /**
                     * Searches for the entered keyword in the
                     * specified context on input
                     * URL: https://markjs.io/
                     */
                    let keyupTimer;
                    $input.on("input", function() {
                        let searchVal = this.value;
                        clearTimeout(keyupTimer);
                        keyupTimer = setTimeout(function() {
                            $content.unmark({
                                done: function() {
                                    $content.mark(searchVal, {
                                        separateWordSearch: false,
                                        ignoreJoiners: true,
                                        done: function(_counter) {
                                            $results = $content.find("mark");

                                            $("div#paragraph").find( "mark" ).parent().parent().parent().siblings("#paragraph").each(function() {
                                                if ($(this).find('mark').length > 0) {
                                                    $(this).css( "display", "block" );
                                                } else {
                                                    $(this).css( "display", "none" );
                                                }
                                            });

                                            currentIndex = 0;
                                            counter  = _counter;
                                            $('span.badge').text((currentIndex+1)+"/"+counter);
                                            jumpTo();
                                        }
                                    });
                                }
                            });
                        }, 300);
                    });

                    $clearBtn.on("click", function() {
                        $content.unmark();
                        $input.val("").focus();
                    });

                    $nextBtn.add($prevBtn).on("click", function() {
                        if ($results.length) {
                            currentIndex += $(this).is($prevBtn) ? -1 : 1;
                            if (currentIndex < 0) {
                                currentIndex = $results.length - 1;
                            }
                            if (currentIndex > $results.length - 1) {
                                currentIndex = 0;
                            }
                            $('span.badge').text((currentIndex+1)+"/"+counter);
                            jumpTo();
                        }
                    });
                });
            });
        },
        methods: {
            expressMethod(express) {
                this.express = express;
                $("#newTopicModal").modal('show');
            },
            getPars() {
                axios.get('/api/paragraph')
                    .then(response => {
                        this.expresses = response.data.expresses;
                        this.texts = response.data.paragraphs;
                    });
            }
        },
        created() {
            Fire.$on('reloadParagraph', () => {
                this.getPars();
            });
        }
    }
    AOS.init();
</script>
<style scoped>
    div.paragraph {
        padding-bottom: 0 !important;
        margin-bottom: 0.575em !important;
        display: inherit;
    }
    div.paragraph > span {
        cursor: pointer;
    }
    div.paragraph > span:hover {
        color: blue;
    }
    .optionscroll {
        z-index: 1000;
        position: fixed;
        right: 16px;
        bottom: 54px;
        color: black;
        padding: 2px;
        max-height: 80%;
        display: inline-grid;
    }
    div.optionscroll > span, div.optionscroll > button:last-child {
        margin-top: 4px;
    }
    div.express > button {
        margin-left: 4px;
        margin-top: 4px;
    }
    div.express > button:first-child {
        margin-left: 0;
    }
    button.btn-outline-secondary {
        color: white;
        border-color: transparent;
    }
</style>
