<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('nav.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('common.list') }} {{ $t('nav.references') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('common.list') }} {{ $t('nav.reference') }}</h3>

                                <div class="card-tools date">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="desc">{{ $t('common.newest') }}</option>
                                        <option value="asc">{{ $t('common.oldest') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools status">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="1">{{ $t('common.visible') }}</option>
                                        <option value='0'>{{ $t('common.invisible') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools _references">
                                    <input v-model="searchData" type="text" v-bind:placeholder="$t('common.search_table')" class="form-control">
                                </div>
                                <div class="card-tools">
                                    <button class="btn btn-success" @click="newModal">
                                        {{ $t('common.add_new') }}
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="hidden">ID</th>
                                        <th class="width20">{{ $t('table.category_name') }}</th>
                                        <th>{{ $t('table.description') }}</th>
                                        <th class="text-center width10">{{ $t('table.manipulation') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="reference in references.data" :key="reference.id">
                                        <td class="hidden">{{ reference.id }}</td>
                                        <td v-if="'vi' == locale">{{ reference.sentence_vi }}</td>
                                        <td v-else-if="'en' == locale">{{ reference.sentence_en }}</td>
                                        <td v-if="'vi' == locale" v-html="reference.description_vi"></td>
                                        <td v-else-if="'en' == locale" v-html="reference.description_en"></td>
                                        <td class="text-center">
                                            <a href="" @click.prevent="editReference(reference)">
                                                <i class="btn btn-primary fa fa-edit blue"></i>
                                            </a>
                                            <a href="" @click.prevent="deleteReference(reference.id)">
                                                <i class="btn btn-danger fa fa-trash red"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="pagination justify-content-center m-0 float-right">
                                    <pagination :data="references" @pagination-change-page="getReferences"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" ref="vuemodal" id="addNew" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 v-if="!editMode" class="modal-title">{{ $t('common.add_new') }} {{ $t('nav.reference') }}</h5>
                                <h5 v-else-if="editMode" class="modal-title">{{ $t('common.update') }} {{ $t('nav.reference') }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form @submit.prevent="createReference()" @keydown="form.onKeydown($event)">
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-sm-3">{{ $t('reference.name') }}</label>
                                        <input v-model="form.sentence" type="text" class="form-control col-sm-9"
                                               :disabled="isCheck"
                                               :class="{ 'is-invalid': errors.sentence }">
                                        <span class="col-sm-3"></span>
                                        <div v-show="errors.sentence" class="help-block with-errors col-sm-9 reset-left">{{ errors.sentence }}</div>
                                    </div>
                                    <label>{{ $t('reference.description') }}</label>
                                    <div class="form-group">
                                        <div id="app">
                                            <vue-editor id="content" :class="{ 'is-invalid': form.errors.has('content') }"
                                                        useCustomImageHandler @image-added="handleImageAdded"
                                                        v-model="form.description"></vue-editor>
                                            <has-error :form="form" field="content"></has-error>
                                        </div>
                                        <div v-show="errors.description" class="help-block with-errors col-sm-9 reset-left">{{ errors.description }}</div>
                                    </div>
                                    <label>{{ $t('reference.example') }}</label>
                                    <div class="form-group row">
                                        <span class="col-sm-12 exampleInput">
                                            <multiselect v-model="form.references"
                                                         v-bind:tag-placeholder="$t('placeholder.form.reference')"
                                                         v-bind:placeholder="$t('placeholder.form.reference')"
                                                         label="example" track-by="example"
                                                         :options="options" :multiple="true"
                                                         :taggable="true"
                                                         @tag="addSample">
                                            </multiselect>
                                        </span>
                                    </div>
                                    <label>{{ $t('reference.pattern') }}</label>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th class="width10">ID</th>
                                                    <th>{{ $t('table.reference_name') }}</th>
                                                    <th class="width20 align-center">{{ $t('table.audio') }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(option, index) in options" :key="option.id">
                                                    <td class="width10">{{ index + 1 }}</td>
                                                    <td>{{ option.example }}</td>
                                                    <td class="width20 align-center">
                                                        <a v-if="null != option.audio && option.audio.length !== 0" @click.prevent="playAudioText(option.audio)">
                                                            <i class="btn btn-primary fas fa-volume-up"></i>
                                                        </a>
                                                        <a v-else-if="null == option.audio || option.audio.length == 0" @click.prevent="updateAudioText(option.href)">
                                                            <i class="btn btn-danger fas fa-volume-mute"></i>
                                                        </a>
                                                        <a @click="deleteAudio(option.example)">
                                                            <i class="btn btn-danger fas fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                    <input class="hidden" v-bind:ref="option.href" :name="option.href" type="file"
                                                           v-bind:id="option.href" @change="onVideoChange($event, option.example)">
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('category.is_editable') }}</label>
                                        <div class="col-sm-10 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input id="is_editable" type="checkbox" class="custom-control-input" v-model="form.is_editable" :checked="form.is_editable">
                                            <label class="custom-control-label" for="is_editable"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2">{{ $t('category.status') }}</label>
                                        <div class="col-sm-10 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input id="status" type="checkbox" class="custom-control-input" v-model="form.status" :checked="form.status">
                                            <label class="custom-control-label" for="status"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3">{{ $t('category.multiple_languages') }}</label>
                                        <select name="locale" v-model="form.lang" id="role" class="form-control col-sm-9" :class="{ 'is-invalid': form.errors.has('lang') }">
                                            <option value="vi">{{ $t('common.lang_vi') }}</option>
                                            <option value="en">{{ $t('common.lang_en') }}</option>
                                        </select>
                                        <has-error :form="form" field="lang" class="col-sm-6"></has-error>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import Ls from '../../../services/ls'
    import { VueEditor } from "vue2-editor";
    export default {
        components: {
            VueEditor,
            Multiselect
        },
        watch: {
            'form.sentence'(newVal) {
                if (newVal != null && newVal.length > 0) {
                    this.errors.sentence = '';
                }
            },
            'form.description'(newVal) {
                if (newVal != null && newVal.length > 0) {
                    this.errors.description = '';
                }
            },
            'searchData'(newVal) {
                if (newVal.length > 0) {
                    clearTimeout(this.keyupTimer);
                    this.keyupTimer = setTimeout(() => {
                        this.filterReference();
                    }, 300);
                }
            }
        },
        data() {
            return {
                isCheck: false,
                editMode : true,
                references : {},
                temp: '',
                position_pick_file: '',
                options: [],
                errors : {
                    sentence: '',
                    description: ''
                },
                locale : Ls.get('locale'),
                form: new Form({
                    id: 0,
                    sentence: '',
                    description : '',
                    status: 1,
                    is_editable: 1,
                    lang : Ls.get('locale')
                }),

                backups: [],
                searchData: '',
                keyupTimer: 0,
                sortDate: 'desc',
                statusData: 1
            }
        },
        mounted() {
            this.getReferences();
            $(this.$refs.vuemodal).on("hidden.bs.modal", this.updateReference);
        },
        methods: {
            onCChange(event) {
                if(isNaN(event.target.value)) {
                    this.sortDate = event.target.value;
                } else {
                    this.statusData = event.target.value;
                }
                this.filterReference();
            },
            filterReference() {
                this.$Progress.start();
                const formData = new FormData();
                formData.append("keyword", this.searchData);
                formData.append("status", this.statusData);
                formData.append("date", this.sortDate);
                formData.append("type", 'reference');
                axios.post('/api/search', formData)
                    .then(response => {
                        if (response.data.data.length >= 0) {
                            this.references = response.data;
                            this.$Progress.finish();
                        }
                    });
            },
            addSample (sentence) {
                if (0 === this.form.id && 0 !== sentence.length) {
                    this.updateReference();
                    this.temp = sentence;
                } else {
                    if (0 !== this.form.id) {
                        /**
                         * The reference already existed in our system that why you don't need
                         * to re-create a new reference which contains a new audio.
                         */
                        this.uploadAudio(null, sentence);
                        this.createNewAudio(this.form.id, sentence);
                    }
                }
            },
            async createSentence() {
                await this.form.post('/api/reference')
                    .then(response => {
                        if (response.data.sentence) {
                            this.errors.sentence = response.data.sentence[0];
                            this.$Progress.fail();
                        } else if (response.data.description) {
                            this.errors.description = response.data.description[0];
                            this.$Progress.fail();
                        } else {
                            this.form.id = response.data.id;
                            toastr['success'](this.$t('dialog_message.add_reference_successfully'),
                                this.$t("common.message"));
                            this.$Progress.finish();
                            this.isCheck = true;
                            Fire.$emit('reload');
                            Fire.$emit('sample');
                        }
                    }).catch(() => {
                        this.$Progress.fail();
                    });
            },
            async updateReference() {
                if (0 != this.form.id) {
                    await this.form.put('/api/reference/' + this.form.id)
                        .then(response => {
                            $("#addNew").modal('hide');
                            if (response.data.sentence) {
                                this.errors.sentence = response.data.sentence[0];
                                this.$Progress.fail();
                            } else if (response.data.description) {
                                this.errors.description = response.data.description[0];
                                this.$Progress.fail();
                            } else {
                                this.$Progress.finish();
                                Fire.$emit('reload');
                            }
                        }).catch(() => {
                            this.$Progress.fail();
                        });
                } else {
                    this.createSentence();
                }
            },
            createNewAudio(id, sentence) {
                this.form.id = id;
                const audioreference = {
                    id: Math.random(),
                    example: sentence,
                    reference_id: id,
                    href: global.slug(sentence),
                    audio: ''
                };
                this.options.push(audioreference);
            },
            newModal() {
                this.mode = false;
                this.isCheck = false;
                this.form.reset();
                this.form.clear();
                this.options = [];
                this.editMode = false;
                $('#addNew').modal('show');
            },
            getReferences(page = 1) {
                this.$Progress.start();
                axios.get('/api/reference?page=' + page)
                    .then(response => {
                        this.references = response.data;
                        this.backups = this.references;
                        this.$Progress.finish();
                    }).catch(() => {
                        this.$Progress.fail();
                    });
            },
            handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
                const formData = new FormData();
                formData.append("file", file);
                axios.post('/api/zimage', formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'Authorization': 'Bearer ' + window.localStorage.getItem('auth.token')
                        }
                    })
                    .then(result => {
                        let url = result.data;
                        Editor.insertEmbed(cursorLocation, "image", url);
                        resetUploader();
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            deleteAudio(example) {
                swal.fire({
                    title: this.$t("dialog.confirm"),
                    text: this.$t("dialog.warning"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.cancel"),
                    confirmButtonText: this.$t("dialog.delete")
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/audio/'+example)
                            .then(() => {
                                toastr['success'](this.$t("dialog_message.delete_audio_successfully"), this.$t("common.message"));
                                this.options = this.options.filter(function(el) { return el.example != example; });
                            }).catch(() => {
                                toastr['error'](this.$t("dialog_message.delete_audio_failure"), this.$t("common.error"));
                        });
                    }
                })
            },
            editReference(reference) {
                $('#addNew').modal('show');
                this.form.reset();
                this.editMode = true;
                this.isCheck = false;
                this.form.fill(reference);
                this.options = reference.example;
                if ("vi" === this.locale) {
                    this.form.description = reference.description_vi;
                    this.form.sentence = reference.sentence_vi;
                } else {
                    this.form.description = reference.description_en;
                    this.form.sentence = reference.sentence_en;
                }
                this.form.status = 1 == reference.status;
                this.form.is_editable = 1 == reference.is_editable;
            },
            deleteReference(id) {
                swal.fire({
                    title: this.$t("dialog.confirm"),
                    text: this.$t("dialog.warning"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.cancel"),
                    confirmButtonText: this.$t("dialog.delete")
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/reference/'+id)
                            .then(() => {
                                toastr['success'](this.$t("dialog_message.delete_reference_successfully"), this.$t("common.message"));
                                Fire.$emit('reload');
                            }).catch(() => {
                            toastr['error'](this.$t("dialog_message.delete_reference_failure"), this.$t("common.error"));
                        });
                    }
                })
            },
            playAudioText(audio) {
                let audio_play = new Audio(audio);
                audio_play.play();
            },
            updateAudioText(href) {
                this.position_pick_file = href;
                document.getElementById(href).click();
            },
            uploadAudio(files, example) {
                let formData = new FormData();
                if (null != files && files.length !== 0) {
                    formData.append('temp', files[0]);
                } else {
                    formData.append('temp', null);
                }
                formData.append('example', example);
                formData.append('href', global.slug(example));
                formData.append('status', this.form.status);
                formData.append('is_editable', this.form.is_editable);
                formData.append('lang', Ls.get('locale'));
                formData.append('reference_id', this.form.id);
                axios.post('/api/audio', formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'Authorization': 'Bearer ' + window.localStorage.getItem('auth.token')
                        }
                    })
                    .then(reponse => {
                        this.options.forEach(function(option) {
                            if (option.example === reponse.data.example) {
                                option.audio = reponse.data.audio;
                            }
                        });
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });
            },
            onVideoChange(event, example) {
                let files = event.target.files || event.dataTransfer.files;
                if (!files.length)
                    return;
                this.uploadAudio(files, example);
            }
        },
        created() {
            Fire.$on('reload', () => {
                this.getReferences();
            });
            Fire.$on('sample', () => {
                this.addSample(this.temp);
            });
        }
    }
</script>
<style src="../../../../../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
    .reset-left {
        margin-left: 0;
        padding-left: 0;
    }
    .with-errors {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #e3342f;
    }
    .modal-content {
        padding-right: 20px;
    }
    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: normal;
    }
    .exampleInput {
        margin: 0;
        padding: 0 0 0 16px;
    }
    div._references {
        width: 20rem;
        right: 5rem;
    }
    div.status {
        width: 8rem;
        right: 25.5rem;
    }
    div.date {
        width: 8rem;
        right: 34rem;
    }
</style>
