<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('nav.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('common.list') }} {{ $t('nav.videos') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('common.list') }} {{ $t('nav.videos') }}</h3>
                            </div>
                            <div class="full-content">
                                <data-table
                                        :columns="columns"
                                        :filters="filters"
                                        :data="data"
                                        class="videotable"
                                        :classes="classes"
                                        :per-page="perPage"
                                        :translate="options"
                                        ref="videoTable"
                                        @loading="isLoading = true"
                                        @finishedLoading="isLoading = false"
                                        @on-table-props-changed="refreshTable">
                                    <div slot="filters" slot-scope="{ tableFilters, perPage }">
                                        <div class="row mb-2 control-paragraph">
                                            <div class="col-md-4">
                                                <select class="form-control" v-model="tableFilters.length">
                                                    <option :key="page" v-for="page in perPage">{{ page }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <select
                                                        v-model="tableFilters.filters.status"
                                                        class="form-control">
                                                    <option value>All</option>
                                                    <option value='1'>{{ $t('common.visible') }}</option>
                                                    <option value='0'>{{ $t('common.invisible') }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <input
                                                    name="name"
                                                    type="text"
                                                    class="form-control"
                                                    v-model="tableFilters.search"
                                                    v-bind:placeholder="$t('common.search_table')">
                                            </div>
                                            <div class="col-md-2">
                                                <input
                                                        type="button"
                                                        name="new"
                                                        data-toggle="modal"
                                                        data-target="#newVideoModal"
                                                        v-bind:value="$t('common.add_new')"
                                                        class="btn btn-primary form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align: center">
                                        <loading
                                                :is-full-page="true"
                                                :active.sync="isLoading">
                                        </loading>
                                    </div>
                                </data-table>
                                <update-modal
                                        :form="form"
                                        :errors="errors">
                                </update-modal>
                                <new-modal
                                        :form="form"
                                        :errors="errors">
                                </new-modal>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import UpdateModal from "../../../back/datatable/video/UpdateModal.vue";
    import NewModal from "../../../back/datatable/video/NewModal.vue";
    import Manipulation from "../../../back/datatable/video/Manipulation.vue";
    import Thumbnail from "../../../back/datatable/video/Thumbnail.vue";
    import TailwindDatatable from "../../../datatable/tailwind.js";
    import Ls from "../../../services/ls";
    import moment from "moment";
    export default {
        components: {
            UpdateModal, NewModal, Manipulation
        },
        data() {
            return {
                url: '/api/video',
                perPage: ['20', '50', '100'],
                data: {},
                isLoading: true,
                tableProps: {
                    search: '',
                    length: 20,
                    column: 'id',
                    dir: 'desc'
                },
                options:  {
                    nextButton: this.$t('common.next'),
                    previousButton: this.$t('common.previous'),
                    placeholderSearch: this.$t('common.search_table')
                },
                columns: [
                    {
                        label: this.$t('table.video_name'),
                        name: 'vi' ===  Ls.get('locale') ? 'name_vi' : 'name_en',
                        orderable: true,
                    },
                    {
                        label: this.$t('table.href_youtube'),
                        name: 'vi' ===  Ls.get('locale') ? 'href_vi' : 'href_en',
                        orderable: true,
                        component: Thumbnail,
                    },
                    {
                        label: this.$t('table.view'),
                        name: 'view',
                        orderable: true
                    },
                    {
                        label: this.$t('table.comments'),
                        name: 'comments',
                        orderable: true
                    },
                    {
                        label: this.$t('table.published'),
                        name: 'published',
                        orderable: true,
                        transform: ({data, name}) => moment(`${data[name]}`).lang(localStorage.getItem('locale')).format('DD MMMM YYYY'),
                    },
                    {
                        label: this.$t('table.manipulation'),
                        name: 'Edit,Delete',
                        orderable: false,
                        classes: {
                            'btn': true,
                            'btn-primary': true,
                            'btn-sm': true,
                        },
                        event: "click",
                        handler: this.updateVideo,
                        component: Manipulation,
                    }
                ],
                filters: {
                    status: '',
                },
                form: new Form({
                    id: 0,
                    name: '',
                    blog_id: '',
                    href: '',
                    is_editable : 1,
                    status: 1,
                    description: '',
                    lang: Ls.get('locale')
                }),
                errors : {
                    name: '',
                    blog_id: '',
                    href: '',
                    description: ''
                }
            }
        },
        mixins: [
            TailwindDatatable
        ],
        mounted() {
            this.getVideos(this.url);
        },
        methods: {
            fetchBlogs() {
                if (this.form.blog_id.length > 0) {
                    axios.get('/api/blog/' + this.form.blog_id, {
                        headers: {
                            'type': 'video',
                            'keyword': this.form.blog_id,
                            'lang': this.locale
                        }
                    })
                        .then(data => {
                            if (data.data.length > 0) {
                                this.blogs = data.data;
                            }
                        }).catch(error => {
                        this.$Progress.fail();
                    });
                }
            },
            getVideos(url = this.url, options = this.tableProps) {
                axios.get(url, {
                    params: options
                })
                    .then(response => {
                        this.data = response.data;
                    })
                    .catch(() => {})
            },
            refreshTable(tableProps) {
                this.getVideos(this.url, tableProps);
            },
            updateVideo(data) {
                this.form.blog_id = data.blog_id;
                this.form.name = 'vi' === Ls.get('locale') ? data.name_vi : data.name_en;
                this.form.href = 'vi' === Ls.get('locale') ? data.href_vi : data.href_en;
                this.form.description = 'vi' === Ls.get('locale') ? data.description_vi : data.description_en;
                this.form.status = data.status == 1;
                this.form.is_editable = data.is_editable == 1;
                this.form.lang = Ls.get('locale');
                this.form.id = data.id;
            }
        },
        created() {
            Fire.$on('reloadVideo', () => {
                this.getVideos(this.url);
                this.$refs.videoTable.getData();
            });
        }
    };
</script>

<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);
    div.videotable > div.table-responsive > table > thead > tr > th:last-child {
        text-align: center;
    }
    div.videotable > div.table-responsive > table > tbody > tr > td:last-child {
        text-align: right;
    }

    div.videotable > div.table-responsive > table > tbody > tr > td:nth-child(4) {
        text-align: center;
    }

    div.videotable > div.table-responsive > table > tbody > tr > td:nth-child(3) {
        text-align: center;
    }
</style>
