.login-page, .register-page {
    background: transparent;
}

.login-box {
    margin: 7% auto;
}

img#logo {
    width: 339px;
    height: auto;
}

/*Laptop ngang(1366 x 768)*/
@media screen and (max-width: 1366px) {
    .login-box {
        margin: 2% auto;
    }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    .login-box {
        margin: 2% auto;
    }
}
/*Ipad dá»c(768 x 1024)*/
@media screen and (max-width: 768px){

}
/*Tablet nhá»(480 x 640)*/
@media screen and (max-width: 480px){

}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){

}
/*Smart phone nhá»*/
@media screen and (max-width: 240px){

}