<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('nav.dashboard') }}</router-link></li>
                                <li class="breadcrumb-item active">{{ $t('table.edit_project') }}</li>
                            </ol>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid removePadding">
                <div class="col-12 removePadding">
                    <form @submit.prevent="updateArchi()">
                        <div>
                            <div class="form-group">
                                <label>{{ $t('table.project_name') }}</label>
                                <input v-model="form.name" type="text" name="name" id="name"
                                       v-bind:placeholder="$t('table.enter_project_title')"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('table.investor') }}</label>
                                <input v-model="form.owner" type="text" name="owner" id="owner"
                                       v-bind:placeholder="$t('table.enter_investor')"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('owner') }">
                                <has-error :form="form" field="owner"></has-error>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('table.description') }}</label>
                                <textarea v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" class="form-control" rows="3" placeholder="" style="margin-top: 0; margin-bottom: 0; height: 160px;"></textarea>
                                <has-error :form="form" field="description"></has-error>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('table.title_project') }}</label>
                                <textarea v-model="form.title" :class="{ 'is-invalid': form.errors.has('title') }" class="form-control" rows="3" placeholder="" style="margin-top: 0; margin-bottom: 0; height: 160px;"></textarea>
                                <has-error :form="form" field="title"></has-error>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('table.classify') }}</label>
                                <input v-model="form.type" type="text" name="type" id="type" disabled
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                                <has-error :form="form" field="type"></has-error>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('table.location') }}</label>
                                <input v-model="form.location" type="text" name="location" id="location"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('location') }">
                                <has-error :form="form" field="location"></has-error>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('table.status') }}</label>
                                <select v-model="form.status" class="custom-select" :class="{ 'is-invalid': form.errors.has('status') }">
                                    <option value="" selected="selected">{{ $t('label.choose_status') }}</option>
                                    <option v-for="status in statuses" v-bind:value="status.value">{{ status.text }}</option>
                                </select>
                                <has-error :form="form" field="status"></has-error>
                            </div>
                            <label>{{ $t('table.at_the_time') }}</label>
                            <datepicker v-model="form.timeline"
                                        :format="dateFormat"
                                        :full-month-name="true"
                                        :language="es"
                                        :monday-first="true"
                                        :bootstrap-styling="true"
                                        :calendar-button="false">
                            </datepicker>
                            <br>
                            <div class="form-group">
                                <label>{{ $t('table.name_of_unit_design') }}</label>
                                <textarea v-model="form.design" :class="{ 'is-invalid': form.errors.has('design') }" class="form-control" rows="3"
                                          style="margin-top: 0; margin-bottom: 0; height: 160px;"></textarea>
                                <has-error :form="form" field="design"></has-error>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('table.name_of_unit_construction') }}</label>
                                <textarea v-model="form.construction" :class="{ 'is-invalid': form.errors.has('construction') }" class="form-control" rows="3"
                                          style="margin-top: 0; margin-bottom: 0; height: 160px;"></textarea>
                                <has-error :form="form" field="construction"></has-error>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('table.describe_project') }}</label>
                                <textarea v-model="form.content" :class="{ 'is-invalid': form.errors.has('content') }" class="form-control" rows="3"
                                          style="margin-top: 0; margin-bottom: 0; height: 160px;"></textarea>
                                <has-error :form="form" field="content"></has-error>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="is_home" v-model="form.is_home">
                                <label for="is_home">{{ $t('table.view_project_at_home') }}</label>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="form-control btn btn-primary" v-bind:value="$t('table.edit_new_project')">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker'
    import {vi} from 'vuejs-datepicker/dist/locale'
    export default {
        components: {
            Datepicker
        },
        data() {
            return {
                locale: window.localStorage.getItem('locale'),
                form: new Form({
                    name : '',
                    owner: '',
                    type : '',
                    description: '',
                    title : '',
                    location : '',
                    status : '',
                    design : '',
                    construction : '',
                    content : '',
                    is_home : '',
                    lang: '',
                    timeline: new Date(),
                }),
                statuses: [
                    {
                        value: 'vi' === localStorage.getItem('locale') ? 'Hoàn Thành' : 'Completed',
                        text: 'vi' === localStorage.getItem('locale') ? 'Hoàn Thành' : 'Completed'
                    },
                    {
                        value: 'vi' === localStorage.getItem('locale') ? 'Chưa Hoàn Thành' : 'UnCompleted',
                        text: 'vi' === localStorage.getItem('locale') ? 'Chưa Hoàn Thành' : 'UnCompleted'
                    }
                ],
                dateFormat: 'yyyy',
                es: vi
            }
        },
        mounted() {
            this.getProject(this.$route.params.id);
        },
        methods: {
            async getProject(id) {
                await this.form.get('/api/project/'+id)
                    .then(data => {
                        if ('success' === data.data.message.status) {
                            if (data.data.project.length > 0) {
                                let project = data.data.project[0];
                                this.time = project.time;
                                if ('vi' === this.locale) {
                                    this.form.name = project.name_vi;
                                    this.form.owner = project.owner_vi;
                                    this.form.description = project.description_vi;
                                    this.form.title = project.title_vi;
                                    this.form.location = project.location_vi;
                                    this.form.status = project.status_vi;
                                    this.form.design = project.design_vi;
                                    this.form.construction = project.construction_vi;
                                    this.form.content = project.content_vi;
                                } else {
                                    this.form.name = project.name_en;
                                    this.form.owner = project.owner_en;
                                    this.form.description = project.description_en;
                                    this.form.title = project.title_en;
                                    this.form.location = project.location_en;
                                    this.form.status = project.status_en;
                                    this.form.design = project.design_en;
                                    this.form.construction = project.construction_en;
                                    this.form.content = project.content_en;
                                }
                                this.form.lang = this.locale;
                                this.form.is_home = project.is_home;
                                this.form.type = project.category.id;
                                this.form.id = this.$route.params.id;
                            }
                            this.$Progress.finish();
                        } else {
                            this.$Progress.fail();
                        }
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });
            },
            async updateArchi() {
                this.$Progress.start();
                await this.form.put('/api/project/' + this.$route.params.id)
                    .then(() => {
                        toastr['success'](this.$t('dialog_message.update_project_sucessfully'), this.$t('common.message'));
                        this.$Progress.finish();
                        this.$router.go(-1);
                    }).catch(() => {
                        toastr['success'](this.$t('dialog_message.update_project_failure'), this.$t('common.error'));
                        this.$Progress.fail();
                    });
            }
        }
    }
</script>

<style scoped>
    .removePadding {
        padding: 0;
        margin: 0;
    }
    div.container-fluid {
        padding-left: 0;
    }
    select {
        text-indent: 5px;
    }
    div.container-fluid {
        padding-left: 0;
    }
</style>
