<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('button.new') }} {{ $t('breadcrumb.project.website') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row container-fluid removePadding">
                <div class="col-8 removePadding">
                    <form @submit.prevent="createProject()">
                        <div>
                            <div class="form-group">
                                <label>{{ $t('breadcrumb.project.table.name') }}</label>
                                <input v-model="form.name" type="text" name="name" id="name"
                                       v-bind:placeholder="$t('breadcrumb.project.placeholder.name')"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('breadcrumb.project.table.initial_cost') }}</label>
                                <input v-model="form.initial_cost" type="text" name="initial_cost" id="initial_cost"
                                       v-bind:placeholder="$t('breadcrumb.project.placeholder.initial_cost')"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('initial_cost') }">
                                <has-error :form="form" field="initial_cost"></has-error>
                            </div>
                            <label class="top5">{{ $t('breadcrumb.project.table.description') }}</label>
                            <div class="form-group">
                                <div id="app">
                                    <vue-editor id="content" :class="{ 'is-invalid': form.errors.has('description') }"
                                                useCustomImageHandler @image-added="handleImageAdded"
                                                v-model="form.description"></vue-editor>
                                    <has-error :form="form" field="content"></has-error>
                                </div>
                            </div>
                            <label>{{ $t('breadcrumb.project.table.date') }}</label>
                            <datepicker v-model="form.date"
                                        :format="dateFormat"
                                        :full-month-name="true"
                                        :language="es"
                                        :monday-first="true"
                                        :bootstrap-styling="true"
                                        :calendar-button="false">
                            </datepicker>
                            <br>
                            <div class="form-group">
                                <label>{{ $t('breadcrumb.project.table.status') }}</label>
                                <div class="top5 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3" v-model="form.status" :checked="form.status">
                                    <label class="custom-control-label" for="customSwitch3"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{ $t('breadcrumb.project.table.is_editable') }}</label>
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input id="is_editable" type="checkbox" class="custom-control-input" v-model="form.is_editable" :checked="form.is_editable">
                                    <label class="custom-control-label" for="is_editable"></label>
                                </div>
                            </div>
                            <div class="form-group form-group row removePadding">
                                <label class="col-4 removePadding mg-center">{{ $t('breadcrumb.project.table.multiple_languages') }}</label>
                                <select name="locale" v-model="form.lang" id="lang" class="col-8 form-control">
                                    <option value="vi">{{ $t('common.lang_vi') }}</option>
                                    <option value="en">{{ $t('common.lang_en') }}</option>
                                </select>
                            </div>
                            <div class="form-group top20">
                                <input type="submit" class="form-control btn btn-primary" v-bind:value="$t('button.new')">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-4 removePadding padding-left-25">
                    <div class="form-group">
                        <label>{{ $t('breadcrumb.project.table.thumbnail') }}</label>
                        <br><span class="badge badge-info body-bg">{{ $t('breadcrumb.project.placeholder.thumbnail') }}</span>
                    </div>
                    <div class="pic_project">
                        <img src="/images/pic1.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker'
    import { VueEditor } from "vue2-editor";
    import {vi} from 'vuejs-datepicker/dist/locale'
    export default {
        props: ['category_id'],
        components: {
            VueEditor,
            Datepicker
        },
        data() {
            return {
                categories: {},
                locale: window.localStorage.getItem('locale'),
                form: new Form({
                    name : '',
                    thumbnail : '',
                    description :  '',
                    status : 1,
                    is_editable: 1,
                    lang: window.localStorage.getItem('locale'),
                    date: new Date(),
                }),
                dateFormat: localStorage.getItem('locale') === "vi" ? 'dd MMMM yyyy' : 'MMMM dd yyyy',
                es: vi
            }
        },
        mounted() {
            this.getAllCategory();
        },
        methods: {
            handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
                const formData = new FormData();
                formData.append("file", file);
                axios.post('/api/ximage', formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'Authorization': 'Bearer ' + window.localStorage.getItem('auth.token')
                        }
                    })
                    .then(result => {
                        let url = result.data;
                        Editor.insertEmbed(cursorLocation, "image", url);
                        resetUploader();
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            createProject() {
                this.form.post('/api/project', {
                    headers: {
                        'locale': this.locale
                    }
                })
                    .then(data => {
                        if (0 === data.data.error.code) {
                            this.form.reset();
                            this.form.clear();
                            this.form.timeline = new Date();
                            toastr['success'](this.$t('dialog_message.add_project_successfully'), this.$t('common.message'));
                            this.$Progress.finish();
                            this.$router.go(-1);
                        } else {
                            toastr['error'](this.$t('dialog_message.add_project_failure'), this.$t('common.error'));
                            this.$Progress.fail();
                        }
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });
            },
            getAllCategory() {
                axios.get('/api/category', {
                    headers: {
                        'type': 'art'
                    }
                })
                    .then(data => {
                        this.categories = data.data;
                    }).catch(() => {
                        this.$Progress.fail();
                });
            }
        }
    }
</script>

<style scoped>
    .padding-left-25 {
        padding-left: 25px !important;
    }
    .removePadding {
        padding: 0;
        margin: 0;
    }
    select {
        text-indent: 5px;
    }
    div.container-fluid {
        padding-left: 0;
    }
    div.content-header {
        padding: 0 1.0rem !important;
    }
    div.pic_project > img {
        max-height: 100%;
        max-width: 100%;
    }
</style>
