<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.project.website') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('breadcrumb.management.table.all') }} {{ $t('breadcrumb.project.website') }}{{ $t('noun.form_1') }}</h3>

                                <div class="card-tools">
                                    <router-link class="btn btn-box btn-success active" to="/admin/project/create">
                                        {{ $t('button.new') }} {{ $t('breadcrumb.project.website') }}
                                    </router-link>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="hidden">{{ $t('breadcrumb.project.table.id') }}</th>
                                        <th>{{ $t('breadcrumb.project.table.name') }}</th>
                                        <th>{{ $t('breadcrumb.project.table.thumbnail') }}</th>
                                        <th>{{ $t('breadcrumb.project.table.view') }}</th>
                                        <th>{{ $t('breadcrumb.project.table.initial_cost') }}</th>
                                        <th>{{ $t('breadcrumb.project.table.status') }}</th>
                                        <th class="text-center">{{ $t('breadcrumb.project.table.manipulation') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="project in projects.data" v-if="project" :key="project.id">
                                        <td class="hidden">{{ project.id }}</td>
                                        <td v-if="'vi' === locale">{{ project.name_vi }}</td>
                                        <td v-else-if="'en' === locale">{{ project.name_en }}</td>
                                        <td v-if="'vi' === locale">{{ project.category.name_vi }}</td>
                                        <td v-else-if="'en' === locale">{{ project.category.name_en }}</td>
                                        <td>{{ project.timeline | myDate }}</td>
                                        <td v-if="'vi' === locale">{{ project.location_vi | upText }}</td>
                                        <td v-else-if="'en' === locale">{{ project.location_en | upText }}</td>
                                        <td v-if="'vi' === locale">{{ project.status_vi | upText }}</td>
                                        <td v-else-if="'en' === locale">{{ project.status_en | upText }}</td>
                                        <td class="text-center">
                                            <router-link :to="'/admin/architecture/house/image/' + project.id">
                                                <i class="btn btn-success fa fa-image blue"></i>
                                            </router-link>
                                            <span class="space2"></span>
                                            <router-link :to="'/admin/architecture/houses/' + project.id">
                                                <i class="btn btn-primary fa fa-edit blue"></i>
                                            </router-link>
                                            <span class="space2"></span>
                                            <a href="" @click.prevent="deleteProject(project.id)">
                                                <i class="btn btn-danger fa fa-trash red"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="pagination justify-content-center m-0 float-right">
                                    <pagination :data="projects" @pagination-change-page="getProjects"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                projects : {},
                locale : localStorage.getItem('locale')
            }
        },
        mounted() {
            this.getProjects();
        },
        methods: {
            getProjects(page = 1) {
                axios.get('/api/project?page=' + page, {
                    headers: {
                        'path': this.$router.currentRoute.path,
                        'category_id': 4
                    }
                })
                    .then(response => {
                        this.projects = response.data;
                    });
            },
            deleteProject(id) {
                swal.fire({
                    title: this.$t('dialog.confirm'),
                    text: this.$t('dialog.warning'),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t('dialog.cancel'),
                    confirmButtonText: this.$t('dialog.delete')
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/project/'+id)
                            .then(() => {
                                toastr['success'](this.$t('dialog_message.delete_project_successfully'), this.$t('common.message'));
                                Fire.$emit('reload');
                            }).catch(() => {
                            toastr['error'](this.$t('dialog_message.common_error'), this.$t('common.error'));
                        });
                    }
                })
            }
        },
        created() {
            Fire.$on('reload', () => {
                this.getProjects();
            });
        }
    }
</script>

<style scoped>
    .hidden {
        display: none;
    }
    .btn-box {
        box-shadow: none !important;
    }
</style>
