<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('nav.dashboard') }}</router-link></li>
                                <li class="breadcrumb-item active">{{ $t('table.new_image') }}</li>
                            </ol>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('label.list_image_uploads') }}</h3>
                                <div class="card-tools">
                                    <div class="btn-group">
                                        <file-upload
                                                class="btn btn-primary dropdown-toggle"
                                                :post-action="postAction"
                                                :extensions="extensions"
                                                :accept="accept"
                                                :multiple="multiple"
                                                :directory="directory"
                                                :size="size || 0"
                                                :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                                                :headers="headers"
                                                :data="data"
                                                :drop="drop"
                                                :drop-directory="dropDirectory"
                                                :add-index="addIndex"
                                                v-model="files"
                                                @input-filter="inputFilter"
                                                @input-file="inputFile"
                                                ref="upload">
                                            <i class="fa fa-plus"></i>
                                            {{ $t('label.add_file') }}
                                        </file-upload>
                                        <div class="dropdown-menu">
                                            <label class="dropdown-item" :for="name">{{ $t('common.image') }}</label>
                                            <a class="dropdown-item" href="#" @click="onAddFolder">{{ $t('common.folder') }}</a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success" v-if="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true">
                                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                        {{ $t('label.start_uploading') }}
                                    </button>
                                    <button type="button" class="btn btn-danger"  v-else @click.prevent="$refs.upload.active = false">
                                        <i class="fa fa-stop" aria-hidden="true"></i>
                                        {{ $t('label.stop_uploading') }}
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <div class="upload" v-show="!isOption">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>{{ $t('common.index') }}</th>
                                                <th>{{ $t('common.image') }}</th>
                                                <th>{{ $t('label.name_picture') }}</th>
                                                <th>{{ $t('table.size') }} </th>
                                                <th>{{ $t('table.status') }}</th>
                                                <th>{{ $t('common.action') }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-if="!files.length">
                                                <td colspan="7">
                                                    <div class="text-center p-5">
                                                        <h4>{{ $t('label.drop_image_description') }}</h4>
                                                        <label :for="name" class="btn btn-lg btn-primary">{{ $t('label.choose_file') }}</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr v-for="(file, index) in files" :key="file.id">
                                                <td>{{index+1}}</td>
                                                <td>
                                                    <img v-if="file.thumb" :src="file.thumb" width="240" height="auto" />
                                                    <span v-else>No Image</span>
                                                </td>
                                                <td>
                                                    <div class="filename">
                                                        {{file.name}}
                                                    </div>
                                                    <div class="progress" v-if="file.active || file.progress !== '0.00'">
                                                        <div :class="{'progress-bar': true, 'progress-bar-striped': true, 'bg-danger': file.error, 'progress-bar-animated': file.active}" role="progressbar" :style="{width: file.progress + '%'}">{{file.progress}}%</div>
                                                    </div>
                                                </td>
                                                <td>{{file.size | formatSize}}</td>

                                                <td v-if="file.error">{{file.error}}</td>
                                                <td v-else-if="file.success">success</td>
                                                <td v-else-if="file.active">active</td>
                                                <td v-else></td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button">
                                                            Hành động
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a :class="{'dropdown-item': true, disabled: !file.active}" href="#" @click.prevent="file.active ? $refs.upload.update(file, {error: 'cancel'}) : false">Cancel</a>

                                                            <a class="dropdown-item" href="#" v-if="file.active" @click.prevent="$refs.upload.update(file, {active: false})">Abort</a>
                                                            <a class="dropdown-item" href="#" v-else-if="file.error && file.error !== 'compressing' && $refs.upload.features.html5" @click.prevent="$refs.upload.update(file, {active: true, error: '', progress: '0.00'})">Retry upload</a>
                                                            <a :class="{'dropdown-item': true, disabled: file.success || file.error === 'compressing'}" href="#" v-else @click.prevent="file.success || file.error === 'compressing' ? false : $refs.upload.update(file, {active: true})">Upload</a>

                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#" @click.prevent="$refs.upload.remove(file)">Remove</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="example-footer">
                                        <div class="footer-status float-left">
                                            <span v-show="caseSlider">{{ $t('image.slider') }}: <span class="red text-bold">920px x 770px</span>;</span>
                                            {{ $t('image.thumbnail') }}: <span class="red text-bold">1304px x 868px</span>;
                                            <span v-show="caseThumbnailSmall">{{ $t('image.thumbnail_small') }}: <span class="red text-bold">362px x 167px</span>;</span>
                                            <span v-show="caseBanner">{{ $t('image.banner') }}: <span class="red text-bold">1920px x 326px</span></span>
                                        </div>
                                        <div class="footer-status float-right">
                                            Drop: {{$refs.upload ? $refs.upload.drop : false}},
                                            Active: {{$refs.upload ? $refs.upload.active : false}},
                                            Uploaded: {{$refs.upload ? $refs.upload.uploaded : true}},
                                            Drop active: {{$refs.upload ? $refs.upload.dropActive : false}}
                                        </div>
                                    </div>
                                </div>
                                <div :class="{modal: true, fade: true, show: editFile.show}" id="modal-edit-file" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit file</h5>
                                                <button type="button" class="close"  @click.prevent="editFile.show = false">
                                                    <span>&times;</span>
                                                </button>
                                            </div>
                                            <form @submit.prevent="onEditorFile">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="name">Name:</label>
                                                        <input type="text" class="form-control" required id="name"  placeholder="Please enter a file name" v-model="editFile.name">
                                                    </div>
                                                    <div class="form-group" v-if="editFile.show && editFile.blob && editFile.type && editFile.type.substr(0, 6) === 'image/'">
                                                        <label>Image: </label>
                                                        <div class="edit-image">
                                                            <img :src="editFile.blob" ref="editImage" />
                                                        </div>

                                                        <div class="edit-image-tool">
                                                            <div class="btn-group" role="group">
                                                                <button type="button" class="btn btn-primary" @click="editFile.cropper.rotate(-90)" title="cropper.rotate(-90)"><i class="fa fa-undo" aria-hidden="true"></i></button>
                                                                <button type="button" class="btn btn-primary" @click="editFile.cropper.rotate(90)"  title="cropper.rotate(90)"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                                                            </div>
                                                            <div class="btn-group" role="group">
                                                                <button type="button" class="btn btn-primary" @click="editFile.cropper.crop()" title="cropper.crop()"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                                <button type="button" class="btn btn-primary" @click="editFile.cropper.clear()" title="cropper.clear()"><i class="fa fa-remove" aria-hidden="true"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" @click.prevent="editFile.show = false">Đóng</button>
                                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="hidden">{{ $t('table.id') }}</th>
                                        <th>{{ $t('table.image') }}</th>
                                        <th>{{ $t('table.size') }}</th>
                                        <th class="text-right">{{ $t('table.design') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="thumbnail in thumbnails.data" :key="thumbnail.id">
                                        <td class="hidden">{{ thumbnails.id }}</td>
                                        <td @click="deleteThumbnail(thumbnail.id)">
                                            <img alt="Thumbnail" class="table-avatar img_thumbnail" v-bind:src="thumbnail.thumbnail">
                                        </td>
                                        <td>{{ thumbnail.width }} x {{ thumbnail.height }}</td>
                                        <td class="text-right" v-show="thumbnail.type == '1'">{{ $t('image.slider') }}</td>
                                        <td class="text-right" v-show="thumbnail.type == '2'">{{ $t('image.thumbnail') }}</td>
                                        <td class="text-right" v-show="thumbnail.type == '3'">{{ $t('image.thumbnail_small') }}</td>
                                        <td class="text-right" v-show="thumbnail.type == '4'">{{ $t('image.banner') }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="pagination justify-content-center m-0 float-right">
                                    <pagination :data="thumbnails" @pagination-change-page="getPictures"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .btn-group .dropdown-menu {
        display: block;
        visibility: hidden;
        transition: all .2s;
    }
    .btn-group:hover > .dropdown-menu {
        visibility: visible;
    }
    .example-footer {
        padding: .75rem 1.25rem;
    }
    .table-responsive {
        overflow: hidden;
    }
    .hidden {
        display: none;
    }
    .img_thumbnail {
        width: 30%;
        height: auto;
    }
</style>

<script>
    import Cropper from 'cropperjs'
    import ImageCompressor from '@xkeshi/image-compressor'
    import FileUpload from 'vue-upload-component'
    const csrf = $('meta[name="csrf-token"]');
    export default {
        components: {
            FileUpload,
        },
        data() {
            return {
                thumbnails : {},
                files: [],
                accept: 'image/png,image/gif,image/jpeg,image/webp',
                extensions: 'gif,jpg,jpeg,png,webp',
                minSize: 1024,
                size: 1024 * 1024 * 10,
                multiple: true,
                directory: false,
                drop: true,
                dropDirectory: true,
                addIndex: false,
                thread: 3,
                name: 'file',
                postAction: '/api/image',
                headers: {
                    'X-Csrf-Token': csrf.attr('content'),
                    'Authorization': 'Bearer '+window.localStorage.getItem('auth.token')
                },
                data: {
                    '_csrf_token': csrf.attr('content'),
                    'project_id' : this.$route.params.id
                },
                autoCompress: 1024 * 1024,
                uploadAuto: false,
                isOption: false,
                addData: {
                    show: false,
                    name: '',
                    type: '',
                    content: '',
                },
                editFile: {
                    show: false,
                    name: '',
                },
                caseSlider : true,
                caseThumbnailSmall: true,
                caseBanner: true
            }
        },
        watch: {
            'editFile.show'(newValue, oldValue) {
                if (!newValue && oldValue) {
                    this.$refs.upload.update(this.editFile.id, { error: this.editFile.error || '' })
                }
                if (newValue) {
                    this.$nextTick(function () {
                        if (!this.$refs.editImage) {
                            return
                        }
                        let cropper = new Cropper(this.$refs.editImage, {
                            autoCrop: false,
                        });
                        this.editFile = {
                            ...this.editFile,
                            cropper
                        }
                    })
                }
            },
            'addData.show'(show) {
                if (show) {
                    this.addData.name = '';
                    this.addData.type = '';
                    this.addData.content = '';
                }
            },
        },
        mounted() {
            this.getPictures();
            Fire.$on('reload', () => {
                this.getPictures();
            });
        },
        methods: {
            async getPictures(page = 1) {
                this.caseSlider = true;
                this.caseThumbnailSmall = true;
                this.caseBanner = true;
                await axios.get('/api/image?page=' + page, {
                    headers: {
                        'project_id': this.$route.params.id
                    }
                })
                    .then(response => {
                        this.thumbnails = response.data;
                        let scope = this;
                        this.thumbnails.data.forEach(function(thumbnail) {
                            if (thumbnail.width === 920 && thumbnail.height === 770) {
                                scope.caseSlider = false;
                            }
                            if (thumbnail.width === 362 && thumbnail.height === 167) {
                                scope.caseThumbnailSmall = false;
                            }
                            if (thumbnail.width === 1920 && thumbnail.height === 326) {
                                scope.caseBanner = false;
                            }
                        });
                    });
            },
            deleteThumbnail(id) {
                swal.fire({
                    title: this.$t('dialog.confirm'),
                    text: this.$t('dialog.warning'),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t('dialog.cancel'),
                    confirmButtonText: this.$t('dialog.delete')
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/image/'+id)
                            .then(() => {
                                toastr['success'](this.$t('dialog_message.delete_file_successfully'), this.$t('common.message'));
                                Fire.$emit('reload');
                            }).catch(() => {
                                toastr['error'](this.$t('dialog_message.common_error'), this.$t('common.error'));
                        });
                    }
                })
            },
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                        return prevent()
                    }
                    if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                        return prevent()
                    }
                    if (newFile.file && newFile.type.substr(0, 6) === 'image/' && this.autoCompress > 0 && this.autoCompress < newFile.size) {
                        newFile.error = 'compressing';
                        const imageCompressor = new ImageCompressor(null, {
                            convertSize: Infinity,
                            maxWidth: 512,
                            maxHeight: 512,
                        });
                        imageCompressor.compress(newFile.file)
                            .then((file) => {
                                this.$refs.upload.update(newFile, { error: '', file, size: file.size, type: file.type })
                            })
                            .catch((err) => {
                                this.$refs.upload.update(newFile, { error: err.message || 'compress' })
                            })
                    }
                }
                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    newFile.blob = '';
                    let URL = window.URL || window.webkitURL;
                    if (URL && URL.createObjectURL) {
                        newFile.blob = URL.createObjectURL(newFile.file)
                    }
                    newFile.thumb = '';
                    if (newFile.blob && newFile.type.substr(0, 6) === 'image/') {
                        newFile.thumb = newFile.blob
                    }
                }
            },
            inputFile(newFile, oldFile) {
                if (newFile && oldFile) {
                    if (newFile.active && !oldFile.active) {
                        if (newFile.size >= 0 && this.minSize > 0 && newFile.size < this.minSize) {
                            this.$refs.upload.update(newFile, { error: 'size' })
                        }
                    }
                    if (newFile.progress !== oldFile.progress) {
                    }
                    if (newFile.error && !oldFile.error) {
                    }
                    if (newFile.success && !oldFile.success) {
                        toastr['success'](this.$t('image.upload_picture_successfully'), this.$t('common.message'));
                        Fire.$emit('reload');
                    }
                }
                if (!newFile && oldFile) {
                    if (oldFile.success && oldFile.response.id) {
                    }
                }
                if (Boolean(newFile) !== Boolean(oldFile) || oldFile.error !== newFile.error) {
                    if (this.uploadAuto && !this.$refs.upload.active) {
                        this.$refs.upload.active = true
                    }
                }
            },
            alert(message) {
                toastr['error'](message, this.$t('common.error'));
            },
            onAddFolder() {
                if (!this.$refs.upload.features.directory) {
                    toastr['error'](this.$t('label.browser_error'), this.$t('common.error'));
                    return
                }
                let input = this.$refs.upload.$el.querySelector('input');
                input.directory = true;
                input.webkitdirectory = true;
                this.directory = true;
                input.onclick = null;
                input.click();
                input.onclick = (e) => {
                    console.log(e);
                    this.directory = false;
                    input.directory = false;
                    input.webkitdirectory = false
                }
            }
        }
    }
</script>
