<template>
    <div>
        <button
            class="btn btn-danger btn-sm"
            @click.prevent="deleteContact(data.id)"
            title="Delete"
            type="button">
            <span>
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </span>
        </button>
    </div>
</template>
<script>
    export default {
        props: {
            data: {},
            name: {},
            click: {},
            meta: {},
            classes: {},
        },
        methods: {
            deleteContact(id) {
                swal.fire({
                    title: this.$t("dialog.confirm"),
                    text: this.$t("dialog.warning"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.cancel"),
                    confirmButtonText: this.$t("dialog.delete")
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/contact/'+id)
                            .then(() => {
                                toastr['success'](this.$t('dialog_message.delete_contact_successfully'),
                                    this.$t("common.message"));
                                Fire.$emit('reloadContact');
                            }).catch(() => {
                                toastr['error'](this.$t("dialog_message.delete_contact_failure"),
                                    this.$t("common.error"));
                        });
                    }
                })
            }
        }
    }
</script>
