<template>
    <div>
        <button :class="classes" @click="click(data)" title="Update">
            <span>
                <i class="fas fa-pen" aria-hidden="true"></i>
            </span>
            &nbsp;
            {{ name.split(",")[0] }}
        </button>
        <button class="btn btn-danger btn-sm" @click="click(data)" title="Delete">
            <span>
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </span>
            &nbsp;
            {{ name.split(",")[1] }}
        </button>
    </div>
</template>
<script>
    export default {
        props: {
            data: {},
            name: {},
            click: {
                type: Function,
                default: () => {}
            },
            classes: {
                type: Object,
                default: () => ({
                    'btn': true,
                    'btn-primary': true,
                    'btn-sm': true,
                }),
            },
        }
    }
</script>