<template>
    <div>
        <button :class="classes"
                @click="click(data)"
                title="Update"
                type="button"
                data-toggle="modal"
                data-target="#editRoleModal">
            <span>
                <i class="fas fa-pen" aria-hidden="true"></i>
            </span>
        </button>
        <button
            class="btn btn-danger btn-sm"
            @click.prevent="deleteRole(data.id)"
            title="Delete"
            type="button">
            <span>
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </span>
        </button>
    </div>
</template>
<script>
    export default {
        props: {
            data: {},
            name: {},
            click: {},
            meta: {},
            classes: {},
        },
        methods: {
            deleteRole(id) {
                swal.fire({
                    title: this.$t("dialog.label.title"),
                    text: this.$t("dialog.label.text"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.cancel"),
                    confirmButtonText: this.$t("dialog.delete")
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/role/'+id)
                            .then(() => {
                                this.$Progress.finish();
                                Fire.$emit('reloadRole');
                            }).catch(() => {
                                this.$Progress.error();
                        });
                    }
                })
            }
        }
    }
</script>
