
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700");

// Variables
@import "variables";

// Multiple selects
@import "multiselect/vue-multi-select-listbox";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
$fa-font-path: "../webfonts";

// AdminLTE
@import '~admin-lte/dist/css/adminlte.min.css';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '../js/backend/components/transitions';

.nav-link {
  box-shadow: none !important;
}

.router-link-exact-active {
  background-color: transparent !important;
  color: #656565;
  font-weight: bold;
}

.elevation-4 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.sidebar-dark-primary {
  background-color: #f4f6f9;
}

.sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link, .sidebar-dark-primary .nav-sidebar>.nav-item:hover>.nav-link {
  background-color: transparent;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link {
  color: #1d2124;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
  color: #6c757d;
  background: transparent;
}

.sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link, .sidebar-dark-primary .nav-sidebar>.nav-item:hover>.nav-link {
  color: #6c757d;
  font-weight: bold;
}

.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active, .sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active:hover {
  background: transparent;
}

.brand-link {
  border-bottom: 0 !important;
}
.main-footer {
  background: #f4f6f9;
  border-top: 0;
}

.card {
  box-shadow: none;
  border: 0;
  border-radius: 0;
}

.modal-footer {
  padding-right: 0;
  margin-right: 0;
}

button {
  cursor: pointer;
}

