<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item active">{{ this.$t('nav.dashboard') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div id="app">
                    <div class="row">
                        <section class="col-lg-6">
                            <canvas id="planet-chart"></canvas>
                        </section>
                        <section class="col-lg-6">
                            <canvas id="planet-chart2"></canvas>
                        </section>
                        <section class="col-lg-6">
                            <canvas id="planet-chart-pie"></canvas>
                        </section>
                        <section class="col-lg-6">
                            <canvas id="planet-chart-bubble"></canvas>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import planetChartData from './LineChart'
import planetChartData2 from './BarChart';
import planetChartData3 from './PieChart';
import planetChartData4 from './BubbleChart';

import Chart from 'chart.js';

export default {
    data() {
        return {
            planetChartData: planetChartData,planetChartData2,planetChartData3,planetChartData4,
        }
    },
    methods: {
        createChart(chartId, chartData) {
            const ctx = document.getElementById(chartId);
            new Chart(ctx, {
                type: chartData.type,
                data: chartData.data,
                options: chartData.options,
            });
        }
    },
    mounted() {
        this.createChart('planet-chart', this.planetChartData);
        this.createChart('planet-chart2', this.planetChartData2);
        this.createChart('planet-chart-pie', this.planetChartData3);
        this.createChart('planet-chart-bubble', this.planetChartData4);
    }
}
</script>

