<template>
    <div class="wrappertab3">
        <input name="name"
                type="text"
                class="form-control"
                v-model="user_id"
                v-bind:placeholder="$t('filter.search.role')">
        <div v-show="errors.user_id" class="help-block with-errors reset-left">{{ errors.user_id }}</div>
        <div class="botttom16">
            <div class="custom-control custom-radio top10" v-for="user in users" v-if="users">
                <input class="custom-control-input" type="radio" v-bind:id="'customRadio'+user.id" @click="chooseUser"
                       v-bind:value="user.id" v-model="user_id">
                <label v-if="locale === 'en'"
                       v-bind:for="'customRadio'+user.id" class="custom-control-label">{{ user.name_en }}</label>
                <label v-else-if="locale === 'vi'"
                       v-bind:for="'customRadio'+user.id" class="custom-control-label">{{ user.name_vi }}</label>
            </div>
        </div>
        <v-multiselect-listbox
                v-show="showOptions"
                v-model="roles"
                :value="roles"
                :options="options"
                :reduce-display-property="(option) => option.name"
                :reduce-value-property="(option) => option.id"
                :show-select-all-buttons="false">
        </v-multiselect-listbox>
        <input id="model_assign_to_role" value="true" class="hidden"/>
    </div>
</template>
<script>
    export default {
        props: {
            searchOptionsPlaceholder: {
                type: String,
                default() {
                    return this.$t('filter.search.permission');
                },
            },
            selectedOptionsPlaceholder: {
                type: String,
                default() {
                    return this.$t('filter.search.permission');
                },
            },
            searchInputClass: {
                type: String,
                default: '',
            }
        },
        data() {
            return {
                options: [],
                users: [],
                errors: {
                    'user_id': '',
                },
                searchValue : '',
                modelAssignRoleKeyupTimer: 0,
                roles: [],
                user_id: null,
                showOptions : false,
                locale : localStorage.getItem('locale')
            }
        },
        watch: {
            'roles'(newVal) {
                if (newVal != null && newVal.length >= 0) {
                  this.searchValue = newVal;
                  clearTimeout(this.modelAssignRoleKeyupTimer);
                  this.modelAssignRoleKeyupTimer = setTimeout(() => {
                    this.modelAssignToRole();
                  }, 300);
                }
            },
            'user_id'(newVal) {
                if (newVal != null && newVal.length > 0) {
                    this.showOptions = !isNaN(newVal);
                    this.errors.user_id = '';
                    this.fetchAllUsers();
                }
            }
        },
        mounted() {
            new Promise(() => {
                $('.msl-search-list-input').addClass("form-control");
            });
            this.fetchAllRoles();
        },
        methods: {
            chooseUser(event) {
                this.showOptions = !isNaN(event.target.value);
                this.getRolesByUserID(event.target.value);
                this.user_id = null;
                this.roles = [];
            },
            getRolesByUserID(userId) {
                $('#model_assign_to_role').val(false);
                axios.get('/api/user/'+userId, {
                        headers: {
                            'type': 'role'
                        }
                    })
                    .then(response => {
                        let temps = response.data;
                        for (let i = 0; i < temps.length; i++) {
                            setTimeout(function() {
                                $('div.msl-searchable-list__item:contains("'+temps[i]+'")').trigger("click");
                            }, (i+1)*200);
                        }
                        $('#model_assign_to_role').val(true);
                    });
            },
            fetchAllRoles() {
                axios.get('/api/role', {
                    headers: {
                        'type': 'all'
                    }
                })
                    .then(response => {
                        this.options = response.data;
                    });
            },
            fetchAllUsers() {
                axios.get('/api/user', {
                    headers: {
                        'type': 'detail',
                        'lang': this.locale,
                        'keyword': this.user_id
                    }
                })
                    .then(response => {
                        this.users = response.data;
                    });
            },
            modelAssignToRole() {
                if(!isNaN(this.user_id)) {
                    const formData = new FormData();
                    formData.append("selections", this.searchValue);
                    formData.append("user_id", this.user_id);
                    formData.append("lang", this.locale);
                    axios.post('/api/auser', formData)
                        .then(response => {
                            if (response.data.user_id) {
                                this.errors.user_id = response.data.user_id[0];
                            }
                        });
                }
            }
        }
    }
</script>
<style scoped>
    .msl-multi-select {
        width: inherit;
    }
    .msl-multi-select {
        max-height: 80%;
        height: auto;
    }
    .panel-radios {
        display: none;
    }
    .hidden {
        display: none;
    }
    .reset-left {
        margin-left: 0;
        padding-left: 0;
    }
    .with-errors {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #e3342f;
    }
    label {
        font-weight: 400 !important;
    }
    .wrappertab3 {
        width: 100%;
        margin: 0 auto;
    }
    .wrappertab3 > input {
        margin-bottom: 16px;
    }
</style>
