<template>
    <div class="full-content">
        <data-table
                :columns="columns"
                :filters="filters"
                :data="data"
                :classes="classes"
                :per-page="perPage"
                :translate="options"
                ref="permissionTable"
                @loading="isLoading = true"
                @finishedLoading="isLoading = false"
                @on-table-props-changed="refreshTable">
            <div slot="filters" slot-scope="{ tableFilters, perPage }">
                <div class="row mb-2 control-paragraph">
                    <div class="col-md-2">
                        <select class="form-control" v-model="tableFilters.length">
                            <option :key="page" v-for="page in perPage">{{ page }}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select
                                v-model="tableFilters.filters.isActive"
                                class="form-control">
                            <option value>All</option>
                            <option value='1'>Active</option>
                            <option value='0'>Inactive</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input
                                name="name"
                                type="text"
                                class="form-control"
                                v-model="tableFilters.search"
                                v-bind:placeholder="$t('filter.search.permission')">
                    </div>
                    <div class="col-md-2">
                        <input
                                type="button"
                                name="new"
                                data-toggle="modal"
                                data-target="#newPermissionModal"
                                v-bind:value="$t('button.new')"
                                class="btn btn-primary form-control"/>
                    </div>
                </div>
            </div>
            <div style="text-align: center">
                <loading
                        :is-full-page="true"
                        :active.sync="isLoading">
                </loading>
            </div>
        </data-table>
        <update-modal
                :form="form"
                :errors="errors">
        </update-modal>
        <new-modal
                :form="form"
                :errors="errors">
        </new-modal>
    </div>
</template>

<script>
    import UpdateModal from "../datatable/permission/UpdateModal.vue";
    import NewModal from "../datatable/permission/NewModal.vue";
    import Manipulation from "../datatable/permission/Manipulation.vue";
    import TailwindDatatable from "../datatable/tailwind.js";
    import Ls from "../services/ls";
    import moment from "moment";
    export default {
        components: {
            UpdateModal, NewModal, Manipulation
        },
        data() {
            return {
                url: '/api/permission',
                perPage: ['20', '50', '100'],
                data: {},
                isLoading: true,
                tableProps: {
                    search: '',
                    length: 20,
                    column: 'id',
                    dir: 'desc'
                },
                options:  {
                    nextButton: this.$t('control.next'),
                    previousButton: this.$t('control.previous'),
                    placeholderSearch: this.$t('filter.search.permission')
                },
                columns: [
                    {
                        label: this.$t('breadcrumb.dashboard_detail.table.id'),
                        name: 'id',
                        orderable: false,
                    },
                    {
                        label: this.$t('breadcrumb.dashboard_detail.table.name.permission'),
                        name: 'name',
                        orderable: true,
                    },
                    {
                        label: this.$t('breadcrumb.dashboard_detail.table.guard_name'),
                        name: 'guard_name',
                        orderable: true,
                    },
                    {
                        label: this.$t('breadcrumb.dashboard_detail.table.date_creation'),
                        name: 'created_at',
                        orderable: true,
                        transform: ({data, name}) => moment(`${data[name]}`).lang(localStorage.getItem('locale')).format('DD MMMM YYYY'),
                    },
                    {
                        label: this.$t('breadcrumb.dashboard_detail.table.manipulation'),
                        name: 'Edit,Delete',
                        orderable: false,
                        classes: {
                            'btn': true,
                            'btn-primary': true,
                            'btn-sm': true,
                        },
                        event: "click",
                        handler: this.updateRole,
                        component: Manipulation,
                    }
                ],
                filters: {
                    isActive: '',
                },
                form: new Form({
                    id: 0,
                    name: '',
                    guard_name: 'web',
                    lang: Ls.get('auth.token')
                }),
                errors : {
                    name: '',
                    guard_name: ''
                }
            }
        },
        mixins: [
            TailwindDatatable
        ],
        watch: {
            'form.name'(newVal) {
                if (newVal !== null && newVal.length > 0) {
                    this.errors.name = '';
                }
            },
            'form.guard_name'(newVal) {
                if (newVal !== null && newVal.length > 0) {
                    this.errors.guard_name = '';
                }
            }
        },
        mounted() {
            this.getPermissions(this.url);
        },
        methods: {
            getPermissions(url = this.url, options = this.tableProps) {
                axios.get(url, {
                    params: options
                })
                    .then(response => {
                        this.data = response.data;
                    })
                    .catch(() => {})
            },
            refreshTable(tableProps) {
                this.getPermissions(this.url, tableProps);
            },
            updateRole(data) {
                this.form.fill(data);
            }
        },
        created() {
            Fire.$on('reloadPermission', () => {
                this.getPermissions(this.url);
                this.$refs.permissionTable.getData();
            });
        }
    };
</script>

<style>
    div.table-responsive > table > thead > tr > th:last-child {
        text-align: center !important;
        width: 12%;
    }
    div.table-responsive > table > tbody > tr > td:last-child {
        text-align: center !important;
        width: 12%;
    }
    div.table-responsive > table > thead > tr > th:first-child {
        text-align: center !important;
        width: 1%;
    }
    div.table-responsive > table > tbody > tr > td:first-child {
        text-align: center !important;
        width: 1%;
    }
    .with-errors {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #e3342f;
    }
    .modal-content {
        padding-right: 20px;
    }
    .reset-left {
        margin-left: 0;
        padding-left: 0;
    }
    .stripped-table:nth-child(even) {
        @apply bg-black;
    }
</style>
