<template>
    <div class="wrappertab3">
        <input name="name"
                type="text"
                class="form-control"
                v-model="role_id"
                v-bind:placeholder="$t('filter.search.role')">
        <div v-show="errors.role_id" class="help-block with-errors reset-left">{{ errors.role_id }}</div>
        <div class="botttom16">
            <div class="custom-control custom-radio top10" v-for="role in roles" v-if="roles">
                <input class="custom-control-input" type="radio" v-bind:id="'customRadio'+role.id" @click="chooseRole"
                       v-bind:value="role.id" v-model="role_id">
                <label v-if="locale === 'en'"
                       v-bind:for="'customRadio'+role.id" class="custom-control-label">{{ role.name }}</label>
                <label v-else-if="locale === 'vi'"
                       v-bind:for="'customRadio'+role.id" class="custom-control-label">{{ role.name }}</label>
            </div>
        </div>
        <v-multiselect-listbox
                v-show="showOptions"
                v-model="permisions"
                :value="permisions"
                :options="options"
                :reduce-display-property="(option) => option.name"
                :reduce-value-property="(option) => option.id"
                :show-select-all-buttons="false">
        </v-multiselect-listbox>
        <input id="role_assign_to_permission" value="true" class="hidden"/>
    </div>
</template>
<script>
    export default {
        props: {
            searchOptionsPlaceholder: {
                type: String,
                default() {
                    return this.$t('filter.search.permission');
                },
            },
            selectedOptionsPlaceholder: {
                type: String,
                default() {
                    return this.$t('filter.search.permission');
                },
            },
            searchInputClass: {
                type: String,
                default: '',
            }
        },
        data() {
            return {
                options: [],
                roles: [],
                errors: {
                    'role_id': '',
                },
                permisions: [],
                role_id: null,
                showOptions : false,
                searchValue: '',
                roleAssignToPermissionKeyupTimer: 0,
                locale : localStorage.getItem('locale')
            }
        },
        watch: {
            'permisions'(newVal) {
                if (newVal != null && newVal.length >= 0) {
                    this.searchValue = newVal;
                    clearTimeout(this.roleAssignToPermissionKeyupTimer);
                    this.roleAssignToPermissionKeyupTimer = setTimeout(() => {
                        this.roleAssignToPermission();
                    }, 300);
                }
            },
            'role_id'(newVal) {
                if (newVal != null && newVal.length > 0) {
                    this.showOptions = !isNaN(newVal);
                    this.errors.role_id = '';
                    this.fetchAllRoles();
                }
            }
        },
        mounted() {
            new Promise(() => {
                $('.msl-search-list-input').addClass("form-control");
            });
            this.fetchAllPermissions();
        },
        methods: {
            chooseRole(event) {
                this.showOptions = !isNaN(event.target.value);
                this.getPermissionsByRoleID(event.target.value);
                this.role_id = null;
                this.permisions = [];
            },
            getPermissionsByRoleID(roleId) {
                $('#role_assign_to_permission').val(false);
                axios.get('/api/role/'+roleId)
                    .then(response => {
                        let temps = response.data;
                        for (let i = 0; i < temps.length; i++) {
                            setTimeout(function() {
                                $('div.msl-searchable-list__item:contains("'+temps[i]+'")').trigger("click");
                            }, (i+1)*200);
                        }
                        $('#role_assign_to_permission').val(true);
                    });
            },
            fetchAllPermissions() {
                axios.get('/api/permission', {
                    headers: {
                        'type': 'all'
                    }
                })
                    .then(response => {
                        this.options = response.data;
                    });
            },
            fetchAllRoles() {
                axios.get('/api/role', {
                    headers: {
                        'type': 'detail',
                        'keyword': this.role_id
                    }
                })
                    .then(response => {
                        this.roles = response.data;
                    });
            },
            roleAssignToPermission() {
                if(!isNaN(this.role_id)) {
                    const formData = new FormData();
                    formData.append("selections", this.searchValue);
                    formData.append("role_id", this.role_id);
                    formData.append("lang", this.locale);
                    axios.post('/api/apermission', formData)
                        .then(response => {
                            if (response.data.role_id) {
                                this.errors.role_id = response.data.role_id[0];
                            } else {

                            }
                        });
                }
            }
        }
    }
</script>
<style scoped>
    .msl-multi-select {
        width: inherit;
    }
    .msl-multi-select {
        max-height: 80%;
        height: auto;
    }
    .panel-radios {
        display: none;
    }
    .reset-left {
        margin-left: 0;
        padding-left: 0;
    }
    .with-errors {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #e3342f;
    }
    label {
        font-weight: 400 !important;
    }
    .wrappertab3 {
        width: 100%;
        margin: 0 auto;
    }
    .wrappertab3 > input {
        margin-bottom: 16px;
    }
</style>
