<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('sidebar.navigation.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('breadcrumb.dashboard_detail.list') }} {{ $t('breadcrumb.management.user') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12" style="padding: 0;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ $t('breadcrumb.management.table.all') }} {{ $t('breadcrumb.management.user') }}</h3>

                                <div class="card-tools date">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="desc">{{ $t('filter.sort.newest') }}</option>
                                        <option value="asc">{{ $t('filter.sort.oldest') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools status">
                                    <select @change="onCChange($event)" class="form-control">
                                        <option value="1">{{ $t('filter.status.view') }}</option>
                                        <option value='0'>{{ $t('filter.status.hide') }}</option>
                                    </select>
                                </div>
                                <div class="card-tools _user">
                                    <input v-model="searchData" type="text" v-bind:placeholder="$t('filter.search.user')" class="form-control">
                                </div>
                                <div class="card-tools">
                                    <button class="btn btn-success" @click="newModal">
                                        {{ $t('button.new') }}
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="hidden">ID</th>
                                        <th>{{ $t('breadcrumb.management.table.name') }}</th>
                                        <th>{{ $t('breadcrumb.management.table.email') }}</th>
                                        <th class="text-center">{{ $t('breadcrumb.management.table.type_of_user') }}</th>
                                        <th class="text-center">{{ $t('breadcrumb.management.table.language') }}</th>
                                        <th>{{ $t('breadcrumb.management.table.date') }}</th>
                                        <th>{{ $t('breadcrumb.management.table.manipulation') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="user in users.data" :key="user.id" v-if="user.allPermissions">
                                        <td class="hidden">{{ user.id }}</td>
                                        <td v-if="locale === 'en'">{{ user.name_en }}</td>
                                        <td v-else-if="locale === 'vi'">{{ user.name_vi }}</td>
                                        <td>{{ user.email }}</td>
                                        <td class="text-center">{{ user.type_of_user | typeOfUser }}</td>
                                        <td class="text-center">
                                            <img v-if="user.name_vi !== ''" src="/images/vi.jpeg"/>
                                            <img class="space2" v-else-if="user.name_en !== ''" src="/images/en.jpeg"/>
                                        </td>
                                        <td>{{ user.created_at | fullDate }}</td>
                                        <td>
                                            <a v-if="$can('View Detail')" @click.prevent="viewDetails(user)">
                                                <i class="btn btn-success fa fa-cogs blue"></i>
                                            </a>
                                            <span class="space2"></span>
                                            <a v-if="$can('Edit Account')" @click.prevent="editModal(user)">
                                                <i class="btn btn-primary fa fa-edit blue"></i>
                                            </a>
                                            <span class="space2"></span>
                                            <a v-if="$can('Delete Account')" @click.prevent="deleteUser(user.id)">
                                                <i class="btn btn-danger fa fa-trash red"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="pagination justify-content-center m-0 float-right">
                                    <pagination :data="users" @pagination-change-page="getUsers"></pagination>
                                </div>
                            </div>

                            <div v-if="$can('View Detail')">
                                <div class="card-header pbot0">
                                    <h3 class="card-title">{{ $t('common.list') }} {{ $t('nav.roles') }}</h3>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <button v-for="role in roles" :key="role" type="button"
                                            class="btn btn-sm btn-outline-success" :disabled="true">
                                        {{ role }}
                                    </button>
                                </div>
                            </div>

                            <div v-if="$can('View Detail')">
                                <div class="card-header pbot0">
                                    <h3 class="card-title">{{ $t('common.list') }} {{ $t('nav.permissions') }}</h3>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <button v-for="permission in permissions" :key="permission" type="button"
                                            class="btn btn-sm btn-outline-success" :disabled="true">
                                        {{ permission }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" v-if="!editMode">{{ $t('button.new') }} {{ $t('breadcrumb.management.user') }}</h5>
                                <h5 class="modal-title" v-else-if="editMode">{{ $t('button.update')}} {{ $t('breadcrumb.management.user') }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form @submit.prevent="editMode ? updateUser() : createUser()" @keydown="form.onKeydown($event)">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input v-model="form.name" type="text" name="name" id="name"
                                               v-bind:placeholder="$t('breadcrumb.management.placeholder.name')"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <input v-model="form.username" type="text" name="username" id="username"
                                               v-bind:placeholder="$t('breadcrumb.management.placeholder.username')"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('username') }">
                                        <has-error :form="form" field="username"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <input v-model="form.email" type="email" name="email" id="email"
                                               v-bind:placeholder="$t('breadcrumb.management.placeholder.email')"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <has-error :form="form" field="email"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <input v-model="form.password" type="password" name="password"
                                               v-bind:placeholder="$t('breadcrumb.management.placeholder.password')"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                        <has-error :form="form" field="password"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input id="status" type="checkbox" class="custom-control-input" v-model="form.status" :checked="form.status">
                                            <label class="custom-control-label" for="status">{{ $t('breadcrumb.management.placeholder.status') }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input id="is_editable" type="checkbox" class="custom-control-input" v-model="form.is_editable" :checked="form.is_editable">
                                            <label class="custom-control-label" for="is_editable">{{ $t('breadcrumb.management.placeholder.is_editable') }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select name="locale" v-model="form.lang" class="form-control" :class="{ 'is-invalid': form.errors.has('lang') }">
                                            <option value="vi">{{ $t('lang.vi') }}</option>
                                            <option value="en">{{ $t('lang.en') }}</option>
                                        </select>
                                        <has-error :form="form" field="lang"></has-error>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('button.close') }}</button>
                                    <button v-show="!editMode" type="submit" class="btn btn-primary">{{ $t('button.new') }}</button>
                                    <button v-show="editMode" type="submit" class="btn btn-primary">{{ $t('button.update') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editMode : true,
                users : {},
                roles: [],
                permissions: [],
                locale : localStorage.getItem('locale'),
                form: new Form({
                    id: '',
                    name : '',
                    username: '',
                    email : '',
                    password : '',
                    status: 1,
                    is_editable: 1,
                    lang : localStorage.getItem('locale')
                }),
                backups: [],
                searchData: '',
                keyupTimer: 0,
                sortDate: 'desc',
                statusData: 1
            }
        },
        watch: {
            'searchData'(newVal) {
                if (newVal.length > 0) {
                    clearTimeout(this.keyupTimer);
                    this.keyupTimer = setTimeout(() => {
                        this.filterUser();
                    }, 300);
                }
            }
        },
        mounted() {
            this.getUsers();
        },
        methods: {
            onCChange(event) {
                if(isNaN(event.target.value)) {
                    this.sortDate = event.target.value;
                } else {
                    this.statusData = event.target.value;
                }
                this.filterUser();
            },
            filterUser() {
                this.$Progress.start();
                const formData = new FormData();
                formData.append("keyword", this.searchData);
                formData.append("status", this.statusData);
                formData.append("date", this.sortDate);
                formData.append("type", 'user');
                axios.post('/api/search', formData, {
                    headers: {
                        '_case': 'user'
                    }
                })
                    .then(response => {
                        if (response.data.data.length >= 0) {
                            this.users = response.data;
                            this.$Progress.finish();
                        }
                    });
            },
            viewDetails(user) {
                this.$Progress.start();
                this.permissions = [];
                this.roles = [];
                axios.get('/api/user/' + user.id, {
                    headers: {
                        'type': 'role'
                    }
                })
                    .then(response => {
                        this.$Progress.finish();
                        this.getPermissions(user.id);
                        let temps = response.data;
                        for (let i = 0; i < temps.length; i++) {
                            this.roles.push(temps[i]);
                        }
                    });
            },
            getPermissions(id) {
                this.$Progress.start();
                axios.get('/api/user/' + id, {
                    headers: {
                        'type': 'permission'
                    }
                })
                    .then(response => {
                        this.$Progress.finish();
                        let temps = response.data;
                        for (let i = 0; i < temps.length; i++) {
                            this.permissions.push(temps[i]);
                        }
                    });
            },
            getUsers(page = 1) {
                axios.get('/api/user?page=' + page, {
                    headers: {
                        '_case': 'user'
                    }
                })
                    .then(response => {
                        this.users = response.data;
                        this.backups = this.users;
                    });
            },
            newModal() {
                this.editMode = false;
                this.form.reset();
                this.form.clear();
                $('#addNew').modal('show');
            },
            editModal(user) {
                this.editMode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
                this.form.lang = this.locale;
                if ("vi" === this.locale) {
                    this.form.name = user.name_vi;
                } else {
                    this.form.name = user.name_en;
                }
            },
            async updateUser() {
                this.$Progress.start();
                await this.form.put('/api/user/' + this.form.id)
                    .then(() => {
                        $("#addNew").modal('hide');
                        toastr['success'](this.$t('dialog_message.update_admin_successfully'), this.$t("common.message"));
                        this.$Progress.finish();
                        Fire.$emit('reload');
                    }).catch(() => {
                    this.$Progress.fail();
                });
            },
            async createUser() {
                this.$Progress.start();
                await this.form.post('/api/user', {
                    headers: {
                        'type_of_user': 'internal'
                    }
                })
                    .then(() => {
                        $("#addNew").modal('hide');
                        toastr['success'](this.$t('dialog_message.new_admin_successfully'), this.$t("common.message"));
                        this.$Progress.finish();
                        Fire.$emit('reload');
                    }).catch(() => {
                    this.$Progress.fail();
                });
            },
            deleteUser(id) {
                swal.fire({
                    title: this.$t("dialog.label.title"),
                    text: this.$t("dialog.label.text"),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.$t("dialog.button.cancel"),
                    confirmButtonText: this.$t("dialog.button.delete")
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/user/'+id)
                            .then(() => {
                                this.$Progress.finish();
                                Fire.$emit('reload');
                            }).catch(() => {
                                this.$Progress.error();
                        });
                    }
                })
            }
        },
        created() {
            Fire.$on('reload', () => {
                this.getUsers();
            });
        }
    }
</script>

<style scoped>
    div.table-responsive > table > thead > tr > th:last-child {
        text-align: center !important;
        width: 12%;
    }
    div.table-responsive > table > tbody > tr > td:last-child {
        text-align: center !important;
        width: 12%;
    }
    .hidden {
        display: none;
    }
    label {
        font-weight: 400 !important;
    }
    div.p-0 > button {
        margin-right: 8px;
        margin-bottom: 4px;
    }
    .pbot0 {
        padding-bottom: 0;
    }
    div._user {
        width: 20rem;
        right: 8rem;
    }
    div.status {
        width: 8rem;
        right: 28.5rem;
    }
    div.date {
        width: 8rem;
        right: 37rem;
    }
</style>
