<template>
  <div class="content-wrapper">
    <section class="content">
    </section>
  </div>
</template>

<script>
export default {
  mounted () {
      window.location.href = window.location.origin+'/portal-admin';
  },
  destroyed () {
    document.body.classList.remove('page-error-404')
  },
  methods: {
    setLayoutClasses () {
      let body = document.body;
      body.classList.add('page-error-404')
    }
  }
}
</script>
<style scoped>
  .content-wrapper {
    background: #f8fafc;
  }
  @media (min-width: 768px) {
    .content-wrapper {
        margin-left: 0;
    }
  }
</style>