<template>
  <footer class="main-footer">
    <div class="float-left d-none d-sm-inline">

    </div>
    <p class="float-right">
      <img @click.prevent="changeLanguage('vi')" src='/images/vi.jpeg'/>
      <img @click.prevent="changeLanguage('en')" src='/images/en.jpeg'/>
    </p>
  </footer>
</template>
<script>
    export default {
        methods: {
            changeLanguage(lang) {
                window.location.href = window.location.origin+"/locales/"+lang;
            }
        }
    }
</script>
<style scoped>
</style>
