<template>
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" @click.prevent="resizeSidebar" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
          <input class="form-control form-control-navbar" type="search" placeholder="Tìm kiếm" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </ul>
  </nav>
</template>
<script type="text/babel">
import Auth from '../../../services/auth'

export default {
    mounted() {
        document.body.classList.add("sidebar-open");
    },
    methods: {
        logout () {
          Auth.logout().then(() => {
            this.$router.replace('/admin/authenticate/login')
          })
        },
        resizeSidebar() {
            if(document.body.classList.contains('sidebar-open')) {
                $('aside.main-sidebar')
                    .css({"display": "none"});
            } else {
                $('aside.main-sidebar')
                    .css({"display": "block"});
            }
        }
  }
}
</script>
<style>
  .action-list li a:hover {
     background-color: #5c7049;
     color: #5c7049;
  }
</style>
