<template>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <div>
            <router-link to="/admin/dashboard/basic" class="brand-link">
                <img id="logo" class="top10 botttom10 left10 right10" src="/images/logo.png" alt="brand">
            </router-link>
        </div>
        <div class="sidebar">
            <nav>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li ref="dashboard" class="dashboard nav-item top5">
                        <router-link to="/admin/dashboard/basic" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>{{ $t('sidebar.navigation.dashboard') }}</p>
                        </router-link>
                    </li>
                    <li v-if="$can('View Management')" ref="management" class="management nav-item has-treeview top5">
                        <a href="#" class="nav-link">
                            <i class="fas fa-users nav-icon"></i>
                            <p>
                                {{ $t('sidebar.navigation.management') }}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link to="/admin/dashboard/security" class="nav-link">
                                    <i class="fas fa-drum-steelpan nav-icon text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.permission') }}</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/admin/dashboard/users" class="nav-link">
                                    <i class="fas fa-user nav-icon text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.admin') }}</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/admin/dashboard/clients" class="nav-link">
                                    <i class="fas fa-user nav-icon text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.guest') }}</p>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="$can('View Project')" ref="projects" class="projects nav-item has-treeview top5">
                        <a href="#" class="nav-link">
                            <i class="fas fa-project-diagram nav-icon"></i>
                            <p>
                                {{ $t('sidebar.navigation.project') }}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link to="/admin/project" class="nav-link">
                                    <i class="fa fa-tree nav-icon text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.website') }}</p>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="$can('View Blog')" ref="blogs" class="blogs nav-item has-treeview top5">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-paste"></i>
                            <p>
                                {{ $t('sidebar.navigation.post') }}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link to="/admin/blog" class="nav-link">
                                    <i class="fa fa-tree nav-icon text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.all') }}</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/admin/xblog/create" class="nav-link">
                                    <i class="fa fa-file-image nav-icon text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.new') }}</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/admin/yblog/category" class="nav-link">
                                    <i class="fa fa-file-image nav-icon text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.category') }}</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/admin/yblog/tag" class="nav-link">
                                    <i class="fa fa-file-image nav-icon text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.tag') }}</p>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="$can('View Profile')" ref="profile" class="profile nav-item has-treeview top5">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-address-card"></i>
                            <p>
                                {{ $t('sidebar.navigation.account') }}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link to="/admin/dashboard/profile" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.information') }}</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/admin/dashboard/contact" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt text-transparent"></i>
                                    <p>{{ $t('sidebar.sub_navigation.contact') }}</p>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-if="$can('View Configure')" ref="configs" class="configs nav-item has-treeview top5">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-money-bill-alt"></i>
                            <p>
                                {{ $t('sidebar.navigation.config') }}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li ref="logout" class="logout nav-item top5">
                                <a href="javascript:void(0)" class="nav-link" @click.prevent="logout">
                                    <i class="nav-icon fa fa-power-off red"></i>
                                    <p>{{ $t('sidebar.sub_navigation.logout') }}</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</template>
<script type="text/babel">
    import Auth from '../../../services/auth.js'

    export default {
        data() {
            return {
                observer: null,
            }
        },
        mounted(){
            $('[data-widget="treeview"]').Treeview('init');
            this.observer = new MutationObserver(mutations => {
                for (const m of mutations) {
                    const newValue = m.target.getAttribute(m.attributeName);
                    this.$nextTick(() => {
                        this.onClassChange(newValue, m.oldValue);
                    });
                }
            });
            if (typeof(this.$refs.dashboard) != "undefined") {
                this.observer.observe(this.$refs.dashboard, {
                    attributes: true,
                    attributeOldValue : true,
                    attributeFilter: ['class'],
                });
            }
            if (typeof(this.$refs.projects) != "undefined") {
                this.observer.observe(this.$refs.projects, {
                    attributes: true,
                    attributeOldValue : true,
                    attributeFilter: ['class'],
                });
            }
            if (typeof(this.$refs.management) != "undefined") {
                this.observer.observe(this.$refs.management, {
                    attributes: true,
                    attributeOldValue : true,
                    attributeFilter: ['class'],
                });
            }
            if (typeof(this.$refs.blogs) != "undefined") {
                this.observer.observe(this.$refs.blogs, {
                    attributes: true,
                    attributeOldValue : true,
                    attributeFilter: ['class'],
                });
            }
            if (typeof(this.$refs.profile) != "undefined") {
                this.observer.observe(this.$refs.profile, {
                    attributes: true,
                    attributeOldValue : true,
                    attributeFilter: ['class'],
                });
            }
            if (typeof(this.$refs.configs) != "undefined") {
                this.observer.observe(this.$refs.configs, {
                    attributes: true,
                    attributeOldValue : true,
                    attributeFilter: ['class'],
                });
            }
            this.resetNavigation();
        },
        beforeDestroy () {
            this.observer.disconnect();
        },
        methods: {
            logout () {
                Auth.logout().then(() => {
                    const path = '/admin/authenticate/login';
                    if (this.$route.path !== path) {
                        this.$router.replace(path);
                    }
                })
            },
            onClassChange(classAttrValue) {
                const classList = classAttrValue.split(' ');
                if (classList.includes('menu-open')) {
                    if ('management' == classList[0]) {
                        let el = $( "li.management" );
                        el.prevAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.prevAll().removeClass('menu-open');
                        el.nextAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.nextAll().removeClass('menu-open');
                    } else if ('blogs' == classList[0]) {
                        let el = $( "li.blogs" );
                        el.prevAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.prevAll().removeClass('menu-open');
                        el.nextAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.nextAll().removeClass('menu-open');
                    } else if ('projects' == classList[0]) {
                        let el = $( "li.projects" );
                        el.prevAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.prevAll().removeClass('menu-open');
                        el.nextAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.nextAll().removeClass('menu-open');
                    } else if ('profile' == classList[0]) {
                        let el = $("li.profile");
                        el.prevAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.prevAll().removeClass('menu-open');
                        el.nextAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.nextAll().removeClass('menu-open');
                    } else if ('configs' == classList[0]) {
                        let el = $("li.configs");
                        el.prevAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.prevAll().removeClass('menu-open');
                        el.nextAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.nextAll().removeClass('menu-open');
                    } else if ('dashboard' == classList[0]) {
                        let el = $("li.dashboard");
                        el.prevAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.prevAll().removeClass('menu-open');
                        el.nextAll().find('ul.nav-treeview').each(function() {
                            $(this).css({'display':'none'});
                        });
                        el.nextAll().removeClass('menu-open');
                    }
                }
            },
            resetNavigation() {
                new Promise(() => {
                    $(document).ready(function(){
                        const url = window.location;
                        let el = $('ul.nav-sidebar a');
                        el.filter(function() {
                            return this.href == url;
                        }).parent().addClass('active');
                        el.filter(function() {
                            return this.href == url;
                        }).parentsUntil(".sidebar-menu > .nav-treeview").addClass('menu-open');
                        el.filter(function() {
                            return this.href == url;
                        }).parentsUntil(".sidebar-menu > .nav-treeview").children(0).addClass('active');
                    });
                })
            }
        },
    }
</script>
<style scoped>
    .brand-link {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    img#logo {
        width: 222px;
        height: auto;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    div.sidebar {
        overflow-y: scroll;
        top: 250px;
        bottom: 0;
        height: calc(100% - 185px);
    }
    div.sidebar::-webkit-scrollbar {
        width: 1px;
    }
</style>
