<template>
    <div class="modal fade" ref="editPermissionModal" id="editPermissionModal" tabindex="-1" role="dialog"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ $t('button.update') }} {{ $t('breadcrumb.dashboard_detail.table.name.permission') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="updatePermission()" @keydown="form.onKeydown($event)">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-3">{{ $t('breadcrumb.dashboard_detail.table.name.permission') }}</label>
                            <input v-model="form.name" type="text" class="form-control col-sm-9"
                                   :class="{ 'is-invalid': errors.name }">
                            <span class="col-sm-3"></span>
                            <div v-show="errors.name" class="help-block with-errors col-sm-9 reset-left">{{ errors.name }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3">{{ $t('breadcrumb.dashboard_detail.table.guard_name') }}</label>
                            <input v-model="form.guard_name" type="text" class="form-control col-sm-9"
                                   :class="{ 'is-invalid': errors.guard_name }">
                            <span class="col-sm-3"></span>
                            <div v-show="errors.guard_name" class="help-block with-errors col-sm-9 reset-left">{{ errors.guard_name }}</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('button.close') }}</button>
                        <button type="submit" class="btn btn-primary">{{ $t('button.update') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        form: {
            type: Object,
            default: () => ({}),
        },
        errors: {
            type: Object,
            default: () => ({}),
        },
    },
    mounted() {
        $(this.$refs.editPermissionModal).on("hidden.bs.modal", this.closeModal);
    },
    methods: {
        closeModal() {
            this.errors.name = '';
            this.errors.guard_name = '';
            this.form.clear();
            this.form.reset();
        },
        async updatePermission() {
            if (0 != this.form.id) {
                await this.form.put('/api/permission/' + this.form.id)
                    .then(response => {
                        if (response.data.sentence) {
                            this.errors.sentence = response.data.sentence[0];
                            this.$Progress.fail();
                        } else if (response.data.description) {
                            this.errors.description = response.data.description[0];
                            this.$Progress.fail();
                        } else {
                            if ("error" == response.data.message.status) {
                                this.$Progress.error();
                            } else {
                                $("#editPermissionModal").modal('hide');
                                this.$Progress.finish();
                                Fire.$emit('reloadPermission');
                            }
                            this.$Progress.finish();
                        }
                    }).catch(() => {
                        this.$Progress.fail();
                    });
            }
        },
    }
}
</script>
