<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><router-link to="/admin/dashboard/basic">{{ $t('nav.dashboard') }}</router-link></li>
                            <li class="breadcrumb-item active">{{ $t('nav.socialites') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <tabs>
                    <tab name="Social Networks" :selected="true">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-facebook-square"></i></span>
                            </div>
                            <input v-model="form.id" type="text" class="hidden"/>
                            <input v-model="form.facebook" type="text" class="form-control" placeholder="Enter your facebook link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-whatsapp-square"></i></span>
                            </div>
                            <input v-model="form.whatsApp" type="text" class="form-control" placeholder="Enter your Whatsapp link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-qq"></i></span>
                            </div>
                            <input v-model="form.qq" type="text" class="form-control" placeholder="Enter your QQ link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-weixin"></i></span>
                            </div>
                            <input v-model="form.wechat" type="text" class="form-control" placeholder="Enter your WeChat link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-network-wired"></i></span>
                            </div>
                            <input v-model="form.qzone" type="text" class="form-control" placeholder="Enter your QZone link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-instagram-square"></i></span>
                            </div>
                            <input v-model="form.instagram" type="text" class="form-control" placeholder="Enter your Instagram link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-twitter-square"></i></span>
                            </div>
                            <input v-model="form.twitter" type="text" class="form-control" placeholder="Enter your Twitter link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-skype"></i></span>
                            </div>
                            <input v-model="form.skype" type="text" class="form-control" placeholder="Enter your Skype link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-line"></i></span>
                            </div>
                            <input v-model="form.line" type="text" class="form-control" placeholder="Enter your Line link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-snapchat-square"></i></span>
                            </div>
                            <input v-model="form.snapchat" type="text" class="form-control" placeholder="Enter your SnapChat link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-pinterest-square"></i></span>
                            </div>
                            <input v-model="form.pinterest" type="text" class="form-control" placeholder="Enter your Pinterest link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-linkedin"></i></span>
                            </div>
                            <input v-model="form.linkedin" type="text" class="form-control" placeholder="Enter your Linkedin link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-telegram-plane"></i></span>
                            </div>
                            <input v-model="form.telegram" type="text" class="form-control" placeholder="Enter your Telegram link">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-reddit-square"></i></span>
                            </div>
                            <input v-model="form.reddit" type="text" class="form-control" placeholder="Enter your Reddit link">
                        </div>
                        <div>
                            <button @click.prevent="submitForm" class="btn btn-info float-right m-left-20">Save</button>
                            <button @click.prevent="resetForm" class="btn btn-success float-right">Reset</button>
                        </div>
                        <div class="clearfix"></div>
                    </tab>
                    <tab name="Followers">
                        <div class="box-body no-padding">
                            <ul class="users-list clearfix">
                                <li v-for="follower in followers">
                                    <img class="rounded-circle" v-bind:src="follower.avatar" alt="User Image">
                                    <a v-if="'vi' == this.locale" class="users-list-name">{{ follower.name_vi }}</a>
                                    <a v-else class="users-list-name">{{ follower.name_en }}</a>
                                </li>
                            </ul>
                        </div>
                    </tab>
                    <tab name="Courses">
                        <div class="row list-group">
                            <div class="item col-xs-12 col-lg-12 list-group-item">
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                    <div class="caption">
                                        <h4 class="group inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-12 col-lg-12 list-group-item">
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                    <div class="caption">
                                        <h4 class="group inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-12 col-lg-12 list-group-item">
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                    <div class="caption">
                                        <h4 class="group inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-12 col-lg-12 list-group-item">
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                    <div class="caption">
                                        <h4 class="group inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-12 col-lg-12 list-group-item">
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                    <div class="caption">
                                        <h4 class="group inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-12 col-lg-12 list-group-item">
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                    <div class="caption">
                                        <h4 class="group inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabs>
            </div>
        </section>
    </div>
</template>

<script>
    import tabs from './Tabs.vue'
    import tab from './Tab.vue'
    export default {
        components: {
            tabs, tab
        },
        data() {
            return {
                form: new Form({
                    id: 0,
                    facebook: '',
                    whatsApp: '',
                    qq: '',
                    wechat: '',
                    qzone: '',
                    instagram: '',
                    twitter: '',
                    skype: '',
                    line: '',
                    snapchat: '',
                    pinterest: '',
                    linkedin: '',
                    telegram: '',
                    reddit: '',
                    type: 1,
                    status: 1,
                    is_editable: 1,
                    lang : localStorage.getItem('locale')
                }),
                followers: [],
                locale : localStorage.getItem('locale')
            }
        },
        mounted() {
            this.getSocialNetworks();
        },
        methods: {
            async getSocialNetworks() {
                await axios.get('/api/social')
                    .then(response => {
                        this.form.fill(response.data);
                        this.getFollowers();
                    });
            },
            getFollowers() {
                axios.get('/api/follower')
                    .then(response => {
                        this.followers = response.data;
                    });
            },
            resetForm() {
                this.getSocialNetworks();
            },
            submitForm() {
                this.$Progress.start();
                this.form.post('/api/social')
                    .then(() => {
                        toastr['success'](this.$t('dialog_message.new_social_successfully'), this.$t("common.message"));
                        this.$Progress.finish();
                        Fire.$emit('reload');
                    }).catch(() => {
                        this.$Progress.fail();
                    });
            }
        },
        created() {
            Fire.$on('reload', () => {
                this.getSocialNetworks();
            });
        }
    }
</script>

<style scoped>
    section.content {
        margin-left: 0;
        padding-left: 7px;
    }
    section > div.container-fluid {
        margin-left: 0;
        padding-left: 0;
    }
    .m-left-20 {
        color: white;
    }
    .hidden {
        display: none;
    }
    .list-group {
        margin: 0;
        padding: 0;
    }
    .thumbnail
    {
        margin-bottom: 20px;
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .item.list-group-item
    {
        float: none;
        width: 100%;
        background-color: #f4f6f9;
        margin-bottom: 10px;
    }
    .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
    {
        background: #fff;
    }

    .item.list-group-item .list-group-image
    {
        margin-right: 10px;
    }
    .item.list-group-item .thumbnail
    {
        margin-bottom: 0;
    }
    .item.list-group-item .caption
    {
        padding: 9px 9px 0 9px;
    }
    .item.list-group-item:nth-of-type(odd)
    {
        background: #f4f6f9;
    }

    .item.list-group-item:before, .item.list-group-item:after
    {
        display: table;
        content: " ";
    }

    .item.list-group-item img
    {
        float: left;
    }
    .item.list-group-item:after
    {
        clear: both;
    }
    .list-group-item-text
    {
        margin: 0 0 11px;
    }
    .users-list-name {
        margin-top: 16px;
    }
</style>
