<template>
    <div v-show="isActive"><slot></slot></div>
</template>
<props>

</props>
<script>
    export default {
        components: {
        },
        props: ['name', 'selected'],
        data() {
            return {
                isActive: false
            }
        },
        computed: {
            href() {
                return '#' + this.name.toLowerCase().replace(/ /g, '-');
            }
        },
        mounted() {
            this.isActive = this.selected;
        }
    }
</script>

<style scoped>
</style>
