<template>
    <div>
        <div class="tabs">
            <ul class="socialites">
                <li class="col-md-4" v-for="(tab, index) in tabs" :class="{ 'is-active': tab.isActive }" v-bind:id="tab.id">
                    <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
                </li>
            </ul>
        </div>

        <div class="tabs-details">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        data() {
            return {
                tabs: []
            }
        },
        methods: {
            selectTab(selectedTab) {
                this.tabs.forEach(tab => {
                    tab.isActive = (tab.name == selectedTab.name);
                });
            }
        },
        created() {
            this.tabs = this.$children;
        }
    }
</script>

<style scoped>
    div.tabs {
        background-color: #f2f4f6;
    }
    div.tabs > ul.socialites {
        padding: 8px;
    }
    ul.socialites, ul.socialites > li:nth-child(1) {
        padding-left: 0;
        margin-left: 0;
    }
    ul.socialites > li {
        text-align: center;
        border-right: 1px solid #dbdbdb;
    }
    ul.socialites > li:last-child {
        border-right: 1px solid transparent;
    }
    .tabs > ul.socialites {
        border: 1px solid #dbdbdb;
        display: flex;
    }
    .tabs a {
        color: #4a4a4a;
        text-decoration: none;
        padding: .5em 1em;
        align-items: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    ul.socialites {
        list-style: none;
        padding: 5px 20px;
    }
    li.is-active > a {
        color: #34ace9;
        font-weight: bold;
    }
</style>
