<template>
  <div class="template-container">
    <div class="icon_anime" v-show="isSuccess || isError">
        <sweetalert-icon v-show="isSuccess" icon="success"></sweetalert-icon>
        <sweetalert-icon v-show="isError" icon="success"></sweetalert-icon>
    </div>
    <site-header/>
    <site-sidebar type="basic"/>
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
    <site-footer/>
  </div>
</template>
<script type="text/babel">
import SiteHeader from "./partials/Header";
import SiteSidebar from "./partials/Sidebar";
import SiteFooter from "./partials/Footer";
import {bus} from "../../helpers/bus";
import Constant from "../../helpers/constants";
import SweetalertIcon from 'vue-sweetalert-icons';
export default {
  data() {
    return {
        isSuccess : false,
        isError: false,
    }
  },
  components: {
    SiteHeader, SiteSidebar, SiteFooter, SweetalertIcon
  },
  mounted () {
      let scope = this;
      bus.$on(Constant.DIALOG_SIGNAL_SUCCESS, function (value) {
          scope.isSuccess = value;
          setTimeout(function () {
              scope.isSuccess = false;
          }, 1500);
      });
      bus.$on(Constant.DIALOG_SIGNAL_ERROR, function (value) {
          scope.isError = value;
          setTimeout(function () {
              scope.isError = false;
          }, 1500);
      });
  },
}
</script>
<style scoped>
    div.icon_anime {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        top: 50%;
    }
</style>

