<template>
    <div>
        <div id="loading-area"></div>
        <!-- header -->
        <header class="site-header mo-left header">
            <div class="top-bar">
                <div class="container">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="dlab-topbar-left">
                            <ul>
                                <li><i class="la la-phone-volume"></i> +00 888 6668811</li>
                                <li><i class="las la-map-marker"></i> 1073 W Stephen Ave, Clawson</li>
                            </ul>
                        </div>
                        <div class="dlab-topbar-right">
                            <ul>
                                <li><i class="la la-clock"></i>  Mon - Sat 8.00 - 18.00</li>
                                <li><i class="las la-envelope-open"></i> info@example.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main header -->
            <div class="sticky-header main-bar-wraper navbar-expand-lg">
                <div class="main-bar clearfix ">
                    <div class="container clearfix">
                        <!-- website logo -->
                        <div class="logo-header mostion logo-dark">
                            <a href="index.html"><img src="images/logo.png" alt=""></a>
                        </div>
                        <!-- nav toggle button -->
                        <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- extra nav -->
                        <div class="extra-nav">
                            <div class="extra-cell">
                                <button id="quik-search-btn" type="button" class="site-button-link"><i class="la la-search"></i></button>
                                <a href="javascript:void(0);" class="site-button btnhover13">Apply Now</a>
                            </div>
                        </div>
                        <!-- Quik search -->
                        <div class="dlab-quik-search ">
                            <form action="#">
                                <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                                <span id="quik-search-remove"><i class="ti-close"></i></span>
                            </form>
                        </div>
                        <!-- main nav -->
                        <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                            <div class="logo-header d-md-block d-lg-none">
                                <a href="index.html"><img src="images/logo.png" alt=""></a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="javascript:;">Home<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu right">
                                        <li><a href="index.html">Home - University</a></li>
                                        <li><a href="index-2.html">Home - Kindergarten</a></li>
                                        <li><a href="index-3.html">Home - Collage</a></li>
                                        <li><a href="index-4.html">Home - Coaching</a></li>
                                        <li><a href="index-5.html">Home - School</a></li>
                                        <li><a href="index-6.html">Home - Online Courese</a></li>
                                        <li><a href="index-7.html">Home - Language School</a></li>
                                        <li><a href="index-8.html">Home - Kids School</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Features<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu tab-content">
                                        <li>
                                            <a href="javascript:;">Header Light <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="header-style-1.html">Header 1</a></li>
                                                <li><a href="header-style-2.html">Header 2</a></li>
                                                <li><a href="header-style-3.html">Header 3</a></li>
                                                <li><a href="header-style-4.html">Header 4</a></li>
                                                <li><a href="header-style-5.html">Header 5</a></li>
                                                <li><a href="header-style-6.html">Header 6</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Header Dark <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="header-style-dark-1.html">Header 1</a></li>
                                                <li><a href="header-style-dark-2.html">Header 2</a></li>
                                                <li><a href="header-style-dark-3.html">Header 3</a></li>
                                                <li><a href="header-style-dark-4.html">Header 4</a></li>
                                                <li><a href="header-style-dark-5.html">Header 5</a></li>
                                                <li><a href="header-style-dark-6.html">Header 6</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Footer <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="footer-1.html">Footer 1 </a></li>
                                                <li><a href="footer-2.html">Footer 2</a></li>
                                                <li><a href="footer-3.html">Footer 3</a></li>
                                                <li><a href="footer-4.html">Footer 4</a></li>
                                                <li><a href="footer-5.html">Footer 5</a></li>
                                                <li><a href="footer-6.html">Footer 6</a></li>
                                                <li><a href="footer-7.html">Footer 7</a></li>
                                                <li><a href="footer-8.html">Footer 8</a></li>
                                                <li><a href="footer-9.html">Footer 9</a></li>
                                                <li><a href="footer-10.html">Footer 10</a></li>
                                                <li><a href="footer-11.html">Footer 11</a></li>
                                                <li><a href="footer-12.html">Footer 12</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-mega-menu"> <a href="javascript:;">Pages<i class="fa fa-chevron-down"></i></a>
                                    <ul class="mega-menu">
                                        <li>
                                            <a href="javascript:;">Pages</a>
                                            <ul>
                                                <li><a href="about-1.html">About us 1</a></li>
                                                <li><a href="about-2.html">About us 2</a></li>
                                                <li><a href="services-1.html">Services 1</a></li>
                                                <li><a href="services-2.html">Services 2</a></li>
                                                <li><a href="faq-1.html">Faqs </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Pages</a>
                                            <ul>
                                                <li><a href="teacher.html">Teachers</a></li>
                                                <li><a href="teachers-profile.html">Teachers Profile</a></li>
                                                <li><a href="courses.html">Courses</a></li>
                                                <li><a href="courses-details.html">Courses Details</a></li>
                                                <li><a href="event.html">Events</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Pages</a>
                                            <ul>
                                                <li><a href="event-details.html">Events Details</a></li>
                                                <li><a href="help-desk.html">Help Desk</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                <li><a href="error-404.html">Error 404</a></li>
                                                <li><a href="error-405.html">Error 405</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Pages</a>
                                            <ul>
                                                <li><a href="gallery-grid-2.html">Gallery Grid 2</a></li>
                                                <li><a href="gallery-grid-3.html">Gallery Grid 3</a></li>
                                                <li><a href="gallery-grid-4.html">Gallery Grid 4</a></li>
                                                <li><a href="coming-soon-1.html">Coming Soon 1</a></li>
                                                <li><a href="coming-soon-2.html">Coming Soon 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Shop<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                                        <li><a href="shop-product-details.html">Product Details</a></li>
                                        <li><a href="shop-cart.html">Cart</a></li>
                                        <li><a href="shop-wishlist.html">Wishlist</a></li>
                                        <li><a href="shop-checkout.html">Checkout</a></li>
                                        <li><a href="shop-login.html">Login</a></li>
                                        <li><a href="shop-register.html">Register</a></li>
                                    </ul>
                                </li>
                                <li class="has-mega-menu"> <a href="javascript:;">Blog<i class="fa fa-chevron-down"></i></a>
                                    <ul class="mega-menu">
                                        <li> <a href="javascript:;">Blog</a>
                                            <ul>
                                                <li><a href="blog-half-img.html">Half image</a></li>
                                                <li><a href="blog-half-img-sidebar.html">Half image sidebar</a></li>
                                                <li><a href="blog-half-img-left-sidebar.html">Half image sidebar left</a></li>
                                                <li><a href="blog-large-img.html">Large image</a></li>
                                            </ul>
                                        </li>
                                        <li> <a href="javascript:;">Blog</a>
                                            <ul>
                                                <li><a href="blog-large-img-sidebar.html">Large image sidebar</a></li>
                                                <li><a href="blog-large-img-left-sidebar.html">Large image sidebar left</a></li>
                                                <li><a href="blog-grid-2.html">Grid 2</a></li>
                                                <li><a href="blog-grid-2-sidebar.html">Grid 2 sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li> <a href="javascript:;">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid-2-sidebar-left.html">Grid 2 sidebar left</a></li>
                                                <li><a href="blog-grid-3.html">Grid 3</a></li>
                                                <li><a href="blog-grid-3-sidebar.html">Grid 3 sidebar</a></li>
                                                <li><a href="blog-grid-3-sidebar-left.html">Grid 3 sidebar left</a></li>
                                            </ul>
                                        </li>
                                        <li> <a href="javascript:;">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid-4.html">Grid 4</a></li>
                                                <li><a href="blog-single.html">Single</a></li>
                                                <li><a href="blog-single-sidebar.html">Single sidebar</a></li>
                                                <li><a href="blog-single-left-sidebar.html">Single sidebar right</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-mega-menu"> <a href="javascript:;">Element<i class="fa fa-chevron-down"></i></a>
                                    <ul class="mega-menu">
                                        <li><a href="javascript:;">Element</a>
                                            <ul>
                                                <li><a href="shortcode-buttons.html"><i class="ti-mouse"></i> Buttons</a></li>
                                                <li><a href="shortcode-icon-box-styles.html"><i class="ti-layout-grid2"></i> Icon box styles</a></li>
                                                <li><a href="shortcode-pricing-table.html"><i class="ti-layout-grid2-thumb"></i> Pricing table</a></li>
                                                <li><a href="shortcode-toggles.html"><i class="ti-layout-accordion-separated"></i> Toggles</a></li>
                                                <li><a href="shortcode-team.html"><i class="ti-user"></i> Team</a></li>
                                                <li><a href="shortcode-animation-effects.html"><i class="ti-layers-alt"></i> Animation Effects</a></li>
                                            </ul>
                                        </li>
                                        <li> <a href="javascript:;">Element</a>
                                            <ul>
                                                <li><a href="shortcode-carousel-sliders.html"><i class="ti-layout-slider"></i> Carousel sliders</a></li>
                                                <li><a href="shortcode-image-box-content.html"><i class="ti-image"></i> Image box content</a></li>
                                                <li><a href="shortcode-tabs.html"><i class="ti-layout-tab-window"></i> Tabs</a></li>
                                                <li><a href="shortcode-counters.html"><i class="ti-timer"></i> Counters</a></li>
                                                <li><a href="shortcode-shop-widgets.html"><i class="ti-shopping-cart"></i> Shop Widgets</a></li>
                                                <li><a href="shortcode-filters.html"><i class="ti-check-box"></i> Gallery Filters</a></li>
                                            </ul>
                                        </li>
                                        <li> <a href="javascript:;">Element</a>
                                            <ul>
                                                <li><a href="shortcode-accordians.html"><i class="ti-layout-accordion-list"></i> Accordians</a></li>
                                                <li><a href="shortcode-dividers.html"><i class="ti-layout-list-post"></i> Dividers</a></li>
                                                <li><a href="shortcode-images-effects.html"><i class="ti-layout-media-overlay"></i> Images effects</a></li>
                                                <li><a href="shortcode-testimonials.html"><i class="ti-comments"></i> Testimonials</a></li>
                                                <li><a href="shortcode-pagination.html"><i class="ti-more"></i> Pagination</a></li>
                                                <li><a href="shortcode-alert-box.html"><i class="ti-alert"></i> Alert box</a></li>
                                            </ul>
                                        </li>
                                        <li> <a href="javascript:;">Element</a>
                                            <ul>
                                                <li><a href="shortcode-icon-box.html"><i class="ti-layout-media-left-alt"></i> Icon Box</a></li>
                                                <li><a href="shortcode-list-group.html"><i class="ti-list"></i> List group</a></li>
                                                <li><a href="shortcode-title-separators.html"><i class="ti-layout-line-solid"></i> Title Separators</a></li>
                                                <li><a href="shortcode-all-widgets.html"><i class="ti-widgetized"></i> Widgets</a></li>
                                                <li><a href="shortcode-carousel-sliders.html"><i class="ti-layout-slider"></i> Carousel sliders</a></li>
                                                <li><a href="shortcode-image-box-content.html"><i class="ti-image"></i> Image box content</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Contact Us<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu right">
                                        <li><a href="contact-1.html">Contact us 1</a></li>
                                        <li><a href="contact-2.html">Contact us 2</a></li>
                                        <li><a href="contact-3.html">Contact us 3</a></li>
                                        <li><a href="contact-4.html">Contact us 4</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="dlab-social-icon">
                                <ul>
                                    <li><a class="site-button circle fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="site-button  circle fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="site-button circle fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="site-button circle fa fa-instagram" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main header END -->
        </header>
        <!-- header END -->
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- Main Slider -->
            <div class="rev-slider">
                <div id="rev_slider_1164_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="exploration-header" data-source="gallery" style="background-color:transparent;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                    <div id="rev_slider_1164_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-3204" data-transition="slideoververtical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/main-slider/slide8.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="2000" data-fsslotamount="7" data-saveperformance="off"  data-title="" data-param1="What our team has found in the wild" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="images/main-slider/slide8.png"  alt=""  data-lazyload="images/main-slider/slide8.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper"
                                     id="slide-101-layer-14"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 5;font-family:Open Sans; background-color:rgba(0,0,0,0.15); background-size:100%; background-repeat:no-repeat; background-position:bottom;">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption"
                                     id="slide-3204-layer-2"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['-210','-180','0','0']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-voffset="['-80','-5','-180','-150']"
                                     data-width="['700','600','600','260']"
                                     data-fontsize="['60','45','30','24']"
                                     data-lineheight="['70','45','36','30']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-textAlign="['left','left','center','center']"
                                     data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; white-space: normal; color:#fff; font-family: 'Poppins', serif; border-width:0px; font-weight:600; font-family:'Merriweather', serif;">
                                    Get Your Business To <br>Scale Up Quickly
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption tp-resizeme rs-parallaxlevel-1"
                                     id="slide-100-layer-5"
                                     data-x="['right','right','middle','middle']" data-hoffset="['-330','-400','0','0']"
                                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-40','-40','-20','-100']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":250,"speed":5000,"frame":"0","from":"y:50px;rZ:5deg;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 11;">
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption  "
                                     id="slide-3204-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['-255','-230','0','0']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-voffset="['50','40','-100','-60']"
                                     data-width="['600','500','500','350']"
                                     data-fontsize="['18','16','14','14']"
                                     data-lineheight="['30','26','24','24']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                     data-textAlign="['left','left','center','center']"
                                     data-paddingtop="[0,100,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; white-space: normal; color:#fff; font-family:'Montserrat', sans-serif; border-width:0px; font-weight:400;">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.
                                </div>
                                <!-- LAYER NR. 5 -->
                                <a class="tp-caption rev-btn bg-primary btnhover13 tp-resizeme"
                                   href="about-1.html" target="_blank"
                                   id="slide-411-layer-13"
                                   data-x="['center','center','center','center']"
                                   data-hoffset="['-470','-400','-90','-70']"
                                   data-y="['center','center','middle','middle']"
                                   data-voffset="['150','180','-20','40']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
                                   data-type="button"
                                   data-actions=''
                                   data-basealign="slide"
                                   data-responsive_offset="off"
                                   data-responsive="off"
                                   data-frames='[{"delay":"+690","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255, 255, 255, 1.00);bg:var(--color-hover);"}]'
                                   data-margintop="[0,0,0,0]"
                                   data-marginright="[0,0,0,0]"
                                   data-marginbottom="[0,0,0,0]"
                                   data-marginleft="[0,0,0,0]"
                                   data-textAlign="['inherit','inherit','inherit','inherit']"
                                   data-paddingtop="[0,0,0,0]"
                                   data-paddingright="[35,35,35,20]"
                                   data-paddingbottom="[0,0,0,0]"
                                   data-paddingleft="[35,35,35,20]"
                                   style="z-index: 13; white-space: normal; font-size: 17px; line-height: 50px; font-weight: 500; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:0;border-radius:4px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Read More
                                </a>
                                <a class="tp-caption rev-btn tp-resizeme btnhover13"
                                   href="about-1.html" target="_blank"
                                   id="slide-411-layer-12"
                                   data-x="['center','center','center','center']"
                                   data-hoffset="['-290','-230','90','70']"
                                   data-y="['center','center','middle','middle']"
                                   data-voffset="['150','180','-20','40']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
                                   data-type="button"
                                   data-actions=''
                                   data-basealign="slide"
                                   data-responsive_offset="off"
                                   data-responsive="off"
                                   data-frames='[{"delay":"+690","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"}]'
                                   data-margintop="[0,0,0,0]"
                                   data-marginright="[0,0,0,0]"
                                   data-marginbottom="[0,0,0,0]"
                                   data-marginleft="[0,0,0,0]"
                                   data-textAlign="['inherit','inherit','inherit','inherit']"
                                   data-paddingtop="[0,0,0,0]"
                                   data-paddingright="[34,34,34,19]"
                                   data-paddingbottom="[0,0,0,0]"
                                   data-paddingleft="[34,34,34,19]"
                                   style="z-index: 13; white-space: normal; font-size: 17px; line-height: 50px; font-weight: 500; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:1px 1px 1px 1px;border-radius:4px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">About Us
                                </a>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div><!-- END REVOLUTION SLIDER -->
            </div>
            <!-- Main Slider -->
            <!-- contact area -->
            <div class="content-block">
                <!-- About Company -->
                <div class="section-full bg-gray content-inner about-carousel-ser">
                    <div class="container">
                        <div class="section-head text-center">
                            <h2 class="title">POPULAR COURSES</h2>
                            <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3 col-sm-6">
                                <div class="dlab-box courses-bx">
                                    <div class="dlab-media">
                                        <img src="images/our-services/pic1.jpg" alt="">
                                        <div class="user-info">
                                            <img src="images/testimonials/pic1.jpg" alt="">
                                            <h6 class="title">Jack Ronan</h6>
                                            <div class="review">
                                                <ul class="item-review">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <span>10 Review</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dlab-info">
                                        <h6 class="dlab-title"><a href="courses-details.html">Learn Python – Interactive Python Tutorial</a></h6>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                        <div class="courses-info">
                                            <ul>
                                                <li><i class="fa fa-users"></i> 20 Student </li>
                                            </ul>
                                            <span class="price">$79.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-sm-6">
                                <div class="dlab-box courses-bx">
                                    <div class="dlab-media">
                                        <img src="images/our-services/pic2.jpg" alt="">
                                        <div class="user-info">
                                            <img src="images/testimonials/pic2.jpg" alt="">
                                            <h6 class="title">Jack Ronan</h6>
                                            <div class="review">
                                                <ul class="item-review">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <span>10 Review</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dlab-info">
                                        <h6 class="dlab-title"><a href="courses-details.html">Learn Python – Interactive Python Tutorial</a></h6>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                        <div class="courses-info">
                                            <ul>
                                                <li><i class="fa fa-users"></i> 20 Student </li>
                                            </ul>
                                            <span class="price">$79.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-sm-6">
                                <div class="dlab-box courses-bx">
                                    <div class="dlab-media">
                                        <img src="images/our-services/pic3.jpg" alt="">
                                        <div class="user-info">
                                            <img src="images/testimonials/pic3.jpg" alt="">
                                            <h6 class="title">Jack Ronan</h6>
                                            <div class="review">
                                                <ul class="item-review">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <span>10 Review</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dlab-info">
                                        <h6 class="dlab-title"><a href="courses-details.html">Learn Python – Interactive Python Tutorial</a></h6>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                        <div class="courses-info">
                                            <ul>
                                                <li><i class="fa fa-users"></i> 20 Student </li>
                                            </ul>
                                            <span class="price">$79.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-sm-6">
                                <div class="dlab-box courses-bx">
                                    <div class="dlab-media">
                                        <img src="images/our-services/pic4.jpg" alt="">
                                        <div class="user-info">
                                            <img src="images/testimonials/pic2.jpg" alt="">
                                            <h6 class="title">Jack Ronan</h6>
                                            <div class="review">
                                                <ul class="item-review">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <span>10 Review</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dlab-info">
                                        <h6 class="dlab-title"><a href="courses-details.html">Learn Python – Interactive Python Tutorial</a></h6>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                        <div class="courses-info">
                                            <ul>
                                                <li><i class="fa fa-users"></i> 20 Student </li>
                                            </ul>
                                            <span class="price">$79.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About Company END -->
                <!-- Our Projects  -->
                <div class="section-full bg-img-fix content-inner-2 overlay-black-dark contact-action style2" style="background-image:url(images/background/bg2.jpg);">
                    <div class="container">
                        <div class="row relative">
                            <div class="col-md-12 col-lg-8 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                                <div class="contact-no-area">
                                    <h2 class="title">Create your free account now and get immediate access to 100s of online courses.</h2>
                                    <form action="script/mailchamp.php" method="post" class="dzSubscribe subscribe-box row align-items-center sp15">
                                        <div class="col-lg-12">
                                            <div class="dzSubscribeMsg"></div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="input-group">
                                                <input name="dzName" required="required" type="text" class="form-control" placeholder="Your Name ">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="input-group">
                                                <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="input-group">
                                                <button name="submit" value="Submit" type="submit" class="site-button btn-block btnhover13">Subscribe</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4 contact-img-bx wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <img src="images/pic1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Our Projects END -->
                <!-- Our Services -->
                <div class="section-full bg-white content-inner">
                    <div class="container">
                        <div class="row service-area-one">
                            <div class="col-lg-4 m-b30 hidden-sm">
                                <div class="rdx-thu"><img src="images/student1.png" alt=""></div>
                            </div>
                            <div class="col-lg-8">
                                <div class="section-head">
                                    <h2 class="title"> Welcome To HubTechoo</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 m-b30">
                                        <div class="icon-bx-wraper left">
                                            <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-paint-brush"></i></a> </div>
                                            <div class="icon-content">
                                                <h5 class="rdx-tilte">Special Education</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 m-b30">
                                        <div class="icon-bx-wraper left">
                                            <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-calendar"></i></a> </div>
                                            <div class="icon-content">
                                                <h5 class="rdx-tilte">Events</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 m-b30">
                                        <div class="icon-bx-wraper left">
                                            <div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-book"></i></a> </div>
                                            <div class="icon-content">
                                                <h5 class="rdx-tilte">Full Day Session</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 m-b30">
                                        <div class="icon-bx-wraper left">
                                            <div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-graduation-cap"></i></a> </div>
                                            <div class="icon-content">
                                                <h5 class="rdx-tilte">Pre Classes </h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 m-b30">
                                        <div class="icon-bx-wraper left">
                                            <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                                            <div class="icon-content">
                                                <h5 class="rdx-tilte">Qualified Teachers</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 m-b30">
                                        <div class="icon-bx-wraper left serb">
                                            <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-clock-o"></i></a> </div>
                                            <div class="icon-content">
                                                <h5 class="rdx-tilte">24/7 Supports</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Our Services End -->
                <!-- Company staus -->
                <div class="section-full text-white bg-img-fix content-inner overlay-black-dark counter-staus-box" style="background-image:url(images/background/bg4.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.2s">
                                <div class="icon-bx-wraper center">
                                    <div class="icon-content">
                                        <h2 class="dlab-tilte counter">1226</h2>
                                        <p>Happy Students</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.4s">
                                <div class="icon-bx-wraper center">
                                    <div class="icon-content">
                                        <h2 class="dlab-tilte counter">1552</h2>
                                        <p>Approved Courses</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s">
                                <div class="icon-bx-wraper center">
                                    <div class="icon-content">
                                        <h2 class="dlab-tilte counter">1156</h2>
                                        <p>Certified Teachers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s">
                                <div class="icon-bx-wraper center">
                                    <div class="icon-content">
                                        <h2 class="dlab-tilte counter">2100</h2>
                                        <p>Graduate Students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Company staus End -->
                <!-- Team member -->
                <div class="section-full bg-gray content-inner">
                    <div class="container">
                        <div class="section-head text-center ">
                            <h2 class="title"> Meet The Teacher</h2>
                            <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                                <div class="dlab-box m-b30 dlab-team1">
                                    <div class="dlab-media">
                                        <a href="teachers-profile.html">
                                            <img width="358" height="460" alt="" src="images/our-team/preview.jpg" class="lazy" data-src="images/our-team/pic17.jpg">
                                        </a>
                                    </div>
                                    <div class="dlab-info">
                                        <h4 class="dlab-title"><a href="teachers-profile.html">Nashid Martines</a></h4>
                                        <span class="dlab-position">Director</span>
                                        <ul class="dlab-social-icon dez-border">
                                            <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                                <div class="dlab-box m-b30 dlab-team1">
                                    <div class="dlab-media">
                                        <a href="teachers-profile.html">
                                            <img width="358" height="460" alt="" src="images/our-team/preview.jpg" class="lazy" data-src="images/our-team/pic16.jpg">
                                        </a>
                                    </div>
                                    <div class="dlab-info">
                                        <h4 class="dlab-title"><a href="teachers-profile.html">Konne Backfield</a></h4>
                                        <span class="dlab-position">Designer</span>
                                        <ul class="dlab-social-icon dez-border">
                                            <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                                <div class="dlab-box m-b30 dlab-team1">
                                    <div class="dlab-media">
                                        <a href="teachers-profile.html">
                                            <img width="358" height="460" alt="" src="images/our-team/preview.jpg" class="lazy" data-src="images/our-team/pic15.jpg">
                                        </a>
                                    </div>
                                    <div class="dlab-info">
                                        <h4 class="dlab-title"><a href="teachers-profile.html">Hackson Willingham</a></h4>
                                        <span class="dlab-position">Developer</span>
                                        <ul class="dlab-social-icon dez-border">
                                            <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                                <div class="dlab-box m-b30 dlab-team1">
                                    <div class="dlab-media">
                                        <a href="teachers-profile.html">
                                            <img width="358" height="460" alt="" src="images/our-team/preview.jpg" class="lazy" data-src="images/our-team/pic18.jpg">
                                        </a>
                                    </div>
                                    <div class="dlab-info">
                                        <h4 class="dlab-title"><a href="teachers-profile.html">Konne Backfield</a></h4>
                                        <span class="dlab-position">Manager</span>
                                        <ul class="dlab-social-icon dez-border">
                                            <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Team member End -->
                <!-- Testimonials blog -->
                <div class="section-full overlay-black-middle bg-secondry content-inner-2 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s" style="background-image:url(images/background/map-bg.png);">
                    <div class="container">
                        <div class="section-head text-white text-center">
                            <h2 class="title">What People Are Saying</h2>
                            <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                        </div>
                        <div class="section-content">
                            <div class="testimonial-two-dots owl-carousel owl-none owl-theme owl-dots-primary-full owl-loaded owl-drag">
                                <div class="item">
                                    <div class="testimonial-15 quote-right">
                                        <div class="testimonial-text ">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                                        </div>
                                        <div class="testimonial-detail clearfix">
                                            <div class="testimonial-pic radius"><img src="images/testimonials/pic3.jpg" width="100" height="100" alt=""></div>
                                            <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-15 quote-right">
                                        <div class="testimonial-text">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                                        </div>
                                        <div class="testimonial-detail clearfix">
                                            <div class="testimonial-pic radius"><img src="images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
                                            <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-15 quote-right">
                                        <div class="testimonial-text">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                                        </div>
                                        <div class="testimonial-detail clearfix">
                                            <div class="testimonial-pic radius"><img src="images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                                            <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-15 quote-right">
                                        <div class="testimonial-text ">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                                        </div>
                                        <div class="testimonial-detail clearfix">
                                            <div class="testimonial-pic radius"><img src="images/testimonials/pic3.jpg" width="100" height="100" alt=""></div>
                                            <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-15 quote-right">
                                        <div class="testimonial-text">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                                        </div>
                                        <div class="testimonial-detail clearfix">
                                            <div class="testimonial-pic radius"><img src="images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
                                            <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-15 quote-right">
                                        <div class="testimonial-text">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                                        </div>
                                        <div class="testimonial-detail clearfix">
                                            <div class="testimonial-pic radius"><img src="images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                                            <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials blog End -->
                <!-- Latest blog -->
                <div class="section-full content-inner bg-gray wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="container">
                        <div class="section-head text-center">
                            <h2 class="title">Latest blog post</h2>
                            <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                        </div>
                        <div class="blog-carousel owl-none owl-carousel">
                            <div class="item">
                                <div class="blog-post blog-grid blog-rounded blog-effect1 post-style-1">
                                    <div class="dlab-post-media dlab-img-effect">
                                        <a href="blog-single.html"><img src="images/blog/grid/pic2.jpg" alt=""></a>
                                    </div>
                                    <div class="dlab-info p-a20">
                                        <div class="dlab-post-meta">
                                            <ul>
                                                <li class="post-author"> <i class="la la-user-circle"></i> By <a href="javascript:void(0);">Reuben</a> </li>
                                                <li class="post-tag"> <a href="javascript:void(0);">Event</a> </li>
                                            </ul>
                                        </div>
                                        <div class="dlab-post-title">
                                            <h4 class="post-title"><a href="blog-single.html">The Shocking Revelation of Education.</a></h4>
                                        </div>
                                        <div class="dlab-post-text">
                                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                        </div>
                                        <div class="post-footer">
                                            <div class="dlab-post-meta">
                                                <ul>
                                                    <li class="post-date"> <i class="la la-clock"></i> <strong>01 June</strong> <span> 2020</span> </li>
                                                </ul>
                                            </div>
                                            <ul class="dlab-social-icon dez-border">
                                                <li><a class="site-button facebook circle-sm fa fa-facebook" href="javascript:void(0);"></a></li>
                                                <li><a class="site-button twitter circle-sm fa fa-twitter " href="javascript:void(0);"></a></li>
                                                <li><a class="site-button linkedin circle-sm fa fa-linkedin " href="javascript:void(0);"></a></li>
                                                <li><a class="site-button instagram circle-sm fa fa-instagram  " href="javascript:void(0);"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="blog-post blog-grid blog-rounded blog-effect1 post-style-1">
                                    <div class="dlab-post-media dlab-img-effect">
                                        <a href="blog-single.html"><img src="images/blog/grid/pic3.jpg" alt=""></a>
                                    </div>
                                    <div class="dlab-info p-a20">
                                        <div class="dlab-post-meta">
                                            <ul>
                                                <li class="post-author"> <i class="la la-user-circle"></i> By <a href="javascript:void(0);">Caroline</a> </li>
                                                <li class="post-tag"> <a href="javascript:void(0);">Education</a> </li>
                                            </ul>
                                        </div>
                                        <div class="dlab-post-title ">
                                            <h4 class="post-title"><a href="blog-single.html">Five Things Nobody Told You About</a></h4>
                                        </div>
                                        <div class="dlab-post-text">
                                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                        </div>
                                        <div class="post-footer">
                                            <div class="dlab-post-meta">
                                                <ul>
                                                    <li class="post-date"> <i class="la la-clock"></i> <strong>01 June</strong> <span> 2020</span> </li>
                                                </ul>
                                            </div>
                                            <ul class="dlab-social-icon dez-border">
                                                <li><a class="site-button facebook circle-sm fa fa-facebook" href="javascript:void(0);"></a></li>
                                                <li><a class="site-button twitter circle-sm fa fa-twitter " href="javascript:void(0);"></a></li>
                                                <li><a class="site-button linkedin circle-sm fa fa-linkedin " href="javascript:void(0);"></a></li>
                                                <li><a class="site-button instagram circle-sm fa fa-instagram  " href="javascript:void(0);"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="blog-post blog-grid blog-rounded blog-effect1 post-style-1">
                                    <div class="dlab-post-media dlab-img-effect">
                                        <a href="blog-single.html"><img src="images/blog/grid/pic4.jpg" alt=""></a>
                                    </div>
                                    <div class="dlab-info p-a20">
                                        <div class="dlab-post-meta">
                                            <ul>
                                                <li class="post-author"> <i class="la la-user-circle"></i> By <a href="javascript:void(0);">Harry</a> </li>
                                                <li class="post-tag"> <a href="javascript:void(0);">knowledge</a> </li>
                                            </ul>
                                        </div>
                                        <div class="dlab-post-title ">
                                            <h4 class="post-title"><a href="blog-single.html">Here's What People Are Saying About</a></h4>
                                        </div>
                                        <div class="dlab-post-text">
                                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                        </div>
                                        <div class="post-footer">
                                            <div class="dlab-post-meta">
                                                <ul>
                                                    <li class="post-date"> <i class="la la-clock"></i> <strong>01 June</strong> <span> 2020</span> </li>
                                                </ul>
                                            </div>
                                            <ul class="dlab-social-icon dez-border">
                                                <li><a class="site-button facebook circle-sm fa fa-facebook" href="javascript:void(0);"></a></li>
                                                <li><a class="site-button twitter circle-sm fa fa-twitter " href="javascript:void(0);"></a></li>
                                                <li><a class="site-button linkedin circle-sm fa fa-linkedin " href="javascript:void(0);"></a></li>
                                                <li><a class="site-button instagram circle-sm fa fa-instagram  " href="javascript:void(0);"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Latest blog END -->
                <!-- Client logo -->
                <div class="section-full dlab-we-find bg-img-fix p-t20 p-b20 bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                    <div class="container">
                        <div class="section-content">
                            <div class="client-logo-carousel mfp-gallery gallery owl-btn-center-lr owl-carousel owl-btn-3">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo"><a href="javascript:void(0);"><img src="images/client-logo/logo1.jpg" alt=""></a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo"> <a href="javascript:void(0);"><img src="images/client-logo/logo2.jpg" alt=""></a> </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo"> <a href="javascript:void(0);"><img src="images/client-logo/logo1.jpg" alt=""></a> </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo"> <a href="javascript:void(0);"><img src="images/client-logo/logo3.jpg" alt=""></a> </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo"> <a href="javascript:void(0);"><img src="images/client-logo/logo4.jpg" alt=""></a> </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo"> <a href="javascript:void(0);"><img src="images/client-logo/logo3.jpg" alt=""></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Client logo END -->
            </div>
        </div>
        <!-- Content END-->
        <!-- Newsletter -->
        <div class="section-full p-tb50 bg-primary text-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 m-md-b30">
                        <h4>Subscribe To Our Newsletter</h4>
                        <p class="m-b0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
                    </div>
                    <div class="col-md-5">
                        <h4>Your Email Address</h4>
                        <form class="dzSubscribe style1" action="script/mailchamp.php" method="post">
                            <div class="dzSubscribeMsg"></div>
                            <div class="input-group">
                                <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
                                <div class="input-group-addon">
                                    <button name="submit" value="Submit" type="submit" class="site-button-secondry btnhover13">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <site-footer></site-footer>
        <!-- Footer END-->
        <button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
    </div>
</template>
<script>
import SiteFooter from "./partials/front-office/Footer.vue"
export default {
    components: {
        SiteFooter
    }
}
</script>
